#main {
	padding-top: 0px;
}
/* Start: orderConfimationContainer */
#container .completeyourorder {float: left;width: 100%;margin-top:15px;}
#container .completeyourorder button{background: url("../images/cartRefresh/BlueInlineBtn.png") no-repeat left -301px;border: 0 none;color: #FFFFFF; float: right;  font-size: 18px; font-weight: bold;padding: 13px 5px;width: 265px;text-indent:-9999px;}
#container .completeyourorder button:hover{background-position: 0px -352px;}#container .orderConfimationContainer{ padding:0 0 10px; border: solid 1px #ccc; width:100%; font-size:12px; display:inline-block; line-height:normal; border-radius:5px;}
#container .orderConfimationContainer .ch_selected_products{margin-top:10px; width: 613px;}
.ch_selected_products td {font-size:12px;}
.ch_selected_products .detailscolumn {   width: 70%;}
#container .orderConfimationContainer .detailscolumn{ width:auto;}
#container .ordersummary{margin:19px 0 0 0;}
#container .ordersummary{padding: 10px; margin-bottom: 12px;}
#container .ordersummaryprice div{margin-bottom:8px; float: right; clear: right; margin-right:29px;font-size:12px;}
#container .summaryblock{float:left;width:100%;}
#container #orderConfirmNum,
#container .ordersummaryprice .merchandiseTotal,
#container .ordersummaryprice .shippingMethod,
#container .ordersummaryprice .totalPrice{display: inline;}
#container .ordersummaryprice .totalPrice{float:right;}

#container .campaignPhoneSection .phonevalue{ border-bottom: 1px solid #D6D6D6; padding-left: 10px;}

#container .orderConfimationContainer .quantitycolumn,
#container .orderConfimationContainer .itemtotalcolumn{text-align:right; width:75px;}
#container .orderConfimationContainer .errorform{ padding:5px 10px 0 10px; clear:both;}
#container .quantitycolumn .qtyvalue { display: inline;}

#container .orderConfimationContainer .ch_selected_products td{padding: 10px 0 0;}
#container .orderConfimationContainer .quantitycolumn .quantityLabel{padding-right:3px;}
#container .custInfo{padding: 20px 0 14px;}
#container .completeyourorder .reviewContOrder .continueBtn{ float: right; margin-bottom: 15px;}
#container .selectedMethod{ padding: 10px 0; width: 300px;}
#container .paymentandshippinginfo .paymentinfo > div { margin-bottom: 10px;}
#container .orderConfimationContainer .ordersummary{margin-bottom: 28px;}

/* Empty cart */
.emptyCartBlock h1{margin-top:20px 0 5px; }
.emptyCartBlock .cartempty{margin:20px 0; color: #555555; font-size: 14px; font-weight: bold;}
.emptyCartBlock  .backToShopping .aButton{width:190px;}

#container .arrivePeriod, 
#container .ordersummary,
#container .confirmemail,
#container .orderno,
#container .yourinformation,
#container .callUsText{ clear:both; float:left; padding:0px 10px; width: 645px;}
#container .yourinformation .customername,#container .yourinformation .customeremail { margin-top: 10px;}
#container .callUsText{ padding:30px 10px 0; font-size:13px;}
#container .ordersummary h2,
#container .yourinformation h2{padding-bottom: 10px; border-bottom: solid 1px #c0c0c0; font-size:20px; color: #322F31;}
#container .ordersummaryprice{border-top: solid 1px #ccc;padding-top: 13px;float:left; width:100%;}
#container .ordersummaryprice .merchandiseTotal,
#container .ordersummaryprice .shippingMethod,
#container .ordersummaryprice .totalPrice{display: inline; float:right;}
#container .ordersummaryprice .cocart-label{float:left;}
#container .orderno{margin-top:10px;}
#container .paymentandshippinginfo{border-top: solid 1px #ccc; padding-top: 10px; margin-top: 10px; width:100%; display:inline-block;}
#container .paymentandshippinginfo .paymentinfo .paymentinfo-box {float: left; width:285px;}
#container .paymentandshippinginfo .paymentinfo .expires{float: left; width:100px;}
#container .paymentandshippinginfo .billtoaddress{float: left; width:120px;margin-right:20px;}
#container .paymentandshippinginfo .shipptoaddress{float: left; width:120px;}
#container .paymentandshippinginfo .paymentinfo h3,
#container .paymentandshippinginfo .expires h3,
#container .paymentandshippinginfo .billtoaddress h3,
#container .paymentandshippinginfo .shipptoaddress h3{ font-size:13px; font-weight:bold; margin-bottom:10px;}
#container .ordersummaryprice .yourTotal{ font-weight:bold;}
#container .campaignPhoneSection .phonevalue{ border-bottom: 1px solid #D6D6D6; padding-left: 10px;}
#container #questionsimage{text-align: center;}
#container .orderConfimationContainer .serviceMessage{float: left; margin: 20px 0; width: 650px;}
#container .info-container{float:left;margin:20px 0px;background:#FFF;border:1px solid #CCC;}
/* end:orderConfimationContainer */

