#main {
	padding-top: 0px;
}

#header {
	display: none;
}

/* popup */

#popupOverlay{background: white; width: 100%; height: 100%; position: fixed; z-index: 100; filter: alpha(opacity=50); opacity: 0.5; -moz-opacity: 0.5; -webkit-opacity: 0.5; top: 0; left: 0; display: none;}
.upsellarea{}
.upsellarea .upselldescription{display: none;}
.upsellrecommendationpopup{display: none;}
#upsellForHopUp{display: none; position: absolute; z-index: 101; top: 100px; left: 45%; width: 528px;}
.hopupheader{height: 30px; background: transparent url(../images/interface/dialog/dialog-bkd-top.png) left top no-repeat;}
.hopupbody{min-height: 50px; background: transparent url(../images/interface/dialog/dialog-bkd-center.png) left top repeat-y;}
.hopupfooter{height: 30px; background: transparent url(../images/interface/dialog/dialog-bkd-bottom.png) left top no-repeat;}

.hopupclosebtn{}
#upsellForHopUp .hopupclosebtn a{position: relative; float: right; background: url('../images/interface/dialog/close.png') no-repeat; width: 25px; height: 25px; display: block; border: none !important; top: -30px; left: 28px;}
#upsellForHopUp .hopupclosebtn a span{display: none;}
.offer_sidebar_left { text-align:left; }
.hopupbodyinner{margin: 0 30px; background: white; border-radius: 5px;}
.hopuptitle{background: #658634; border-radius: 5px 5px 0 0; color: white !important; padding: 10px;}
.hopuptitleinner{padding: 10px;text-align: center; font-weight:bold; font-size:15px; font-size: 19px;}
.hopupimage{text-align: center;}
.hopupdetails{padding: 0 10px; font-size: 12px; line-height:14px; text-align:left; color:#4E4D4B;}
.hopupcontrols{padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom:20px;}
#upsellForHopUp .nothanksbtn{text-decoration: underline !important; border: none !important; color: #4E6780 !important;}
#upsellForHopUp .nothanksbtn:hover{color: #4e4d4b;}
#upsellForHopUp .addtocartbtn{margin-top: -5px; float: right; height: 26px; width: 114px; background: url(../images/interface/dialog/popupadd.png) left top no-repeat; border: none;}
#upsellForHopUp .addtocartbtn:hover{background-position: left -26px;}
#upsellForHopUp .addtocartbtn span{display: none;}


/* valueUpsell */
#valueUpsellSection #boxTitle{width: 187px; height: 36px; background: url(../images/order/valueUpsell_title.jpg) 0 0 no-repeat; text-indent: -5000px;}
#valueUpsellSection .related_product h4{font-weight: bold;}
#valueUpsellSection .related_product{color: gray; margin-top: 10px;}
#valueUpsellSection .productimage{margin-left: 20px;}
#valueUpsellSection .valueUpsell_topImage{background-image: url(../images/order/valueUpsell_freeshipping.jpg); width: 168px; height: 69px; margin: 5px;}
/* Upsells */
#boxTitle{width: 290px; height: 30px; background: url(../images/order/upsell_title.png) 0 0 no-repeat; text-indent: -5000px;}
#upsellSection .related_product{border-top: solid 1px #ccc; color: gray; margin-top: 10px;}
.upsellcontent{margin: 10px; padding: 0 10px;}
.upsellcontent .addtocartbtn{border: none; margin-top: 5px; background: transparent url('../images/interface/upsell_button.png') no-repeat scroll -4px -4px; cursor: pointer; width: 120px; height: 30px;}
.upsellcontent .addtocartbtn span{display: none;}
.upsellcontent .addtocartbtn:hover{background-position: -4px -44px;}
.upsellcontent .upsell_details_content { text-align:left; }
#upsellSection .related_product a{text-decoration: none; border: none;}
#upsellSection .related_product h4{font-weight: bold;}
.upsell_details_inactive { display:none; }
