/* Tags */
body {background: #d9d9d9 url('../../images/clearzone/cz_lp_gradient_bg.png') repeat-x;}

/* Template Overrides */
.mainWide {background: transparent !important;}
#main {width:980px !important; padding: 0 !important; background: transparent !important;}
#content {background-color: transparent !important;}

/* Clearzone Header */
#cz_lp_header {height: 100px;width: 980px;margin: 0 auto;position: relative;font-size:11px;}
#cz_lp_header a {color:#00a18e;}
#czHeaderLink {display: block;width: 238px;height: 35px;padding: 6px 0 0 10px;position: absolute;left: 10px;bottom: 20px;}
#czCMM {display: block;position: absolute;left: 340px;bottom: 26px;}
#czCMM .cmmReturn {border-right: 1px solid #00a18e;padding: 10px;font-weight:bold;background:url('../../images/clearzone/cz_cmmReturnArrow.png') no-repeat 1px 14px;}
#czCMM .cmmLink {padding:7px;}
#czPALogo {display: block;position: absolute;top: 41px;right: 20px;width: 147px;}

/* Clearzone Footer */
#cz_lp_footer {height: 110px;width: 980px;margin: 0 auto;position: relative;font-size:11px;background: transparent url('../../images/clearzone/cz_lp_footer_bg.png') no-repeat 0 0;clear: both;}
#cz_lp_footer div {position:absolute;}
#cz_lp_footer .czLogo {left: 43px; top: 12px;}
#cz_lp_footer .czCopy {left: 210px;top: 23px;font-size: 12px;}
#cz_lp_footer .czCopyright {right: 42px;bottom: 30px;font-size: 10px;}

/* Clearzone SAS */
body.clearzone_sas {background:#fff !important;}
.sasTop {display:block;width:980px;height:42px;background: transparent url('../../images/clearzone/cz_sas_body_top.png') no-repeat 0 0;}
.sasPage {display:block;width:980px !important;background: transparent url('../../images/clearzone/cz_sas_body_bg.png') repeat-y 0 0;}
.reviewsBg {width:878px;margin:0 0 0 45px;padding:5px;}

