.header {height: 75px;overflow: hidden;}
.header .topNav {display:none;}
.header #logo {top:0px;}
.cart {
	width:100%;
	color: #022c43;
}
.cart .productDescription {
	font-weight:bold;
	color: #0192d7;
	padding: 15px 0;
	float: left;
}
.cart .cocartContainer {
	padding-top: 10px;
}

.cart .orderTotal {
	float:right;
	padding-top: 5px;
}
.cart .orderTotal .totalPrice  {
	font-weight:bold;
}
.requiredindicator {color:red;}
.errorclient{color:red;}
.row {clear:both;}
.cart .orderTotal .cocartLabel  {}
.cart .label {font-size:16px;font-weight:bold;}
.cart .personInfform{clear:both;}
.cart .personInfform h4 {
	font-size:29px;
}
.label{width:100%;float:left;padding: 0px 0 5px 0;}
.cart .personInfform .formfield input{width:90%; border: 1px solid #d3d3d3; margin-bottom: 10px;}
.cart .personInfform .formfield select{width:90%; border: 1px solid #d3d3d3; margin-bottom: 10px;}

.cart .personInfform .billing {border-right: 2px solid #d3d3d3;}
.cart .personInfform .billing .formfield {width:50%;float: left;}
.cart .personInfform .billing {
	width:63%;
	float:left;
}
.cart .personInfform .paymentInfo {
	width:31%;
	float:left;
	padding-left: 4%;
}
.cart .personInfform .paymentInfo .month{width:50%;float:left;}
.cart .personInfform .paymentInfo .year{width:50%;float:left;}

.cart .checkoutBottom {width:50%;text-align: left; padding: 60px 0; color: #4b4c4c; display: block; clear: both; margin: 0 auto;}
.cart .checkoutBottom .agreeBox {width: 80%;margin: 0 auto;}
.cart .checkoutBottom .agreeBox p {float:left;}
.cart .checkoutBottom .agreeBox .checkbox {float:left; padding-right: 5px; padding-top: 3px;}

.cart .checkoutBottom placeOrder {}
.satifaction {font-size:11px;color:#555555;float:left;width:35%; float: right; display: none;}
.placeOrder {
	text-align: center;
}
.placeOrder .greenButton {
	width: 243px;
	height: 59px;
	border: none;
	background: url(../images/place-order.jpg);
}
#agreeTerms {
	text-decoration: underline;
	color: #2084c2;
	padding-left: 5px;
}
.personInfform {
	border-top: 1px solid #ccc;
	padding-top: 20px;
}
.requiredIndicator  {
	display: none;
}
#contYourOrder {
	margin: 10px 0;
}

.errorform {
	color:red;
	font-weight:bold;
	padding: 10px;
	border: 1px solid grey;
}
.orderConfimationContainer .thankyoumessage{color: #414a53;}
.orderConfimationContainer .thankyoumessage h2 {font-size:30px; font-weight:bold;}
.orderConfimationContainer .thankyoumessage .orderConfirmNum{font-size:22px; font-weight:bold;}
.orderConfimationContainer .thankyoumessage #orderConfirmNum{color:#009900;}
.orderConfimationContainer .thankyoumessage .orderno{font-weight: bold; font-size: 22px;}
.orderConfirmationContainer .thankyoumessage .confirmemail {padding: 10px 0;}
.orderConfirmationContainer .thankyoumessage .confirmNote {font-size: 12px; padding: 10px 0;}
.orderConfimationContainer .ordersummary {margin-top: 40px;margin-bottom: 40px;height: 200px;position: relative;width:100%; padding:10px;border-bottom:2px solid #cccccc;border-top:2px solid #cccccc;}
.orderConfimationContainer .ordersummary .productInfo {float:left;}
.orderConfimationContainer .ordersummary .productRight {float:right;text-align: right;}
.orderConfimationContainer .ordersummary h3 {font-weight:bold;font-size:22px;color:#414a53; padding-bottom: 15px;}
.orderConfimationContainer .ordersummary .productbox {float:left;}
.orderConfimationContainer .ordersummary .productDesc {font-size:16px;color:#414a53;}
.orderConfimationContainer .ordersummary .productName {font-weight:bold;font-size:16px;color:#414a53;}
.orderConfimationContainer .ordersummary .productLicense {color:#345da7;}
.orderConfimationContainer .ordersummary .productPrice {color:#000000;font-weight:bold;}
.orderConfimationContainer .ordersummary .orderTotal {margin-bottom: 10px;padding: 5px 20px 5px 20px;position: absolute;right: 0px;bottom: 0px;font-weight:bold;font-size:20px;color:#414a53;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;background: #d6ebff;}
.orderConfimationContainer .phoneContainer {margin-bottom: 40px;margin-top: 40px;width:570px;padding:10px;text-align: center; margin: 0 auto;background: none repeat scroll 0 0 #e8e8e8; border: 1px solid #009900;border-radius: 15px 15px 15px 15px;}
.orderConfimationContainer .phoneContainer .phoneTop {font-weight:bold;font-size:22px;color:#009900;}
.orderConfimationContainer .phoneContainer .phoneNumber {font-weight:bold;font-size:57px;color:#009900;}
.orderConfimationContainer .phoneContainer .phoneBottom {font-weight:bold;font-size:16px;color:#8d8d8d;}
.orderConfimationContainer .phoneContainer {
text-align: center;
width: 500px;
margin: 30px auto 0 auto;
border: 2px solid #090;
padding: 30px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: #666 0px 2px 3px;
-moz-box-shadow: #666 0px 2px 3px;
box-shadow: #666 0px 2px 3px;
background: #FFF;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#e7e7e7));
background: -webkit-linear-gradient(white, #e7e7e7);
background: -moz-linear-gradient(white, #e7e7e7);
background: -ms-linear-gradient(white, #e7e7e7);
background: -o-linear-gradient(white, #e7e7e7);
background: linear-gradient(white, #e7e7e7);
-pie-background: linear-gradient(white, #e7e7e7);
behavior: url(/PIE.htc);
}

.supportinfo {width:100%;font-family: Arial,Helvetica,sans-serif;font-size: 16pxfont-weight: bold;}
.supportinfo ul {margin: 32px;padding:0px;list-style-type: disc;}
.supportinfo p {margin-bottom: 32px;}
.supportinfo li {font-size: 14px;}

/* Phone Number, hide all but default */
.callus .default {display:none;}
.callus .order {display:none;}
.callus .confirm {display:inline;}
.callus .support {display:none;}
.phoneNumber .default {display:none;}
.phoneNumber .order {display:none;}
.phoneNumber .confirm {display:inline;}
.phoneNumber .support {display:none;}

.confirm-footer {margin: 40px 0 0 0;width: 100%;clear: both;border-top: 2px solid #043f7b;}
.confirm-footer .content {width: 1024px;margin: 15px auto 0 auto;}
.confirm-footer .col1 {width: 35px;height: 100px;float: left;text-align: right;}
.confirm-footer .col2 {width: 9740px;float: right;}
.confirm-footer .copyright {font-size: 11px;margin: 15px 0 0 0;color: #777;}

.main_content {}
.mainc_left_column {}
.mainc_right_column {}

.contact_info{
	display:block;
	padding:10px;
}

.billing_address{
	display: inline-block;
	width:170px;
	padding:20px 10px 10px 10px;
}

.payment_info{
	display: inline-block;
	width:170px;
	left:20px;
	padding:0px 10px 10px 10px;
}

.contact_info .formfield, .billing_address .formfield, .payment_info .formfield{
	width:190px;
	float: left;
}

.cont_info_text, .bill_addr_text, .payment_info_text, .payment_info .checkoutBox.paymentInfo h4{
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px solid #145174;
  color: #145174;
  font-size: 13px;
  font-weight:bold;
  padding: 0;
  margin-bottom: 10px;
  }
  
 .payment_info .checkoutBox.paymentInfo h4{margin-right: 0px; text-align: left;}  

.satis_gurantee_title{font-weight: bold;}

.satis_gurantee{
  font-size: 11px;
  font-family: "Arial";
  color: rgb( 118, 110, 100 );
  line-height: 1.2;
  text-align: left;
  position: relative; float: left; top: -20px; padding: 0 10px;
}
.satis_gurantee p {padding-bottom: 15px;}

.guarantee_img{
	padding:10px;
	float: left;
}

.ot_order_total, .ot_net_price{
  font-weight: bold;
}
.continueBtn.orangeButton {
    background: url("../images/OrderButton.png") no-repeat scroll center 0 transparent;
    border: medium none;
    color: black;
    font-family: 'Myriad Pro','Myriad',sans-serif;
    font-size: 22px;
    height: 66px;
    line-height: 0.77;
    margin-right: 20px;
    text-align: center;
    width: 250px;
}

.ot_req_field, .ot_order_total, .ot_net_price{
	display: inline-block;
	padding: 20px;
}

.order_total{
  font-size: 12px;
  border-top: 1px solid #145174;
  border-bottom: 1px solid #145174;
  text-align: center;
}

  #page_slp_checkout .checkoutform{background-color: white;padding-top:10px;}
  #page_slp_checkout .checkoutform input{width: 170px; font-size: 12px;display: block;}
  #page_slp_checkout .checkoutform select{margin-bottom: 2px; font-size: 12px;display: block;}
  
  #page_slp_checkout .labeltext, #page_slp_checkout.label{
  	color:#766e64;
  	font-size: 12px;
  }

  #page_slp_checkout .errorclient {
    color: red;
    font-size: 12px;
  }

  #page_slp_checkout .placeOrder{
	float:right;
	padding: 10px 40px 0 0;
  }

  #page_slp_checkout .checkoutBottom{
	text-align: right;
  }

  #page_slp_checkout.clear{
	clear:both;
  }

.mainc_left_column {
  float: left;
  width: 400px;
  padding: 30px 0 0 14px;
}

.mainc_right_column {
  float: left;
  width: 439px;
  margin:30px 0;
  box-shadow: 0px 0px 9px 0px rgba( 27, 23, 23, 0.23);
}

.payment_info.lable {cursor: none;}

#page_slp_checkout label {padding: 5px 0 0 0; display: block;}
#page_slp_checkout .checkoutform {line-height: 1.2;}
#page_slp_checkout .email_confirm_email {overflow: hidden;}
#page_slp_checkout .phone_evephone {overflow: hidden;}
#page_slp_checkout .value {clear: both;}
#page_slp_checkout .carddetails .value .year {left: 113px; position: relative; top: -21px;}
#page_slp_checkout .ot_req_field {text-align: left;}
