input,select{background-color:#fff !important;}
input[type="radio"],input[type="checkbox"]{background:none !important;}
.topStrip .welcomecoloum .accountnav, .topStrip .welcomecoloum #member-logedin,
.topStrip .welcomecoloum .accountnav a, .topStrip .welcomecoloum #member-logedin a{ font-family:Arial, Helvetica,sans-serif !important;}
.ui-widget-overlay{ width:100% !important;}
.topStrip .loginDrawer #rememberGroup #login_remember_me{position:relative; top:-3px;}
sup{font-size:0.8em;position:relative;top:-0.4em;}
#whatsInKit #defaultDesc ul li sup{font-size:0.8em;position:relative;top:-0.4em;}
#whatsInKit .footDesc h4 sup{font-size:0.8em;position:relative;top:-0.4em;}
.newPaymeMethod input[disabled="disabled"],.newPaymeMethod select[disabled="disabled"]{background:#d8d8d8 !important;}
.accountContainer .rememberme .checkinput{top: -2px;}
#ptChekoutsingle .agreeBox .checkbox input{margin-top:-2px;}
#ptChekoutsingle #dwfrm_personinf_useAsBillingAddress{top: -2px;}
.accountContainer .remember .checkinput{margin: 0px;}
#AboutYouForm .radio-fields input[type="radio"]{margin: -2px 0 0 0; }
.slpPage #personinfo input[disabled="disabled"], .slpPage #personinfo select[disabled="disabled"]{ background:#d8d8d8 !important;}