body.inline-panel { background-color: #eaeaea; }

#idMainWide {float: none; background-color: #eaeaea;}
.main-wrapper{margin: 0 auto;width: 960px;}
#main p{margin:0;}
.wrapper{width: 960px; margin: 0 auto;}
.pt-checkout-refresh { font-family: "Arial", Helvetica,sans-serif; /* Select a Kit panel css start*/ /* Free Gift Start*/ }
.pt-checkout-refresh .errormessage { color: red; }
.pt-checkout-refresh .touchChat { float: right; height: 36px; position: relative; top: 42px; width: 97px; }
.pt-checkout-refresh a { color: #2d2b62; }
.pt-checkout-refresh .hide { display: none; }
.pt-checkout-refresh #main { width: 100%; }
.clearFix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearFix{clear:both;}

/* breadcrumb css begin */
.pt-checkout-refresh .posFixed{background-color:#000;left:0;position:fixed;top:0;width:100%;z-index:1000;height:66px;}
.pt-checkout-refresh .posFixed .wrapper {padding-top: 15px;}
.pt-checkout-refresh #main .breadcrumb{float:left;height:auto;margin-top:0;padding:0;width:740px;}
.pt-checkout-refresh #main .breadcrumb .refreshLogo{float:left;margin-right:40px;margin-top:3px;width:214px;}
.pt-checkout-refresh #main .breadcrumb ul{float:left;list-style: none outside none;margin: 0;padding: 0;width: auto;margin-left: 13px;}
.pt-checkout-refresh #main .breadcrumb ul li{cursor:pointer;display:inline;float:left;height:auto;line-height:28px;margin-right:21px;}
.pt-checkout-refresh #main .breadcrumb ul li.step4{margin-right:0;}
.pt-checkout-refresh #main .breadcrumb ul li a{color:#FFF;cursor:pointer;float:left;font-family: "Georgia", "arial", Helvetica, sans-serif;font-size:15px;font-weight:400;line-height:28px;text-decoration: none; padding:0 4px;}
.pt-checkout-refresh #main .breadcrumb ul li a span{display:block;}
.pt-checkout-refresh #main .breadcrumb ul li a span.count{border-bottom:1px solid #CA2026;color:#CA2026;font-size:12px;line-height:normal; font-family: Helvetica, Arial, sans-serif; font-weight:700;}
.pt-checkout-refresh #main .breadcrumb ul li a span.title{float:left;line-height:23px;}
.pt-checkout-refresh #main .breadcrumb ul li a:hover,.pt-checkout-refresh #main .breadcrumb ul li.active a{color:#fff; background:#818181;}
.pt-checkout-refresh #main .breadcrumb ul li a:hover span.count,.pt-checkout-refresh #main .breadcrumb ul li.active a span.count{color:#fff; border-color:#fff;}
.pt-checkout-refresh .posFixed .callUs h5 span{border-bottom:1px solid #CA2026;color:#CA2026;float:left;font-size:12px;line-height:normal;width:100%;}


/* breadcrumb css end */

/* phone no css begin */
.pt-checkout-refresh .posFixed .callUs{float:right;width:200px;}
.pt-checkout-refresh .posFixed .callUs img{float: left;margin-right: 7px;margin-top: 2px;}
.pt-checkout-refresh .posFixed .callUs h5{color:#FFF;float:left;font-size:17px;line-height:normal;padding-right:32px;background:url(../images/inline/perriconeIcon.png) no-repeat right top;font-family: "times new roman", "Georgia", "arial", Helvetica,sans-serif;width: 125px;}
.pt-checkout-refresh .posFixed .callUs h5 span{padding-bottom:1px;font-family: Helvetica, Arial, sans-serif;font-weight: 600;}
/* phone no css end */

.pt-checkout-refresh #main a.back_to_top { border: 0px solid #cccccc; color: #849f00; float: right; font-size: 12px; font-family: "Arial",Helvetica, sans-serif; margin-top: -22px; margin-right: 15px; text-transform: lowercase; width: auto; cursor: pointer; font-weight: 400; text-decoration: underline; position: relative;left: -11px;}
.pt-checkout-refresh #main a.back_to_top:hover { text-decoration: none; }
.pt-checkout-refresh .selectakitpanel { width: 100%; float: left; padding-top:67px; }
.pt-checkout-refresh .selectakitpanel .selectKit { float: left; width: 100%; margin-bottom: 6px;}
.pt-checkout-refresh .selectakitpanel .selectKit .medOrngBtn:hover { background-position: left -43px; }
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes {border-bottom: 1px solid #ccc;float: left;margin: 4px 0 0;min-height: 60px;padding: 5px 15px 3px 17px;width: 93.25%;}
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes h4 { font-size: 15px; line-height: 18px; font-weight: normal; color:#272626; font-family: "Georgia", "arial", Helvetica, sans-serif;}
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes h4 span { font-size: 12px; }
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes h4 strong { font-weight: bold !important; }
.pt-checkout-refresh #main .selectakitpanel ul.sasKits li .selected strong { font-weight:normal;}  
.pt-checkout-refresh h1.pageTitle, 
.pt-checkout-refresh h2.pageTitle {border-bottom: 4px solid; color: #000; font-size: 36px; line-height: 28px; margin-bottom: 7px; padding-bottom: 6px; text-transform: capitalize; font-family: Georgia, "Arial", Helvetica,sans-serif;}
.pt-checkout-refresh h1.pageTitle{margin-top: 17px;border-bottom: 4px solid;}
.pt-checkout-refresh .kitType .bottomPanel.panelB{margin-bottom: 4px;}
.pt-checkout-refresh h2.pageTitle{margin-top: 8px;margin-bottom: 11px;padding-bottom: 5px;}
.pt-checkout-refresh .medOrngBtn { background: url("../images/inline/inlineBtn.png") no-repeat transparent; color: #FFFFFF; float: left; height: 41px; line-height: 41px; width: 213px; text-indent: -9999px; text-transform: none; position: absolute; right: 0px; top: 22px;}
.pt-checkout-refresh .freeGiftCont { float: left; width: 100%; }
.pt-checkout-refresh .freeGiftCont .freeGiftID { float: left; width: 100%; }
.pt-checkout-refresh .freeGiftCont .freeGiftSelector { float: left; width: 100%; margin-bottom: 10px; }
.pt-checkout-refresh .freeGiftCont .freeGiftSelector .selectGift .giftBlock { float: left; min-height: 336px; }
.pt-checkout-refresh .freeGiftCont .medOrngBtn { background-position: left -84px; }
.pt-checkout-refresh .freeGiftCont .medOrngBtn:hover { background-position: left -128px; }
.pt-checkout-refresh .upsellrecommendation { float: left; width: 100%; margin-bottom: 3px; padding-top: 4px;}
.pt-checkout-refresh .upsellrecommendation .upsellInline { float: left; width: 100%;}
.pt-checkout-refresh .upsellrecommendation .upsellInline h2.pageTitle {border-bottom-width: 4px;padding-bottom: 9px;margin-bottom: 9px;}
.pt-checkout-refresh .upsellrecommendation .upsellInline .selectKit { float: left; width: 100%; margin-bottom: 7px; }
.pt-checkout-refresh .upsellrecommendation .upsellInline .selectKit .giftImage { min-height: 290px; text-align: center; }
.pt-checkout-refresh .upsellrecommendation .bestValueCornerRibbon { position: absolute; right: -5px; top: -4px; height: 123px; width: 129px; background: url("../images/inline/bestValueCornerRibbon.png") no-repeat scroll center center; z-index: 1; }
.pt-checkout-refresh .upsellrecommendation .medOrngBtn { background-position: left -172px; }
.pt-checkout-refresh .upsellrecommendation .medOrngBtn:hover { background-position: left -215px; }
.pt-checkout-refresh .upsellrecommendation .sasKits .bestValue {position: absolute;right: -1px;top: -1px;}

/* Global css for common elements*/
.stepBlock { float: left; height: 8px; }

/* global css for bottom swath description */
.orderSummaryBottom { float: right; width:50%;padding-right: 28px;}
.orderSummaryBottom .ordersummarycontainer .swatchImg { float: left; min-width: 20%; height: 79px; margin-right: 6px;}
.orderSummaryBottom .ordersummarycontainer .swatchDesc { float: left; padding-left: 4px; padding-top: 7px;line-height: 12px;}
.orderSummaryBottom .ordersummarycontainer .swatchDesc h4 { text-transform: uppercase; font-size: 14px; color: #010101; margin-top: 3px; line-height: 17px; font-weight: 600;}
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitName { font-size: 12px; color: #010101; font-weight: 400; line-height: 14px; }
#main .orderSummaryBottom .ordersummarycontainer .swatchDesc .kitName strong { font-weight: normal; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .freeLink { color: #ca2026; text-transform: uppercase; font-size: 12px; font-weight: bold; line-height: normal; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitTab { color: #ca2026; font-size: 12px; font-weight: bold; line-height: normal; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitPrice { color: #000; font-size: 12px; line-height: normal; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitPrice .per-month{font-size: 10px;}

.freeGiftSelector.PanelB .selectKit .giftBlockSAS { padding: 5px 0 0; float: left; background-color: white; width: 100%; }
.freeGiftSelector.PanelB .selectKit .giftBlockSAS .selectKit_Img { width: 100%; text-align: center; position: relative; min-height: 234px; padding-top: 5px; }
.freeGiftSelector.PanelB .selectKit .giftBlockSAS .selectKit_Img .doctor-choice {left: -4px;position: absolute;top: 45px;}
.freeGiftSelector.PanelB .selectKit .giftBlockSAS .selectKit_Img .favorite-product { background: url("../images/inline/favoriteproduct.png") no-repeat scroll center top; height: 25px; width: 197px; position: absolute; right: -2px; top: 3px; text-indent: -9999px; }
.freeGiftSelector.PanelB .selectKit .giftBlockSAS .selectKit_Img .new-product { background: url("../images/inline/new-ribbon.png") no-repeat scroll center top; height: 85px; width: 85px; position: absolute; right: 13px; top: -5px; text-indent: -9999px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription { width: 100%; float: left; color: #333; font-family:"Arial", Helvetica,sans-serif; min-height: 220px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNew { float: left; height: 35px; line-height: 35px; padding: 0 14px 0 17px; width: 91.5%; background: url(../images/inline/free-shipping.png) no-repeat right 6px;  font-family: "nimbus-sans","Arial",Helvetica,sans-serif;}
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNew span { text-transform: uppercase; font-size: 20px; font-weight: 600; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNew .price-text {font-weight: 200;}
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNewPrice { width: auto; float: left; font-size: 18px; line-height: 25px; height: 25px; padding-left: 5px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .fightsStubborn { padding: 0 166px 0 9px; width: auto; float: left; background: url(../images/inline/fightsAcne.png) no-repeat right top; font-size: 18px; line-height: 20px; height: 20px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .prSystem { font-size: 18px; padding-left: 9px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .productDetailsBox { float: left; min-height: 35px; width: 100%; border: 1px solid #a4a4a4;border-width:1px 0;color:#ca2026;}
.freeGiftSelector.PanelB .selectKit .sasLongDescription .productDetailsBox sup { top: -5px; }
.freeGiftSelector.PanelB .selectKit ul.productList {margin-top: -4px;}
.freeGiftSelector.PanelB .selectKit .kitIncludes > ul.productList{min-height: 48px;}
.freeGiftSelector.PanelB .selectKit ul.productList li {float: left;font-size: 14px;line-height: normal;margin: 0;padding: 0 0 3px;text-align: center;width: 100%;}
.freeGiftSelector.PanelB .selectKit ul.productList li:only-child {padding-left: 0;width: 100%;}
.freeGiftSelector.PanelB .selectKit ul.productList li a { color: #272626; font-size: 12px; text-decoration: underline; line-height: 20px; border-bottom:1px solid #272626;font-family: Helvetica, Arial, sans-serif;}
#main .freeGiftSelector.PanelB .selectKit ul.productList li a:hover { text-decoration: none; border-bottom:0px solid #999;color: #272626;}
.freeGiftSelector.PanelB .selectKit ul.productList li.blue { background: url("../images/inline/blue.png") no-repeat scroll left 6px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes { float: left; margin: 14px 0 0; padding: 0 0 5px 20px; width: 93%; }
.freeGiftSelector.PanelB .selectKit .kitIncludes h5 { color: #CA2026;float: left;font-family: arial,Helvetica,sans-serif;font-size: 10px;font-weight: 700;margin-bottom: 1px;text-align: center;text-transform: uppercase;width: 100%;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items {background-color: #FAF0E6;border: 1px solid #EFBCBD;float: left;margin: 0 auto;padding: 5px 10px;text-align: center;width: 179px;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items > h5 {line-height: 11px;padding-bottom: 4px;padding-top: 2px;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li { background: none; float: left; list-style: disc; margin-right: 36px; padding-left: 0; line-height: 18px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li a { color: #6E2791; font-size: 12px; line-height: 16px;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li:nth-child(2n) { margin-right: 0px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList{margin: 0;width: 100%;display: inline-block;float: left;height: auto;padding: 0;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li{list-style: none;margin: 0;width: 100%;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li a{font-family:helvetica,"arial";color: #000;border-bottom: 1px solid;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .conditions{float: left;text-align: right;width: 100%;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .includes{float: left;width: 45%;margin-top: 21px;margin-right: 33px;}
.freeGiftSelector.PanelB .selectKit .kitIncludes .only-includes{margin-top: 21px;}
.freeGiftSelector.PanelB .selectKit .giftDesc { float: left; font-size: 16px; line-height: 22px; padding-bottom: 0; width: 100%; position: relative; }
.freeGiftSelector.PanelB .selectKit .giftDesc .selected span { padding-left: 0px; float: left; margin-left:-56px; }
.freeGiftSelector.PanelB .selectKit .leftCol { float: left; min-height: 244px; padding: 80px 0 0 0px; width: 105px; max-height: 345px; }
.freeGiftSelector.PanelB .selectKit .giftSection { float: right; padding: 20px 20px 15px 0px; width: 220px; position: relative; }
.freeGiftSelector.PanelB .selectKit .giftSection ul { list-style: none; }
.freeGiftSelector.PanelB .selectKit .giftSection ul li { width: 100%; float: left; margin-left: 2%; cursor: pointer; padding-bottom: 0px; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent { overflow: hidden; padding: 5px 0px 5px 0px; font-family: "Arial", Helvetica,sans-serif; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent h3 { text-align: left; line-height: 15px; padding-top: 4px; color: #322f31; font-size: 20px; font-weight: 400; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent .content { font-size: 16px; color: #333; line-height: 19px; padding: 15px 0 0px 0px; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent .content p { font-size: 13px; margin-bottom: 5px !important; width: 100%; line-height: 20px !important; }
.freeGiftSelector.PanelB .selectKit .giftSection span.paidStatus { font-size: 20px; color: #6f2894; font-weight: 700; }
.freeGiftSelector.PanelB .selectKit .giftSection .favoriteContainer { background: url("../images/inline/chazFavoriteBg.png") no-repeat center center; width: 195px; height: 28px; margin-top: -20px; margin-bottom: 5px; }
.freeGiftSelector.PanelB .productDesc { display: none; }

.bottomPanel.panelB { padding: 3px 9px 0px 11px; min-height: 56px; margin-bottom: 10px; width: 940px; margin-left: 0; border: 1px solid #a4a4a4; border-width:1px 0; float: left; position: relative; }

.pdata { display: none; }

.pt-checkout-refresh .placeholder { color: #999 !important; font-style: italic; }
.pt-checkout-refresh form.checkoutform { width: 100%; float: left; }
.pt-checkout-refresh form.checkoutform div.errorform { float: left; margin: 5px 2%; width: 95%; color: #FF0000; border: 1px solid #FF0000; padding: 5px; }
.pt-checkout-refresh form.checkoutform h2.pageTitle {border-bottom-width: 4px;padding-bottom: 10px;margin-bottom: 6px;margin-top: 7px;}
.pt-checkout-refresh #main a.moreInfo { background: url("../images/inline/blue-arrow-small.png") no-repeat right 7px; padding-right: 15px; color: #6f2894; font-size: 13px; display: inline-block; line-height: 20px; font-weight: 700; text-decoration: underline; }
.pt-checkout-refresh #main a:hover { text-decoration: none; }
.pt-checkout-refresh a.freeLink { color: #2d2b62; }
.pt-checkout-refresh .stepBlock { float: left; }
.pt-checkout-refresh input[type="button"], .pt-checkout-refresh input[type="submit"], .pt-checkout-refresh a, .pt-checkout-refresh button { outline: medium none !important; }
.pt-checkout-refresh .formfield .label .errorlabel { color: inherit !important; }
.pt-checkout-refresh .checkoutPanelB { float: left; position: relative; width: 100%; }
.pt-checkout-refresh .checkoutPanelB .checkoutPanelB-Title { float: left; width: 100%; margin-bottom: 8px; }
.pt-checkout-refresh .checkoutPanelB .compBtn .medOrngBtn { cursor: pointer; width: 230px; height: 43px; line-height: 52px; color: #fff; text-transform: uppercase; padding: 0px 0px 0px 20px; background-position: 0 -256px; right: 11px; top: 45px;}
.pt-checkout-refresh .checkoutPanelB .compBtn .medOrngBtn:hover { background-position: 0 -300px; }
.pt-checkout-refresh .checkoutPanelB .mbProduct { top: 5px; right: 10px; width: auto; position: absolute; }
.pt-checkout-refresh .leftSection { float: left; height: auto; position: relative; width: 626px; }
.pt-checkout-refresh .leftSection .ch_selected_products { border: 1px solid #cccccc; float: left; padding:8px 10px 0; position: relative; width: 603px; background-color: #fff;}
.pt-checkout-refresh .leftSection .ch_selected_products .detailscolumn.herosection { float: left; font-size: 11px; width: 280px; padding:76px 0 0 11px; }
.pt-checkout-refresh .leftSection .ch_selected_products .detailscolumn h4 { color: #999; font-size: 11px; font-weight: 700; text-transform: uppercase; margin-bottom: 8px; letter-spacing: 0.4px;}
.pt-checkout-refresh .leftSection .ch_selected_products .detailscolumn .name { font-size: 26px; color: black; line-height: 21px; font-family: "nimbus-sans","arial", Helvetica,sans-serif;font-weight: 200;letter-spacing: -0.5px;}
.pt-checkout-refresh #main .leftSection .ch_selected_products .detailscolumn .name strong { font-weight: 600; }
.pt-checkout-refresh .leftSection .ch_selected_products .tablerow { float: left; width: 613px; padding-bottom: 6px; }
.pt-checkout-refresh .leftSection .ch_selected_products .imagecolumn { text-align: center; width: 320px; vertical-align: bottom; margin-top:12px;}
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription { color: #333; font-size: 14px; padding: 3px 0; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription p{font-size: 14px;}
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription ul { list-style: disc inside; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription ul li { color: #3F838D; margin-left: 10px; margin-top: 2px; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription h5 { font-size: 18px; font-weight: 600; margin-bottom: 19px; font-family: "nimbus-sans","arial",Helvetica,sans-serif;color: #000;letter-spacing: -0.6px;}
.pt-checkout-refresh #main .leftSection .ch_selected_products .shortDescription p { font-size: 14px; line-height: 18px; color: #000;letter-spacing: -0.26px;}
.pt-checkout-refresh .leftSection .ch_selected_products .otherDescription { width: 100%; float: left; font-size: 14px; min-height: 68px; color: #333; margin-top: 2px; }
.pt-checkout-refresh .leftSection .ch_selected_products td { padding: 0px; font-family: inherit; }
.pt-checkout-refresh .leftSection .vitaminProduct { background: url("../images/inline/vitamin-bg-gradient.png") repeat-x left top; border: 1px solid #9091c0; border-radius: 0; width: 575px; float: left; padding: 15px 35px 11px 15px; }
.pt-checkout-refresh .leftSection .vitaminProduct .productimage { width: auto; float: left; margin-right: 15px; max-height: 80px; margin-top: -10px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent { width: 485px !important; height: auto; float: left; padding: 0px; margin: 0px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent h4 { margin-right: 0px; font-weight: 200; font-size: 22px; color: black; min-height: 44px; margin-right: 0px; line-height: 21px; font-family: "Arial", Helvetica,sans-serif; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent h4 strong { font-weight: bold !important; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .moreInfo { color: #333; font-size: 15px; margin: 1px 9px 1px 0px; font-weight: 400; float: left; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .moreInfo a { font-size: 13px; text-transform: uppercase; text-decoration: underline; border: 0px solid #cccccc; font-weight: 700; background: url("../images/inline/arrow-right-orange.png") no-repeat right center; padding-right: 16px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .moreInfo strong { font-weight: bold !important; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .addtocart_btn { float: left; position: absolute; right: 10px; top: 10px; width: 128px; height: 35px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .addtocartbtn { width: 100%; height: 36px; float: left; background: url("../images/inline/addtocartVitamin.png") no-repeat left top; border: 0px solid #cccccc; margin: 0px; text-indent: -9999px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .addtocartbtn:hover { background-position: left bottom; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent a { color: #ff8100 !important; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .upsell_details_content { border-top: 1px solid white; float: left; margin: 6px 0 0 -70px; padding: 4px; width: 590px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .upsell_details_content p { line-height: 15px; font-size: 12px; font-family: "Arial", Helvetica,sans-serif; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .upsell_details_content.upsell_details_inactive { display: none; }
.pt-checkout-refresh .actionPanel.fullBar .rightSection { width: 100%; }
.pt-checkout-refresh .actionPanel .rightSection { overflow: hidden; min-height: 84px; padding: 10px 0; border: 1px solid #cccccc; width: 310px; }
.pt-checkout-refresh .rightSection { width: 322px; height: auto; font-family: "Arial", Helvetica,sans-serif; float: right; position: relative; background: url("../images/inline/gray-grad-bg.jpg") repeat 0 0; padding: 0px; overflow: hidden; min-height: 84px; }
.pt-checkout-refresh .rightSection .complete-order-text { margin-right: 52px; font-size: 15px; font-weight: 400; padding-bottom: 0px; padding-top: 8px; margin-bottom: 0; float: right; }
.pt-checkout-refresh .order-summary-right { width: 322px; height: auto; float: left; background: #fff; }
.pt-checkout-refresh .order-summary-right h4 { color: #fff; background-color: #999999; font-size: 18px; font-weight: 500; text-transform: none; padding: 10px; font-family: "nimbus-sans","Arial",Helvetica,sans-serif;}
.pt-checkout-refresh .order-summary-right .detailscolumn { display: table-cell; float: left; margin-bottom: 0px; }
.pt-checkout-refresh .order-summary-right .name { font-size: 18px; color: #333; padding-left: 22px; background: url(../images/inline/nameArrow.png) no-repeat left 8px; margin: 0px; line-height: 25px; font-weight: 400; margin-bottom: 10px;}
.pt-checkout-refresh .order-summary-right .name strong { font-weight: normal !important; }
.pt-checkout-refresh .order-summary-right select { border: 1px solid #cccccc; color: #333; font-size: 12px; width: 111px; padding: 3px; margin-right: 5px; }
.pt-checkout-refresh .order-summary-right select.quantityselector { width: 82px; }
.pt-checkout-refresh #main .order-summary-right .shortDescription p{margin-top: 9px;letter-spacing: 0.05px;margin-bottom: 4px;}
.pt-checkout-refresh .order-summary-right .shortDescription p { color: #8a8a8a; font-size: 11px; line-height: 17px; padding: 0px; font-weight: normal; }
.pt-checkout-refresh .order-summary-right .shortDescription p strong { font-weight: bold !important; }
.pt-checkout-refresh .order-summary-right .shortDescription.vitamin { padding: 0 15px; }
.pt-checkout-refresh .order-summary-right .shortDescription.vitamin p { padding-bottom: 10px; border-bottom: 1px solid #cccccc; }
.pt-checkout-refresh .order-summary-right .order-totals { border-bottom: 1px solid #cccccc; color: #333; float: left; font-size: 14px; height: auto; margin: 0 15px 16px 16px; padding: 0 5px 3px 8px; width: 278px; background: none; }
.pt-checkout-refresh .order-summary-right .order-totals .sub_total { float: left; padding-left: 0px; width: 99%; border: 0px; }
.pt-checkout-refresh .order-summary-right .order-totals .sub_total .cocart-price { width: auto; float: right; font-weight: 400; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total { float: left; padding-left: 0px; width: 100%; position: relative; margin: 12px 0 30px; background: none; border: 0px; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total #totalshippingprice { width: 100%; float: left; padding-left: 0px; padding-top: 5px;}
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total #totalshippingprice span { width: auto; float: left; font-weight: 400; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total #totalshippingprice #shipTotal { width: auto; float: right; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total .shippingmethodslist { position: absolute; right: 0px; top: 0px; margin-left: 0px; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total .shippingmethodslist select { margin-right: 0px; width: 170px; font-size: 12px; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote { color: #777777; font-weight: 400; float: left; font-size: 10px; line-height: 15px; margin-bottom: 5px; width: 100%; font-family: "Arial", Helvetica,sans-serif; position: relative; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote span { text-decoration: underline; color: #849f00; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote span:hover { text-decoration: none; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote .statesList { position: absolute; background: #eee; padding: 10px; top: -13px; right: 18px; font-size: 13px; }
.pt-checkout-refresh .order-summary-right .order-totals .order_total { float: left; padding: 2px 9px 0 0px; width: 100%; font-weight: 700; border-top: 1px solid #cccccc; margin-top: 7px; margin-left: -5px; background-color: #FFF; }
.pt-checkout-refresh .order-summary-right .order-totals .order_total .cocart-container { float: left; padding-top: 4px; width: 100%; font-size: 14px; padding-left: 5px; }
.pt-checkout-refresh .order-summary-right .order-totals .cocart-label { width: auto; float: left; font-weight: 400; }
.pt-checkout-refresh .order-summary-right .order-totals .totalPrice{float: right;}
.pt-checkout-refresh .order-summary-right .order-totals .totalPrice .per-month{font-size: 11px;}
.pt-checkout-refresh .order-summary-right #crossSell { background-position: left 14px; border-top: 1px solid #cccccc; font-size: 18px; margin: 10px 13px 0 18px; width: 270px; padding: 7px 0 0 22px; }
.pt-checkout-refresh .order-summary-right #crossSell a { color: #2d2b62; float: right; font-size: 12px; text-decoration: underline; }
.pt-checkout-refresh .order-summary-right #crossSell a:hover { text-decoration: none; }
.pt-checkout-refresh .order-summary-right .prodWrapper { padding: 12px 10px 0 19px; }
.pt-checkout-refresh .order-summary-right .prodWrapper .special-offer-with-coupon-code { margin-bottom: 7px; }
.pt-checkout-refresh .imagecolumn { float: left; width: 243px; }
.pt-checkout-refresh .personinfform { float: left; width: 100%; }
.pt-checkout-refresh .checkout_box.access_info { float: left; margin-top: 21px; width: 99%; padding-left: 2px;margin-bottom: 3px;}
.pt-checkout-refresh .checkout_box { border: 0px solid #cccccc; margin: 0 0 5px; }
.pt-checkout-refresh .checkout_box.contact_info { margin: 0 0 10px; float: left; width: 99%; padding-left: 2px;}
.pt-checkout-refresh .checkout_box h4 { background-color: #000; color: white; border-radius: 2px; font-size: 12px; font-weight: 700; height: 26px; line-height: 26px; padding: 3px 4px 1px 10px; text-transform: uppercase; }
.pt-checkout-refresh .checkout_box h4 #paywithpaypal { background: url("../images/inline/payPalImg.png") no-repeat scroll right top; float: right; height: 24px; margin-right: -2px; width: 113px; border: 0; cursor: pointer; display: block;}
.pt-checkout-refresh .access_info .checkout_box_inner { padding: 13px 10px 10px 4px; }
.pt-checkout-refresh .access_info .formfield { height: 26px; }
.pt-checkout-refresh .access_info .password { float: left; position: relative; width: 225px; height: 64px; }
.pt-checkout-refresh .access_info .passwordconfirm { float: left; padding-left: 10px; width: 240px; height: 64px; }
.pt-checkout-refresh .checkout_box_inner { padding: 10px 10px 0; width: 97%; }
.pt-checkout-refresh .checkout_box_inner .payment_method {margin-bottom: 0;padding-bottom: 0;}
.pt-checkout-refresh .checkout_box_inner .card_details { padding-top: 0px; }
.pt-checkout-refresh .checkout_box_inner .card_details h5 { margin: 0; padding: 0; display: none; }
.pt-checkout-refresh .personinfform .first.address, 
.pt-checkout-refresh .personinfform .second.address { border: 0px solid #cccccc; clear: both; font-size: 14px; margin-top: 0; margin-bottom: 0px; padding: 0; width: auto; }
.pt-checkout-refresh .personinfform .second.address .label{float: left;width: 100%;}
.pt-checkout-refresh .personinfform .first.address .textinput, .pt-checkout-refresh .personinfform .second.address .textinput { width: 458px; }
.pt-checkout-refresh .personinfform .checkoutimgs .label { color: #4E4D4B; font-size: 14px; padding-bottom: 4px; }
.pt-checkout-refresh .personinfform .selectbox { border: 1px solid #cccccc; border-radius: 2px; box-shadow: 0 0 5px #F0F0F0 inset; color: #999999; font-size: 14px; height: 30px; line-height: 30px; margin: 0 10px 0 0; padding: 6px; }
.pt-checkout-refresh .personinfform .city { float: left; margin-right: 10px; width: 190px; }
.pt-checkout-refresh .personinfform .city input { width: 183px; }
.pt-checkout-refresh .personinfform .city .state { float: left; margin-right: 10px; width: 132px; margin-bottom: 5px; }
.pt-checkout-refresh .personinfform label { color: #333333; font-size: 14px; font-weight: normal; padding-bottom: 3px; float: left; width: 100%; }
.pt-checkout-refresh .personinfform label span { float: left; }
.pt-checkout-refresh .personinfform .first_name, .pt-checkout-refresh .personinfform .email { float: left; position: relative; width: 223px; }
.pt-checkout-refresh .personinfform .email { width: 91%; height: 49px; }
.pt-checkout-refresh .personinfform .email span.success { background: url("../images/inline/validation-icons.png") no-repeat scroll left 1px; display: none; font-family: "Arial", Helvetica,sans-serif; font-weight: 700; height: 30px; left: 42%; line-height: normal; padding-left: 32px; position: absolute; top: 25px; width: auto; }
.pt-checkout-refresh .personinfform .email span.errormessage { position: absolute; top: 25px; left: 42%; padding-left: 32px; height: 30px; line-height: normal; width: 210px; background: url("../images/inline/validation-icons.png") left -50px no-repeat !important; font-family: "Arial", Helvetica,sans-serif; font-weight: 700; z-index: 999; padding-top:2px;}
.pt-checkout-refresh .personinfform .email span.errorclient { position: absolute; top: 20px; left: 44%; padding-left: 32px; line-height: normal; width: 305px; background: url("../images/inline/validation-icons.png") left -50px no-repeat !important; font-family: "Arial", Helvetica,sans-serif; font-weight: 700; z-index: 999; }
.pt-checkout-refresh .personinfform .last_name, .pt-checkout-refresh .personinfform .email_confirm { float: left; padding-left: 10px; width: 240px; }
.pt-checkout-refresh .personinfform .cb_billing .last_name,.pt-checkout-refresh .personinfform .cb_shipping .last_name,
.pt-checkout-refresh .personinfform .cb_billing .first_name,.pt-checkout-refresh .personinfform .cb_shipping .first_name{margin-bottom:0; padding-bottom:0;}
.pt-checkout-refresh .age_and_gender { border: 0px solid #cccccc; clear: both; font-size: 14px; margin-top: 0; padding: 0; width: auto; }
.pt-checkout-refresh .age_and_gender label { margin-right: 10px; margin-top: 4px; }
.pt-checkout-refresh .age_and_gender .gender { float: left; width: 185px; margin-top: 6px; }
.pt-checkout-refresh .age_and_gender .gender label { display: inline-block; float: left; width: 76px; }
.pt-checkout-refresh .age_and_gender .formfield.age { float: left; width: 275px; }
.pt-checkout-refresh .age_and_gender .formfield.age label { float: left; margin-top: 10px; width: 24px; }
.pt-checkout-refresh .age_and_gender .formfield.age .textinput { float: left; width: 33px; margin-top: 3px;}
.pt-checkout-refresh .age_and_gender .formfield.age span.errormessage { float: left; padding: 8px; width: auto;}
.pt-checkout-refresh .age_and_gender .label { display: none; }
.pt-checkout-refresh .formfield { margin-bottom: 5px; padding-bottom: 3px; padding-top: 0px; height: 70px; }
.pt-checkout-refresh .formfield.statezip .state { float: left; width: 140px; }
.pt-checkout-refresh .formfield.statezip .zip { float: left; width: 200px; }
.pt-checkout-refresh .formfield.statezip .zip input { width: 117px; }
.pt-checkout-refresh input.errormessage, .pt-checkout-refresh select.errormessage { border-color: #FF0000 !important; }
.pt-checkout-refresh .checkout_box_inner .gender input { position: relative; top: -2px; }
.pt-checkout-refresh .checkout_box_inner .gender div.label { font-size: 14px; }
.pt-checkout-refresh .checkout_box_inner label span { font-size: 14px; }
.pt-checkout-refresh .checkout_box_inner .formfield.state { width: 140px; }
.pt-checkout-refresh .checkout_box_inner .formfield.zip { width: 200px; }
.pt-checkout-refresh .checkout_box_inner .formfield.zip #billZip { width: 117px; }
.pt-checkout-refresh .checkout_box_inner .formfield.zip .zip { float: left; width: 200px; }
.pt-checkout-refresh input[type="radio"] { vertical-align: middle; }
.pt-checkout-refresh .pt_checkout .requiredindicator { color: red; }
.pt-checkout-refresh .pt_checkout .textinput, .pt-checkout-refresh .pt_checkout .textinputpw { border: 1px solid #cccccc; border-radius: 2px; box-shadow: 0 0 5px #F0F0F0 inset; color: black; font-size: 14px; font-weight: normal; height: 24px; line-height: 24px; padding: 3px; width: 214px; }
.pt-checkout-refresh .pt_checkout .textinput{font-family: Helvetica, Arial, sans-serif;}
.pt-checkout-refresh .pt_checkout .textinput::-moz-placeholder {color: #999;font-size: 14px;font-style: italic;}
.pt-checkout-refresh .pt_checkout .textinput::-webkit-input-placeholder {color: #999;font-size: 14px;font-style: italic;}
.pt-checkout-refresh .pt_checkout .textinput:-ms-input-placeholder {color: #999;font-size: 14px;font-style: italic;}
.pt-checkout-refresh .pt_checkout .phone { position: relative; height: 56px; }
.pt-checkout-refresh .pt_checkout .phone span.errormessage, .pt-checkout-refresh .pt_checkout .phone div.errormessage { position: absolute; top: 58px; }
.pt-checkout-refresh .pt_checkout #phone1, .pt-checkout-refresh .pt_checkout #phone2 { float: left; margin-right: 10px; text-align: center; width: 44px; }
.pt-checkout-refresh .pt_checkout #phone3 { float: left; text-align: center; width: 96px; }
.pt-checkout-refresh div.errormessage, .pt-checkout-refresh span.errormessage { font-family: "Arial", Helvetica,sans-serif; font-weight: 700; float: left; font-size: 11px; float: left; width: 100%; }
.pt-checkout-refresh .contact_fieldset { width: 100%; }
.pt-checkout-refresh .contact_fieldset .formfield.phone.daytime .label { font-size: 14px; padding-bottom: 3px; font-weight: 400; }
.pt-checkout-refresh .cb_billing, .pt-checkout-refresh .cb_shipping, 
.pt-checkout-refresh .billing_shipping { clear: both; display: inline-block; margin: 3px 0px 0px 0px; width: 99.5%; float: left; padding-left: 2px;}
.pt-checkout-refresh .cb_billing, .pt-checkout-refresh .cb_shipping{padding-left: 0;}
.pt-checkout-refresh .cb_billing .formfield { margin-bottom: 5px; }
.pt-checkout-refresh .billing_shipping #shipping_message_block { display: block; font-size: 14px; margin-bottom: 26px; font-weight: 400; }
.pt-checkout-refresh .billing_shipping .selectbox { width: 130px; }
.pt-checkout-refresh .billing_shipping .checkbox { clear: both; float: left; margin-left: 10px; margin-bottom: 15px; width: 220px; line-height: 10px;}
.pt-checkout-refresh .billing_shipping .checkbox .checkinput { float: left; position: relative; vertical-align: middle; margin: 0; }
.pt-checkout-refresh .billing_shipping .checkbox label { margin-left: 4px; float: right; width: 200px; }
.pt-checkout-refresh .paymentInformation { border: 0px solid #cccccc; margin: 0px; width: 99%; float: left; padding-left: 2px;}
.pt-checkout-refresh .paymentInformation h5 { color: #333; font-size: 14px; font-weight: bold; padding: 12px 0 10px; text-transform: uppercase; font-family: "Arial", Helvetica,sans-serif; }
.pt-checkout-refresh .paymentInformation .checkout_box { margin-bottom: 0px; overflow: hidden; }
.pt-checkout-refresh .paymentInformation .requiredindicator { color: #FF0000; font-size: 11px; font-weight: bold; position: relative; top: -3px; }
.pt-checkout-refresh .paymentInformation .checkout_bottom{padding-left: 10px;}
.pt-checkout-refresh .paymentInformation .agree_box { float: left; text-align: left; width: 99%; position: relative; font-size: 12px; padding: 10px 0 0; }
.pt-checkout-refresh .paymentInformation .agree_box .checkbox { float: left; width: 20px; margin-right: 0px; }
.pt-checkout-refresh .paymentInformation .agree_box .checkbox .checkinput{margin: 3px 0;}
.pt-checkout-refresh .paymentInformation .agree_box .checkbox label { display: none; }
.pt-checkout-refresh .paymentInformation .agree_box .checkbox span.errormessage { left: 0px; position: absolute; top: -5px; width: 249px; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline { float: left; width: 525px; font-size: 13px; font-weight: 400; font-family: "Arial", Helvetica,sans-serif; margin-top: 1px; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline .terms-condition-overlay { color: #2d2b62; text-decoration: underline; border: none; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline .terms-condition-overlay:hover { text-decoration: none; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline .terms-condition-overlay:active, .pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline .terms-condition-overlay:visited, .pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline .terms-condition-overlay:selected, .pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline .terms-condition-overlay:focus { outline: none; border: none; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCardInline .termscontent { margin-left: -22px; padding-top: 3px; }
.pt-checkout-refresh .paymentInformation .indicatesRequiredField { float: left; margin: 10px 0 0 10px; }
.pt-checkout-refresh .paymentInformation .checkout_box_inner { margin-bottom: 0px; padding-top: 2px;}
.pt-checkout-refresh .paymentInformation .access_password{display: none !important;}
.pt-checkout-refresh .paymentInformation .pay_method_section{margin-bottom: 16px;}
.pt-checkout-refresh .formfield.payment_method, .pt-checkout-refresh .formfield.payLater_number { height: auto; }
.pt-checkout-refresh .expiration_date { clear: both; margin: 0 0 10px 0px; }
.pt-checkout-refresh .expiration_date .month { margin-right: 0px; width: 138px; float: left; }
.pt-checkout-refresh .expiration_date .year { margin-right: 0px; float: left; width: 138px; }
.pt-checkout-refresh .expiration_date .year select { width: 120px; }
.pt-checkout-refresh .expiration_date #paymentinfoerrors { width: 100%; }
.pt-checkout-refresh .expiration_date #paymentinfoerrors .errormessage { float: left; width: 100%; }

.cartFooter { float: left; padding-top: 9px; width: 100%; }
.cartFooter .moneyBack { float: left; margin-top: 17px; width: 86px; }
.cartFooter .cartcopywright { margin: 27px auto 33px; font-weight: 400; width:960px; font-size: 10px; line-height: 18px; color: #67686A;}
.cartFooter .cartcopywright img { margin-right: 3px; position: relative;top: 4px;}

sup { position: relative; top: -0.7em; font-size: 60%; }
b { font-weight: bold; }
.dropdown { color: black !important; }
.loading { min-height: 1px; padding-top: 0px; background: url("../images/ajax-loader-small.gif") 90px center no-repeat; }

ul { float: left; width: 100%; position: relative; }
ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 11px -40px #fff; }


/* flexible column for gifts and kits */
.column2 ul.sasKits > li .selected > span { font-family: Georgia, "Arial", Helvetica,sans-serif; font-size: 28px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 55px; float: left; text-align: left; }
.column3 ul { float: left; width: 100%; }
.column3 ul.sasKits > li { width: 310px; }
.column3 ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 310px; text-align: center; left: 0px; text-transform: none; }
.column3 ul.sasKits > li .selected > span { font-family: "Arial", Helvetica,sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
.column3 ul.sasKits > li .selected > span strong { font-weight: 400; }
.column3 ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column3 ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column3 ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
.column3 ul.sasKits > li.updatecartbtn.active, .column3 ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
.column3 ul.sasKits > li.updatecartbtn.active .selected, .column3 ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
.column3 ul.sasKits > li .selected { width: 310px; }

.column4 ul { float: left; width: 100%; }
.column4 ul.sasKits > li { width: 230px; }
.column4 ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 230px; text-align: center; left: 0px; text-transform: none; }
.column4 ul.sasKits > li .selected > span { font-family: "Arial", Helvetica,sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
.column4 ul.sasKits > li .selected > span strong { font-weight: 400; }
.column4 ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column4 ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column4 ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
.column4 ul.sasKits > li.updatecartbtn.active, .column4 ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
.column4 ul.sasKits > li.updatecartbtn.active .selected, .column4 ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
.column4 ul.sasKits > li .selected { width: 230px; }

.column5 ul { float: left; width: 100%; }
.column5 ul.sasKits > li { width: 182px; }
.column5 ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 182px; text-align: center; left: 0px; text-transform: none; }
.column5 ul.sasKits > li .selected > span { font-family: "Arial", Helvetica,sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
.column5 ul.sasKits > li .selected > span strong { font-weight: 400; }
.column5 ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column5 ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column5 ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
.column5 ul.sasKits > li.updatecartbtn.active, .column5 ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
.column5 ul.sasKits > li.updatecartbtn.active .selected, .column5 ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
.column5 ul.sasKits > li .selected { width: 182px; }

.column3 .giftImage { width: auto !important; }
.column3 .giftSection { width: 48% !important; padding: 30px 10px 0px 0px !important; }
.column3 .giftSection .favoriteContainer { background-size: 100% !important; width: 95% !important; }

.column4 .selectKit .sasLongDescription { min-height: 376px !important; }
.column4 .selectKit .sasLongDescription .allNew { font-size: 14px !important; }
.column4 .selectKit .sasLongDescription .allNew span { font-size: 12px !important; }
.column4 .selectKit .sasLongDescription .allNew .price-text { font-size: 14px !important; }
.column4 .selectKit .bestValue { width: 54px !important; background-size: 100% !important; }
.column4 .giftImage { width: auto !important; }
.column4 .giftSection { width: 39% !important; padding: 30px 10px 0px 0px !important; }
.column4 .giftSection .favoriteContainer { background-size: 100% !important; width: 95% !important; }
.column4 .giftSection .rightContent h3 { font-size: 15px !important; }
.column4 .giftSection span.paidStatus { font-size: 14px !important; }
.column4 .giftSection .content p { font-size: 12px !important; }

/* feeds pop up css */
#moreInfo, #overlayOpenSas { font-family: "Arial", Helvetica,sans-serif; padding: 10px 25px; background: #FFF; }
#moreInfo { font-family: "Arial", Helvetica,sans-serif; padding: 0 2px 10px 10px; background: #FFF; }
.ui-dialog .ui-dialog-titlebar-close {position:absolute;right:0;top:14px;margin: -10px 5px 0;}
.ui-dialog .ui-dialog-titlebar-close .ui-icon { background: url("../images/inline/popup-close.jpg") no-repeat; height: 20px;width: 65px;}
#moreInfo #tabs .float-left { float: left; }
#moreInfo #tabs .float-right { float: right; }


.pt-checkout-refresh .row.actionPanel{background:url("../images/inline/gray-grad-bg.jpg") repeat-x scroll 0 0;width:626px;}
.pt-checkout-refresh .centerSection{min-height:116px;position:relative;}
.pt-checkout-refresh #main .centerSection .complete-order-text{color:#66686a;font-family:"nimbus-sans","Arial",Helvetica,sans-serif;font-size:16px;margin:0;position:absolute;right:45px;top:17px;letter-spacing: -0.8px;}
.pt-checkout-refresh .money-back-footer{border-bottom:1px solid #a4a4a4;margin-top:7px;padding-bottom: 11px;}
.pt-checkout-refresh .money-back-footer .footer-money{display:inline-block;float:left;margin-right:21px;margin-left: 1px;}
.pt-checkout-refresh .money-back-footer .money-back-note{font-family:Georgia,"Arial",Helvetica,sans-serif;color:#565759;float:left;font-size:14px;padding-top:14px;width:75%;letter-spacing: 0.04px;}
.pt-checkout-refresh .money-back-footer .money-back-note img{left: -8px;position: relative;}
.pt-checkout-refresh .personinfform .state{float:left;}
.pt-checkout-refresh .personinfform .zip,.contact_info .contact_fieldset{float:left;}
.pt-checkout-refresh .formfield .label,.pt-checkout-refresh .formfield .checkbox label{color:#333;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:24px;}
.pt-checkout-refresh .paymentInformation .agree_box .checkbox .requiredindicator{display:none;}
.pt-checkout-refresh .paymentInformation .agree_box .termsConditionCreditCardInline{float:left;width:96%;color:#333;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;margin-bottom:8px;font-size: 11px;}
.pt-checkout-refresh .paymentInformation .agree_box a{color:#333;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;text-decoration:underline !important;}
.pt-checkout-refresh #main .paymentInformation .agree_box a:hover{color: #333;text-decoration:none !important;}
.pt-checkout-refresh .paymentInformation .indicatesRequiredField{color: #333333;font-family: Helvetica,Arial,sans-serif;font-size: 11px;}


.popupOverlay-outer #moreInfo {padding: 20px 0 10px 5px;}
#overlay_product img {float: left;}
.ui-dialog .ui-dialog-titlebar-close span:hover{background-position:left bottom;}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {border-radius: 4px;}
#overlay_product > h2 {border-bottom: 1px solid #CBCBCB;color: #312F32;font-family: "Georgia", "arial", Helvetica,sans-serif;font-size: 25px;font-weight: 500;padding-bottom: 0px;text-transform: capitalize;margin-top:-13px;text-indent:0;height: 28px;margin-bottom: 18px;}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {float: right;}
.overlay_product{margin:0;}
#overlay_product p {color: #312F32;float: right;font-family: arial,Helvetica,sans-serif;font-size: 13px;line-height: 16px;margin: 22px 5px 12px 0;width: 48%;}
#overlay_product img {margin:0;}
#overlay_product p a.overlay_close{color:#ca2026;font-family:arial,Helvetica,sans-serif;font-size:11px;display:block;margin-top:15px;text-decoration:none;}
#overlay_product > h2 span.popup_header{display:block;}
div.prod_img_popup {float: left;overflow: hidden;text-align: center;width: 34%;}
#overlay_product .prod_img_popup > img{margin-left:65px;}
.strong{font-weight:bold;}
.upsellrecommendation .giftBlockUpsell .additional-free-gift {height: 136px;position: absolute;right: 22px;top: 130px;width: 106px;}


.pt-checkout-refresh .freeGiftSelector ul.sasKits > li.updatecartbtn,
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn{border: 1px solid #ccc;padding: 3px;width: 469px;margin: 3px 0px 3px 0px;cursor: pointer;float: left;height: auto;position: relative;background-color: #fff;}
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn{width: 465px;}
.pt-checkout-refresh .freeGiftSelector ul.sasKits > li.updatecartbtn:first-child,
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn:first-child{margin-left: 0;margin-right: 0;}
.pt-checkout-refresh .freeGiftSelector ul.sasKits > li.updatecartbtn:first-child + li{margin-left:6px;}
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn:first-child + li{margin-left:14px;}


.pt-checkout-refresh .freeGiftSelector ul.sasKits > li.updatecartbtn.active,
.pt-checkout-refresh .freeGiftSelector ul.sasKits > li.updatecartbtn:hover,
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn.active,
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn:hover {background-color: #CA2026;border: 1px solid #CA2026;}
.pt-checkout-refresh .freeGiftSelector ul.sasKits > li.updatecartbtn .selected{width: 469px;color: #000;display: block;font-family: Georgia,"Arial",Helvetica,sans-serif;font-size: 1.4em;height: 39px;left: 0;padding-top: 6px;text-align: center;text-transform: none;background: url("../images/inline/you-selected-bg.png") no-repeat scroll 10px 7px #fff;}
.pt-checkout-refresh .freeGiftSelector ul.sasKits > li.updatecartbtn.active .selected{background-position: 10px -36px;}
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn .selected{width: 465px;padding-top: 5px; background-position: 9px 5px;margin-bottom: 3px;height: 39px;background: url("../images/inline/you-selected-bg.png") no-repeat scroll 9px 5px #fff;}
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn .selected span {padding-left: 57px;}
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn .giftBlockUpsell{background-color: #fff;}
.pt-checkout-refresh .upsellInline ul.sasKits > li.updatecartbtn.active .selected{background-position: 9px -37px;}


/*your free gift start*/
.pt-checkout-refresh .freeGiftSelector .selectGift ul.sasKits>li.updatecartbtn{background-color:#565658;color:#fff;width:100%;border: 0;margin: 0;padding: 0;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits li:hover>.selected{background-color:transparent;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits>li .giftBlock{float: none;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits li .selected{width:100%;background-color:#565658;margin-bottom:5px;margin-top: 2px;margin-left: 1px;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .leftCol{ width: auto;margin-left: 57px;padding-top: 18px;max-height: 322px;float: left;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .giftImage{padding-top: 0;text-align: center;width: auto;}
.pt-checkout-refresh .freeGiftSelector .selectGift ul.sasKits > li.updatecartbtn.active .selected {background-color: #565658;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .gift-section{float:right;margin-right:25px;width:435px;margin-top: -14px;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .gift-section h3{border-bottom:1px solid;font-family:"Georgia", "arial", Helvetica,sans-serif;font-size:36px;line-height:36px;padding-bottom:17px;letter-spacing: 0.3px;}
.pt-checkout-refresh #main .freeGiftSelector .selectGift .sasKits .gift-section p{border-bottom:1px solid #fff;font-family:"Georgia", "arial", Helvetica,sans-serif;font-size: 15px;letter-spacing: 0.5px;margin:19px 0 18px;padding-bottom:24px;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .gift-section>h5{font-size:11px;font-weight: 700;line-height: normal;margin-bottom: 2px;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .gift-section .includes>li>span{text-transform:uppercase;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .gift-section .includes>li{font-size: 13px;font-family: Helvetica, Arial, sans-serif;line-height: 19px;}
.pt-checkout-refresh .freeGiftSelector .selectGift .sasKits .gift-section .includes>li h5{font-size: 13px;font-family: Helvetica, Arial, sans-serif;font-weight: 600;}
.pt-checkout-refresh #main .freeGiftSelector .selectGift .sasKits .gift-section .includes>li a{color:#fff;text-decoration:underline !important;}
.pt-checkout-refresh #main .freeGiftSelector .selectGift .sasKits .gift-section .includes>li a:hover{text-decoration: none !important;}
/*your free gift end*/


.pt-checkout-refresh .card_number{background:url("../images/inline/cardtypes.gif") no-repeat 223px 25px;float:left;margin:5px 0 0;padding-right:197px;position:relative;width: 229px;}
.pt-checkout-refresh .personinfform .card_number.Visa{background-position:0px 25px;}
.pt-checkout-refresh .personinfform .card_number.MasterCard{background-position:-223px 25px;}
.pt-checkout-refresh .personinfform .card_number.Discover{background-position:-446px 25px;}
.pt-checkout-refresh .personinfform .card_number.Amex{background-position: right 25px;}


/*terms & condition*/
#moreInfo .termslist #terms-container{position: relative;}
#moreInfo .termslist #terms-container ul{padding-left:0px;}
#moreInfo .termslist #terms-container p{margin-bottom: 8px;}
#moreInfo .termslist #terms-container h1 {color: #312F32;font-family: "Georgia", "arial", Helvetica,sans-serif;font-size: 25px;margin-left: 0;margin-top: 0;}
.ui-dialog .ui-dialog-titlebar-close{right: 0px;z-index: 1;}
#moreInfo .termslist #terms-container .content-terms {height: 400px;overflow-y: scroll;}



