/*About Acne Quiz*/


#page_quiz .quizAboutAcne ol {
	margin: 5px;
}

#page_quiz .quizAboutAcne ol li {
	border-top: 1px solid #ccc;
	padding: 12px 10px 10px 0px;
	/*background: url(../../../../../img/about-acne/quiz-num.png) 0 11px no-repeat; */
	position: relative;
	min-height: 50px;
}
#page_quiz .quizAboutAcne ol li .qNum{
	float:left;
	font-size:18px;
	margin:0 15px;
	display:block;
	color:#6c9973;
	
}
#page_quiz .quizAboutAcne ol li.q2{
	background-position: 0 -189px;
}

#page_quiz .quizAboutAcne ol li.q3{
	background-position: 0 -389px;
}

#page_quiz .quizAboutAcne ol li.q4{
	background-position: 0 -589px;
}

#page_quiz .quizAboutAcne ol li.q5{
	background-position: 0 -789px;
}

#page_quiz .quizAboutAcne ol li.q6{
	background-position: 0 -989px;
}

#page_quiz .quizAboutAcne ol li.q7{
	background-position: 0 -1189px;
}

#page_quiz .quizAboutAcne ol li.q8{
	background-position: 0 -1389px;
}

#page_quiz .quizAboutAcne ol li.q9{
	background-position: 0 -1589px;
}

#page_quiz .quizAboutAcne ol li.q10{
	background-position: 0 -1789px;
}

#page_quiz .quizAboutAcne ol li fieldset {
	display: block;
	min-height: 45px;
}

#page_quiz .quizAboutAcne ol li legend {
	font-weight: bold;
	color: #6c9973;
	padding-bottom: 7px;
	position:relative;
}

#page_quiz .quizAboutAcne ol li input {
	float: left;
	border: none !Important;

}

#page_quiz .quizAboutAcne ol li label {
	display: block;
	color: #4e4d4b;
	margin: 0 10px 2px 0;
	float: left;
}

#page_quiz .quizAboutAcne ol li .quizAnswerDetail {
	padding: 5px 0 0 3px;
}

#page_quiz .quizAboutAcne ol li .quizAnswerDetail span.error {
	color: #993333;
}





#quizResults {
	margin: 20px 0;
}


#quizResults .blockContent {
	padding: 0 5px;
	position: relative;
}

#quizResults .blockContent h3 {
	background-color: #b0cdb3;
	padding: 6px 10px !Important;
	color: #fff !Important;
	margin:0px 0 5px 0 !Important;
	border: 0 !Important;

}

#quizResults .blockContent ul {
	margin: 10px 10px 0 10px;
}

#quizResults .blockContent ul li {
	padding-bottom: 10px;
	font-size: 0.95em;
}
* html #quizResults .blockContent ul li a{
	display:inline-block;
}
*:first-child+html #quizResults .blockContent ul li a{
	display:inline-block;
}
