body.home{background:#e9e5df;color:#572600;}
.home .mobile-page {display:block;margin:0 auto;width:640px;height:960px;background:url('../images/mobile-bg.jpg');}
.home .mobile-page div{display:block;margin-left:50px;font-family:Georgia;}
.home .mobile-page img {display:block;}
.mobile-page .mobile-container{padding:10px;}
.mobile-page .mobile-container .fullsite{font-size:2em;line-height:36px;height:50px;}
.mobile-page .mobile-container .fullsite a{color:#572600;text-decoration:underline;}
.mobile-page .mobile-container img{}
.mobile-page .mobile-container .productname{font-size:4em;line-height:60px;margin-top:15px;}
.mobile-page .mobile-container .tagline{font-style:italic;font-size:2em;margin-top:15px;border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding:20px 0px 20px 0px;}
.mobile-page .mobile-container .calltoorder{font-family:sans-serif;text-transform:uppercase;font-size:2em;margin-top:15px;font-weight:600;padding:20px 0px 20px 0px;}
.mobile-page .mobile-container .calltoorder a{color:#d47600;}