sup{position: relative; top: -0.3em; font-size: .8em;}
input, select{background-color:#fff !important}
.topStrip .welcomecoloum .accountnav, .topStrip .welcomecoloum #member-logedin,
.topStrip .welcomecoloum .accountnav a, .topStrip .welcomecoloum #member-logedin a{ font-family:Arial, Helvetica,sans-serif !important;}
.ui-widget-overlay{ width:100% !important;}

#ptChekoutsingle .shippingTotal .shippingprice{width:681px;padding-right:0px;}
#ptChekoutsingle .order-totals.shippingTotal #totalshippingprice{padding: 0; width: auto; font-size: 14px; color: #5E5E5E; float: left; margin-left: 70px; }
#ptChekoutsingle .totalShipping{width:131px;}
.upsellcontent .addtocart_btn  .addtocartbtn {text-indent:-999px;}
#ptChekoutsingle #totalshippingprice td#shipTotal{float:right;padding-right:8px;width:auto;}
#ptChekoutsingle .shipping_total .rush_shipping{width:210px;}
.checkout_box .ch_selected_products td.qty{width:100px;padding-right:10px;}
#ptChekoutsingle .orderConfimationContainer .ch_selected_products td.itemtotalcolumn{padding-top:13px;}
.order .pageBody{background:url(../images/layout/pagebody-bg.png) left 10px repeat-x #ffffff;}
.shoppingcartpage .headerWraper ul.topNav li#nav-success-stories, .order .headerWraper ul.topNav li#nav-success-stories,.ptChekout .headerWraper ul.topNav li#nav-success-stories{border-right:1px solid #98dba1;}
#ptChekoutsingle .orderConfimationContainer .yourinformation .custInfo #custName{font-weight:700;}


.quantitycolumn #qtydecrease{float:left;text-indent: -999px;}
.quantitycolumn #qtyincrease{float:left;margin-left:5px;text-indent: -999px;}
.quantitycolumn #quantity{float:left;margin-left:5px;padding-top:10px;}
