body {background:none;}
.errorform { clear:both;border: 2px solid #F00;background: #EEE;margin: 10px; padding: 10px;}
.headerWraper {height:130px;background:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.header {height:85px;margin-top: 0px;}
.header #logo {background: url(../images/logo-cart.png) 0 0 no-repeat; width: 212px; height: 65px; float: left; margin: 10px 10px 0 0;}
.header .callus {float: right;font-size: 1.25em;font-weight: bold;}
.headerBar{ height:36px;background-color:#4d4d4d;border-top:3px solid #4a4a4a;border-bottom:6px solid #676767; margin-top: 0;}
#selectyourshipment {display:none;}
.cart .personInfform {width:50%;}
.cart .personInfform .paymentInfo {width:100%;padding:0px;}
.cart .personInfform .billing {width:100%;;border:none;float:none;}
.cart .personInfform .billing .formfield {width:100%;}
.cart .personInfform .formfield input {width:300px;margin-bottom: 0px;}
.cart .personInfform .formfield select {width:300px;margin-bottom: 0px;}
.cart .personInfform .formfield {text-align: right;margin-bottom: 10px;}
.cart .errorclient {float: right;clear: both;font-size: 12px;}
.cart .label {float:none;}
.orderConfimationContainer .ordersummary .orderTotal {display:block;}
.cart .personInfform {clear:none;}
.personInfform {border:none;}
.cart .personInfform h4 {font-size:1em;padding: 25px 0px 10px;}
.cart .personInfform .formfield .month select {width:100px;}
.cart .personInfform .formfield .year select {width:100px;}
.cart .personInfform .expirationDate .value {float: right;width: 300px;}
.cart .personInfform .paymentInfo .year {width: initial;}
.cart .personInfform .paymentInfo .month {width: initial;}
.cart .personInfform .paymentInfo .cvn {clear:both;}
.carddetails .cardNumber {clear:both;}
.carddetails .owner {clear:both;}
.carddetails .expirationDate  {clear:both;}
.carddetails .cvn   {clear:both;}
#legalinfo {text-align:center;font-size:1em;color:#898989;}
#legalinfo span {display:none;}
.row {clear:none;}
.cart .orderTotal {padding: 15px;font-size: 14px;margin: 15px 20px 30px 0;background: #dbf3ff; both;width:408px;}
#primary-product {width:100%;}
#primary-product .col1 {width: 220px;height: 262px;float: left;margin: 40px 0 0 0;}
#primary-product .col2 {width: 450px;float: left;margin: 40px 0 0 50px;}
#primary-product .col3 {width: 280px;float: right;margin: 40px 0 0 0;}
#primary-product .col3 .blue-box {width: 205px; padding: 15px;float: right; margin: 60px 20px 0 20px; background: #dbf3ff;}
#primary-product .col3 .blue-box div {font-size: 13px;height: 20px;}
#primary-product .col3 .blue-box .price-box {font-size: 14px;}
#primary-product .col3 .blue-box .price {font-size: 14px;font-weight: bold;height: 25px;margin: 10px 0 0 5px;display: inline;}
#primary-product .col3 .blue-box .price-amount {font-size: 14px;display: inline;}
#primary-product .col2 ul {font-size: 13px !important; margin: 1em 0 0 1em;list-style-type:disc;}
#sideslots {float:right; width: 424px;clear:both; margin: 0 25px 0 20px;}
.satisfaction {font-size:12px;clear: both; color: #000;}
.satisfaction p{margin:1em;}
.cred-container {margin: 50px 0 0 0;width: 450px;height: 120px;}
.cred {margin: 0 0 0 0;width: 138px;float: left;text-align: center;}
#speedcounts-product {color: #555;font-size:24px; font-weight:bold;height: 25px;margin: 5px 0 0 0;}
#speedcounts-tfn {color: #33b5f9;font-size:34px; font-weight:bold;height: 45px;}
.cart .checkoutBottom .agreeBox {text-align:center;}
.cart .checkoutBottom .agreeBox p {float:none;}
.cbBilling h4 {margin-right: 227px;text-align: right;}
.paymentInfo h4 {margin-right: 320px;text-align: right;}
.companyName .labeltext {font-weight:normal;}