/* Custom fonts 
@font-face {
    font-family: 'HELVETICANEUELTSTD_LT';
    src: url('fonts/HELVETICANEUELTSTD_LT.eot');
    src: url('fonts/HELVETICANEUELTSTD_LT.eot?#iefix') format('embedded-opentype'),
         url('fonts/HELVETICANEUELTSTD_LT.woff') format('woff'),
         url('fonts/HELVETICANEUELTSTD_LT.ttf') format('truetype'),
         url('fonts/HELVETICANEUELTSTD_LT.svg#HELVETICANEUELTSTD_LT') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HELVETICANEUELTSTD_BD';
    src: url('fonts/HELVETICANEUELTSTD_BD.eot');
    src: url('fonts/HELVETICANEUELTSTD_BD.eot?#iefix') format('embedded-opentype'),
         url('fonts/HELVETICANEUELTSTD_BD.woff') format('woff'),
         url('fonts/HELVETICANEUELTSTD_BD.ttf') format('truetype'),
         url('fonts/HELVETICANEUELTSTD_BD.svg#HELVETICANEUELTSTD_BD') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/


@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('fonts/HelveticaNeueLTS/helveticaneueltstd_lt.eot');
    src: url('fonts/HelveticaNeueLTS/helveticaneueltstd_lt.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTS/helveticaneueltstd_lt.woff') format('woff'),
         url('fonts/HelveticaNeueLTS/helveticaneueltstd_lt.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTS/helveticaneueltstd_lt.svg#HelveticaNeueLTStd45Light') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStd75Bold';
    src: url('fonts/HelveticaNeueLTBold/helveticaneueltstd_bd.eot');
    src: url('fonts/HelveticaNeueLTBold/helveticaneueltstd_bd.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTBold/helveticaneueltstd_bd.woff') format('woff'),
         url('fonts/HelveticaNeueLTBold/helveticaneueltstd_bd.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTBold/helveticaneueltstd_bd.svg#HelveticaNeueLTStd75Bold') format('svg');
}
