@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0;color:#4c4c4c}
html *{outline:0}
img{border:0}
ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
a{color:#4e6780;cursor:pointer;text-decoration:none}
.clear{clear:both}

/* security & privacy in css begin */
.ui-dialog .privacy-policy h1{ font-weight:700px; font-size:20px; color:#000; padding-bottom:10px;}
.ui-dialog .privacy-policy h3,
.ui-dialog .privacy-policy h4{font-size:15px;font-weight:bold;padding-bottom:10px;font-family:Arial, Helvetica, sans-serif;line-height:18px;color:#707070}
.ui-dialog .privacy-policy h4{font-size:13px;}
.ui-dialog .privacy-policy p{margin-bottom:15px;font-family:Arial;font-size:11px;line-height:18px;color:#707070}
.ui-dialog .privacy-policy a{color:#00847f}
.ui-dialog  .privacyPolicy{line-height:18px;}
/* security & privacy in css end */

/* terms and conditions in css begin */
.ui-dialog .terms-and-conditions{line-height:18px;}
/* terms and conditions in css end */

/* terms echeck (terms and conditions) in css begin */
#ui-dialog-title-terms-ba{border-bottom:1px solid #000;color:#4e4e4e;font-size:24px;font-weight:normal;padding-bottom:15px;width:90%}
.ui-dialog .terms-echeck h6{color:#4e4e4e;font-weight:bold;margin-bottom:10px}
.ui-dialog .terms-echeck p,.ui-dialog .terms-echeck li{color:#4e4e4e;line-height:18px;padding-bottom:10px}
/* terms echeck (terms and conditions) in css end */