.blue-btn span,.gr-btn span,black-btn span,.gr-btn-a span,.gy-btn-a span,.black-btn-a span,.gy-btn span,.addtocartbutton span{margin-top:0px;}
.black-btn span, .deletelink span,#AboutYouForm .formactions .gy-btn span{margin-top: 0px;padding-top:0px;}
.sitesearch button{padding: 2px 20px 3px 20px;}
.gr-btn-a,.black-btn-a,.gy-btn-a{background-position:left 0px;}
.pt-checkout-refresh #main a.back_to_top{ top: 44px;right:0px;}
.pt-checkout-refresh #main a.back_to_top{ top: 44px;right:0px;}
#w-fix.accountlogin .blue-btn{width:88px;}
#w-fix.accountlogin{width:325px;overflow: hidden;}
.checkout_box.cb_shipping  .formfield .value{min-height:45px;}
.checkout_box{background:none; }

