.productlisting .producttile .swatches .innerpalette{width: 100px;}
/*#header_new .content-nav li div.subnav{width: 294px;}*/
/*#header_new .content-nav li.big div.subnav{width: 516px;}*/
/*padding: 10px 18px 12px 15px;*/