body.twoKits .tab2.radiodeluxe .kitImage {
    margin-left: 20px;
}
body.twoKits .tab2.top40deluxe .kitImage {
    margin-left: 20px;
}
div.bestValue {
    background: url("../images/interface/dotwack-bestvalue.png") repeat scroll 0 0 transparent;
    height: 44px;
    margin: -10px 0 10px;
    position: relative;
    text-indent: -99999em;
    width: 44px;
}
div.tabImage {
    margin-bottom: 3px;
}
div.tabImage div.orange {
    background: none repeat scroll 0 0 #EA7047;
    border-radius: 0 0 7px 7px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    padding: 0 0;
}
div.tabMessage.twoLine {
    background: none repeat scroll 0 0 #EA7047;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    position: relative;
    text-align: center;
    top: 10px;
}
div.tabMessage2 {
    background: none repeat scroll 0 0 #EFF1F5;
    border-radius: 0 0 5px 5px;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 15px;
    position: relative;
    text-align: center;
    top: 10px;
}
div.underlined {
    border-bottom: 4px solid #5E921F;
}
li.orange div.tab2image {
    border-color: #F58453;
}
div.tab1image {
    border-color: #EA7047;
}
div.tab2image {
    border-color: #5B7EC3;
}
div.tab3image {
    border-bottom: 4px solid #5E921F;
}
li.wedding div.orange, li.wedding span.tabMessage {
    background: none repeat scroll 0 0 #004A80;
}
li.wedding div.tab1image {
    border-color: #004A80;
}
span.inlineMessage {
    background: none repeat scroll 0 0 #CC9933;
    border-radius: 2px 2px 2px 2px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 0 3px;
}
span.tabMessage {
    background: none repeat scroll 0 0 #EA7047;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 30px;
    position: relative;
    top: 35px;
}
ul.fiveKits li {
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    float: left;
    height: 114px;
    margin: 12px 3px;
    width: 163px;
}
ul.fiveKits li .badge {
    left: 140px;
}
ul.fourKits li {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    float: left;
    height: 114px;
    margin: 12px;
    width: 190px;
}
ul.productList {
    margin-top: 12px;
}
ul.productList {
    line-height: 1.4em;
    margin: 0 0 15px 3px;
}
ul.productList li {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding-left: 15px;
}
ul.productList li.aqua {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 -369px transparent;
}
ul.productList li.blue {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 -296px transparent;
}
ul.productList li.brown {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 -196px transparent;
}
ul.productList li.green {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 4px transparent;
}
ul.productList li.navy {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 -496px transparent;
}
ul.productList li.orange {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 -96px transparent;
}
ul.productList li.pink {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 -696px transparent;
}
ul.productList li.red {
    background: url("../images/interface/bullet-prodcolor.png") no-repeat scroll 0 -596px transparent;
}
ul.threeKits li {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    float: left;
    height: 119px;
    margin: 12px;
    width: 264px;
}
ul.threeKits li .badge {
    background: none repeat scroll 0 0 transparent;
    height: 61px;
    left: 10px;
    width: 62px;
}
ul.twoKits li {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    float: left;
    height: 114px;
    margin: 12px;
    width: 410px;
}
ul.twoKits li .badge {
    height: 61px;
    left: 60px;
    width: 62px;
}
.badge {
    height: 46px;
    position: relative;
    top: -80px;
    width: 44px;
}
.badge.monday {
    background-position: center -150px;
}
.badge.soon {
    background-position: center -50px;
}
.badge.today {
    background-position: center -100px;
}
.badge.value {
    background-position: center top;
}
.bieber .kitImage {
    margin-top: -310px;
}
.deluxeBadge {
    display: block;
    height: 74px;
    left: 350px;
    position: absolute;
    top: 10px;
    width: 185px;
}
.tab1 .deluxeBadge {
    display: block;
    height: 74px;
    left: 350px;
    position: absolute;
    width: 185px;
}

.theKits .qty-3 .deluxeBadge {left:315px}

.SelectSidePanel {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    float: right;
/*    height: 372px;*/
    margin: -55px 10px 50px 15px;
    width: 333px;
}
.qty-3 .SelectSidePanel {
 	width:409px; 
 	height:auto;
 }

.giftOption {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    clear: none;
    cursor: pointer;
    float: left;
    height: 100px;
    margin: 10px 10px 50px;
    width: 130px;
}
#r1, #r3, #r5 {
}
#r2, #r4, #r6 {
}
.giftTitle {
    float: left;
    line-height: 12px;
    margin-left: 5px;
    margin-top: 10px;
    width: 10px;
}
.giftImage {
    float: right;
    height: 90px;
    margin-right: 5px;
    margin-top: -15px;
}
.giftLink1, .giftLink2 {
    color: #FF0000;
    font-size: 10px;
    margin-left: 10px;
    position: absolute;
    top: 117px;
    width: 100px;
}
.giftLink2 {
    left: 173px;
}
.giftSelected {
    border: 3px solid #87A520;
}
.checkBox {
    background-image: url("../images/order/selectGiftSelect/unchecked.png");
    float: left;
    height: 32px;
    margin-top: -10px;
    width: 30px;
}
.giftSelected div.checkBox {
    background-image: url("../images/order/selectGiftSelect/checked.png");
    border: medium none;
}
.DetailDescription {
    float: left;
    width: 95%;
/*    height: 160px;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
/*    width: 310px;*/
}
.qty-2 .DetailDescription {width:310px}
.DetailDescription .left {
    float: left;
    clear:left;
    font-size: 11px;
    line-height: 13px;
    margin-right: 10px;
    width: 160px;
}
.DetailDescription .right {
    float: right;
    font-size: 11px;
    line-height: 13px;
    width: 135px;
}
.DetailDescription h5, .GiftSelector h5 {
    border-bottom: 1px solid #000000;
    font-size: 18px;
    margin: 0 0 3px;
    padding: 0 0 5px 10px;
}
.DetailDescription span {
	float:left;
}
.GiftSelector {
    float: right;
    height: 145px;
    margin-right: 10px;
    position: relative;
/*    width: 310px;*/
}
.qty-2 .GiftSelector {width:310px;}
.kitImage {
    clear: left;
    float: left;
	margin-left:0;
	margin-top:-15px;
}
.tab3 .kitImage {
	margin-left: 25px;
	margin-top: 0;
}
div#r0 img, div#r1 img, div#r2 img {
	margin-top:0;
}
.kitPrice {
    float: left;
    font-size: 28px;
    font-weight: bold;
    padding: 12px 10px 10px 0;
}
.kitPriceBox {
    background: none repeat scroll 0 0 #F7E9D4;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 42px;
    margin: 10px 10px 10px 15px;
    width: 300px;
}
.qty-3 .kitPriceBox {
	width: 380px;	
}
.order #main #primaryContent h1 {
    background: none repeat scroll 0 0 transparent;
}
.orderButton {
    background: url("../images/order/select3G/orderButton.png") repeat scroll center center transparent;
    display: none;
    float: right;
    height: 26px;
    margin-top: -1px;
    width: 118px;
}
.orderMeta {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}
.orderValue {
    color: #7D7871;
    float: left;
    font-weight: bold;
 /*   padding: 2px 0 0 10px;*/
 		margin-left:10px;
    width: 60px;
    line-height:16px;
    margin-top:10px;
}
.qty-3 .orderValue {width:100px;margin-left:30px;line-height:40px;margin-top:1px}
.orderDisc {
    color: #F00000;
    font-weight: bold;
    margin-right: 34px;
    text-align: right;
}
.radiobasic .kitImage {
    margin-left: 100px;
}
.sasKits li .badge {
    left: 160px;
}
.sasKits li.activated {
    background-color: #F3F3F3;
    border: 1px solid #B1B1B1;
    margin: 10px 11px;
}
.sasKits li.wedding {
    background: url("../images/order/select3G/weddingbg.png") no-repeat scroll 0 0 transparent;
}
.top40three .kitImage {
    margin-left: 100px;
}
.sasKits li:hover {
    background-color: #EFF1F5;
}
.selectedKit {
    background: url("../images/order/select3G/kitBG.png") repeat-x scroll 0 -15px white;
    border: 1px solid #CBCBCB;
    border-radius: 5px 5px 5px 5px;
    /*height: 425px;*/
    margin-top: 5px;
    width: 100%;
}
.selectKit {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #CBCBCB;
    border-radius: 5px 5px 5px 5px;
    height: 136px;
}
.oneKit .selectKit {display:none}
.oneKit .selectedKit {margin-top:0px;}
.tab4 .kitImage {
    margin-left: 100px;
}
.tab5 .kitImage {
    margin-left: 100px;
}
.tabImage {
    margin: -30px 0 0;
    text-align: center;
}
.tabImage img {
    margin: 0 auto;
}
.theKits li.tab1, .theKits li.tab2, .theKits li.tab3, .theKits li.tab4, .theKits li.tab5 {
    display: none;
    position: relative;
}
.theKits li.first {
    display: block;
}
#bvinline-wrap {
    border-bottom: 1px solid #CCCCCC;
    float: right;
    height: 30px;
}
#bvinline-wrap div#bvinline-average {
    border-bottom: 0 dotted #555555;
    color: #555555;
    font-size: 9px;
}
#bvinline-wrap div#bvinline-average {
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin-top: 6px;
}
#bvinline-wrap div#bvinline-average, #bvinline-wrap div#stars {
    color: #555555;
    font-size: 10px;
}
#bvinline-wrap div#bvinline-title {
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin-right: 5px;
}
#bvinline-wrap div#bvinline-title p {
    text-align: right;
}
#bvinline-wrap div#stars {
    float: left;
    margin-right: 5px;
}
#bvinline-wrap div#stars img {
    margin-top: 8px;
}
#header .primaryNavigation .order {
    display: none;
}
#main #primaryContent {
    float: none;
    padding: 0;
    width: 888px;
}
#main #primaryContent {
	background-color:inherit;
	position:relative;
	left:auto;
}
#main #primaryContent .sasKits li.activated h3 {
    margin-top: 4px;
}
#main #primaryContent .selectedKit ul li h4 {
    color: #4E4D4B;
    float: left;
    font-size: 27px;
    font-weight: normal;
    margin: 15px 0 15px 15px;
}
#main #primaryContent h1 {
    margin: 0 0 0;
    display:block;
}
#main #primaryContent h3 {
    border: 0 none;
    color: #7D7C7B;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px;
    text-align: center;
}
#main ul.productList a {
    border-bottom: 1px dotted #4E6780;
    color: #4E6780;
}
#overlay_product h2 {
    height: 35px;
    margin-bottom: 20px;
    padding-bottom: 6px;
    text-indent: -99999em;
}
#overlay_product.clearzone h2 {
    background: url("../images/order/product/title-clearzone.png") no-repeat scroll 0 0 transparent;
}
#overlay_product.deepclean h2 {
    background: url("../images/order/product/title-deepclean.png") no-repeat scroll 0 0 transparent;
}
#overlay_product.makeupremove h2 {
    background: url("../images/order/product/title-makeupremove.png") no-repeat scroll 0 0 transparent;
}
#overlay_product.oilblotter h2 {
    background: url("../images/order/product/title-oilblotter.png") no-repeat scroll 0 0 transparent;
}
#overlay_product.porepeel h2, #overlay_product.eyeserum h2 {
    font-size: 20px;
    height: 50px;
    line-height: 22px;
    text-indent: 0;
}
#page_order_select3g #main #primaryContent p.intro {
    height: 22px;
    overflow: hidden;
    width: 100%;
}
#page_order_select3g div.c2c {
	left: 50%;
    margin-left: 260px;
    position: absolute;
    top: 14px;
}
#page_sas-control2_select3g div.c2c {
    left: 50%;
    margin-left: 260px;
    position: absolute;
    top: 9px;
}
#SaS, .reviews-container {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 5px;
    width: 878px;
}
#Select300_InlineRating {
    margin-right: 0;
    position: absolute;
    right: 158px;
    top: 10px;
}
.ninetyDayPopup {
    background: -moz-linear-gradient(center top , #FFFFFF 80%, #DEDEDE) repeat scroll 0 0 transparent;
    border: 1px solid #B1B1B1;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 3px 3px 4px #DDDDDD;
    display: none;
    height: 335px;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 10;
}
.ninetyDayPopup h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
    margin-left: 8px;
}
.ninetyDayPopup a {
    color: #666666;
    float: left;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 11px;
}
.ninetyDayPopup img {
    margin: 0 auto;
}
a.orderPopup {
    background: url("../images/order/select3G/orderButton_g.png") repeat scroll center center transparent;
    display: block;
    float: right;
    height: 27px;
    margin-right: 18px;
    margin-top: 8px;
    width: 124px;
}
.popup90Close {
    background: url("../images/interface/btn-circles.png") no-repeat scroll 0 -300px transparent;
    cursor: pointer;
    float: right;
    height: 20px;
    text-indent: -99999em;
    width: 20px;
    z-index: 1000;
}
.popup90Close:hover {
    background-position: -300px -300px;
}
.ninetyDayPopup span.fs {
    clear: both;
    color: #FF0000;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: 35px;
    margin-top: 3px;
}
#popupBG {
    background-color: #FFFFFF;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    z-index: 8;
}
.overnightpromo {
    background: url("../images/order/select3G/holiday-overnight-banner.png") no-repeat scroll 0 0 transparent;
    height: 94px;
    margin-left: 75px;
    width: 196px;
}
.overnightpromo a {
    display: block;
    height: 100%;
    width: 100%;
}
.overnightpromo_fs {
    background: url("../images/order/select3G/overnight-fs-banner.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 74px;
    top: 10px;
    width: 125px;
}
.overnightpromo_fs_1299 {
    background: url("../images/order/select3G/overnight-fs-banner2.gif") no-repeat scroll 0 0 transparent;
    display: none;
    height: 74px;
    top: 10px;
    width: 125px;
}
.overnightpromo_fs a {
    display: block;
    height: 100%;
    width: 100%;
}
.overnightpromo_fs_1299 a {
    display: block;
    height: 100%;
    width: 100%;
}
.fs_description {
    background: url("../images/order/select3G/fs-description.png") no-repeat scroll 0 0 transparent;
    height: 23px;
    width: 101px;
}
.disc_small {
    color: #666666;
    font-size: 9px;
    padding-right: 13px;
    position: relative;
    text-align: right;
    top: -5px;
}
.free-ship-holiday {
    background: url("../images/order/select3G/freeshipping-tag.png") no-repeat scroll 0 0 transparent;
    height: 107px;
    position: absolute;
    right: -25px;
    width: 158px;
}
.free-ship-holiday.today {
    background: url("../images/order/select3G/freeshipping-tag-today.png") no-repeat scroll 0 0 transparent;
}
body #main a.upsell_popup_link {
    bottom: 5px;
    color: #4E6780;
    font-size: 16px;
    margin-left: 49px;
    position: relative;
    text-align: center;
}
body #main a.upsell_popup_link:hover {
    color: #000000;
}
.selected {
    display: block;
}

.giftOption {
    margin: 10px 3px 50px;
    width: 117px;
}

.qty-2 .giftOption {
    margin: 10px 9px 50px;
    width: 130px;
}

.emailFriendFeature {
    /*float: right;
    height: 63px;
    left: 50%;
    margin-left: 124px;/*
    padding: 2px 10px;
    /*position: absolute;
    top: 590px;
    width: 280px;*/
}
.emailFriendFeature.activ {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
}
.emailFriendFeature form {
    display: none;
}
.emailFriendFeature.activ form {
    display: block;
}
#main .emailFriendFeature.activ .emailFriendHeader, #main .emailFriendFeature.activhover .emailFriendHeader {
    margin-bottom: 2px;
}
.emailFriendHeader {
    color: #394454;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
span.underline:hover {
    text-decoration: underline;
}
#main #primaryContent .emailFriendFeature form input {
    border: medium none;
}
.emailFriendFeature #emailAddress {
    background: url("../images/emailform/from_input.png") no-repeat scroll 0 0 transparent;
    font-size: 10px;
    height: 18px;
    padding: 0 3px 2px 13px;
    width: 154px;
}
.emailFriendFeature #friendEmailAddress {
    background: url("../images/emailform/to_input.png") no-repeat scroll 0 0 transparent;
    font-size: 10px;
    height: 14px;
    padding: 4px 3px 2px 13px;
    width: 154px;
}
.emailFriendFeature #btn_send {
    float: right;
    margin-top: -30px;
}
.emailFriendFeature form label {
    color: #394454;
    float: left;
    font-size: 10px;
    width: 40px;
}
.emailFriendFeature p.emailFriendHeader span.closeBtn {
    background: url("../images/emailform/togglebutton.png") no-repeat scroll center bottom transparent;
    display: inline-block;
    height: 11px;
    text-decoration: none;
    width: 11px;
}
.emailFriendFeature.activ p.emailFriendHeader span.closeBtn {
    background: url("../images/emailform/togglebutton.png") no-repeat scroll center top transparent;
}
.emailFriendFeature {
    position: relative;
    top: -50px;
    float:right;
}

#header_new .toporder {display:none;}
#header_new .content-nav li {margin: 20px 20px 26px;}
/*#header_new .content-nav li a:hover,#header_new .content-nav li:hover a{padding:16px 16px 26px;}*/