/* =Section Titles
-----------------------------------------------------*/

.howtouse #main #primaryContent h1 {
	display: block;
}

.howtouse.enhancements #main #primaryContent h1 {
}

.threeStep{
	overflow: auto;
	margin:8px 0 10px 0;
	overflow:hidden;
}
.threeStep .step{
	width: 210px;
	height:425px;
	min-height: 375px;
	border:1px solid #ccc;
	float:left;
	margin-left: 4px;
}

.threeStepBox{
	background: url(../images/howtouse/3stepbg.png) no-repeat;
	padding:5px 15px;
	height:516px;
	width: 645px;
}
.threeStep .step.one{
	margin: 0;
}
.threeStep .step h4{
	width:100%;
	text-align: center;
	text-indent: -9999px;
	margin-bottom: 7px;
}
.threeStep .one h4{
	background: transparent url(../images/howtouse/steps.png) no-repeat scroll top center;    
}
.threeStep .two h4{
	background: transparent url(../images/howtouse/steps.png) no-repeat scroll center center;    
}
.threeStep .three h4{
	background: transparent url(../images/howtouse/steps.png) no-repeat scroll  center -37px !important;    
}
.threeStep .step h5{
	width:100%;
	text-align: center;
	color: #4e4d4b;
	margin-bottom:9px;
	font-size:14px;
}

.threeStep .step.one h5 {
}

.threeStep .step.two h5 {
}

.threeStep .step.three h5 {
}

.threeStep .step img{
	margin: 0 0 13px 49px;
}
#main .threeStep .step p{
	font-size:0.95em;
	line-height:1.23em;
	margin:4px 25px 0px;
}

a.btnOrderNow {
	display: block;
	height: 21px;
	width: 102px;
	background: url(../images/interface/btn-w-3.0.png) 0 -100px no-repeat;
	text-indent: -99999em;
}

a.btnOrderNow:hover {
	background-position: -300px -100px ;
}



		strong.orange{
			color:orange;
			font-size:12px;
		}
		ul.steplist{
			margin: 10px 25px;
			font-size:12px;
			line-height:16px;
			list-style:square;
		}
		ul.steplist li{
			padding:0;
			margin:0;
			margin-bottom:10px;
		}
		#main .threeStep .step p.thenote{
			font-size:10px;
			margin-top:52px;
			color:#a3a3a3;
			line-height:12px;
		}
		.threeStep .step {
			height:495px;
		}
		#order_promo .howToUse{
		margin:0 30px 0 20px;
		}
		#order_promo .order {
			width:200px;
			margin-left:30px;
		}
		#main #primaryContent .pageHead {
			padding:0 0 15px;
		}
		#main #primaryContent .pageHead p{
			margin-bottom:0;
		}
