@charset "utf-8";
/* CSS Document */
#MyWidget{
	width:925px;
	float: left;
}

/*#overlays {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.60;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=67);
	-moz-opacity: 0.79;
	z-index: 1005;
	position: absolute;

}*/
#productData {
    float: left;
   padding:6px 0 5px 19px;
    width: 560px;
}
#proactive_logo{margin-left:22px!important;}

#productData .productImg {
    float: left;
    margin: 0 3px 0 2px;
    width: 57px;
    height: 104px;
}
#productData .productImg .slotdelete{ display: inline; left: 42px; position: relative; top: -109px; z-index: 10;}
#righttextholder { padding: 10px 14px 0 0 !important;}
#widgetHeader {
	background-image:url(../images/kit/header.png);
	background-repeat:no-repeat;
	width:925px;
	height: 37px;
	 float: left;
}

#questionmark{
	background-image:url(../images/kit/question_mark.png);
	background-repeat:no-repeat;
	position:relative;
	display:block;
	left:407px;
	top:10px;
	width:13px;
	height:14px;
	padding: 0 0 19px;
	cursor:pointer;
	z-index:20;
}

#whiteborder{
	width:917px;
	height:1px;
	border-top:1px dotted #d8e4e9;
	border-bottom:1px dotted #d8e4e9;
	position:relative;
	top:2px;
	left:4px;
}

.widget_customize_button,.widget_customize_close {position:relative; float: left;	padding: 2px 0 0;	background:url(../images/kit/kitwidget-btm-bar.png) 0 0 no-repeat; width:923px; /*height:3px;*/}
.widget_customize_close {display:none; padding: 0; background:url(../images/kit/kitwidget-btm-bar.png)0 0 no-repeat;}
#widgetHeaderText{
	position:relative;
	display:inline;
	left:600px;
	top:-8px;
}

#headerloginlink{
	font-family:Verdana, Geneva, sans-serif;
	color:#0d6254;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
}

#headerseperator{
	font-family:Verdana, Geneva, sans-serif;
	color:#0d6254;
	font-size:11px;
	font-weight:bold;
}

#headerbecomeamemberlink{
	font-family:Verdana, Geneva, sans-serif;
	color:#0d6254;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
}

#headersaveandmore {
	font-family:Verdana, Geneva, sans-serif;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
}


#widget_customize_background{
	background-image:url(../images/kit/open_background.png);
	background-repeat:no-repeat;
	display:none;
	height:177px;
	background-color: #accedc;
	position: relative;
	float: left;
	width: 925px;
}


#widget_customize_button{
	/*position:relative;*/
	cursor:pointer;
	/*margin-left: 10px;
	top:40px;*/
}

#widget_customize_close{
	position:relative;
	cursor:pointer;
	display:block;
	left:0px;
	top:2px;
	z-index:19;

}




#previewwindow{
	display:none;
	background-image:url(../images/kit/blank_preview.png);
	background-repeat:no-repeat;
	height:203px;
	width:158px;
	position:absolute;
	top:200px;
	left:0px;
	z-index:999;
}

#previewImage{
	display: block;
    height: 131px;
    left:5px;
    top:5px;
    width: 149px;
    background-repeat:no-repeat;
    position:relative;
    padding-bottom:3px;
    border-bottom:1px dotted #808080;
}

#previewProdName{
	position:relative;
	padding-top:8px;
	width:143px;
	text-align:center;
	font-size:11px;
	font-family:Arial, Geneva, sans-serif;
	left:9px;
	font-weight:normal;
	height:auto;
	line-height:16px;
	color:#43606c;
}
#previewVariant{
	position:relative;
	padding-top:1px;
	width:136px;
	text-align:center;
	font-size:11px;
	font-style:italic;
	font-family:Arial, Geneva, sans-serif;
	left:12px;
	top:3px;
}

#variantValue{
	position:relative;
	/*top:2px;*/
	display:inline;	
}

#itemaddedbox {
	display:none;
	background-image:url(../images/kit/item_added_box.png);
	background-repeat:no-repeat;
	height:77px;
	width:339px;
	position:absolute;
	/*display:block;*/
	top:0px;
	left:0px;
	z-index:30;
}

#doctorsadvice {
	display:none;
	overflow: hidden;
	height:157px !important;
}

#doctorsadviceimage {
    display: block;
    float: left;
    height: 166px;
    left: 0;
    position: relative;
    top: -4px;
    width: 132px;
}

#doctorsadviceokbtn{
	background-image:url(../images/kit/ok_btn.png);
	background-repeat:no-repeat;
	width:53px;
	height:22px;
	position:relative;
	display:block;
	top:9px;
	left:13px;
	z-index:31;
}

#text_doctors_advice_title {
    color: #4D4D4D;
    display: block;
    font-family: Arial,Geneva,sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:15px;
    position: relative;
    text-align: left;
    top: 0;
    width:325px;
}

#text_doctors_advice_main {
    color: #4D4D4D;
    display: block;
    font-family: Arial,Geneva,sans-serif;
    font-size: 12px;
    left: 14px;
    position: relative;
    text-align: left;
    top:3px;
    width: 370px;
}


#text_doctors_advice_products {
    color: #397A96;
    display: inline;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    left: 13px;
    position: relative;
    text-align: left;
    top:3px;
}

#doctorsadvicetext {
    float: left;
    position: relative;
    text-align: left;
    top: 0;
    width: 375px;
}
#text_doctors_advice_products a{
	color:#327995;
	text-decoration:none;
}

#text_doctors_advice_products a:hover{color:#102942;}

#adjustfrequencymain{
	display:none;
	padding:20px;
}

#frequencyselectbox{
	position:relative;
	display:inline;
	top:37px;
	left:-5px;
	z-index:31;
}

#frequencysavebtn{
	background-image:url(../images/kit/save_btn.png);
	background-repeat:no-repeat;
	width:103px;
	height:22px;
	position:relative;
	display:block;
	top:15px;
	left:120px;
	z-index:31;
}

#frequencycancelbtn{
	background-image:url(../images/kit/cancel_btn.png);
	background-repeat:no-repeat;
	width:89px;
	height:22px;
	position:relative;
	display:block;
	top:-7px;
	left:235px;
	z-index:31;
}

#frequencyxbtn{
	background-image:url(../images/kit/x_btn.png);
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	position:relative;
	display:block;
	top:-53px;
	left:506px;
	z-index:31;
}

#adjustfrequencyconfirm{
	display:none;
	height:130px !important;
}

#text_adjust_frequency_title{
	position:relative;
	display:inline;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	top:1px;
	left:-8px;
}

#text_adjust_frequency_main{
	position:relative;
	display:block;
	font-family:Arial, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:left;
	top:10px;
	left:-7px;
	font-weight:bold;
	width:472px;
}

#text_adjust_frequency_helper{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:9px;
	text-align:left;
	top:18px;
	left:-7px;
	width:472px;
}

#text_adjust_frequency_confirm_title {
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	top:1px;
}

#text_adjust_frequency_confirm_main{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:11px;
	text-align:center;
	top:10px;
}

#frequencyclosebtn{
	background-image:url(../images/kit/fclose_btn.png);
	background-repeat:no-repeat;
	width:103px;
	height:22px;
	position:relative;
	display:block;
	top:31px;
	left:186px;
	z-index:31;
}
/*kit maxed out error window*/
#kitfullmessagewindow{
	display:none;
	height:132px !important;
}

#kitfulltexttitle {
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	top:9px;
	left:10px;
}

#kitfulltextbody{
	position:relative;
	display:block;
	font-family:Arial, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:27px;
	left:7px
}

#kitfullokbtn{
	background-image:url(../images/kit/ok_btn.png);
	background-repeat:no-repeat;
	width:53px;
	height:22px;
	position:relative;
	display:block;
	top:42px;
	left:225px;
	z-index:31;
}

/*final code changes from producto*/
#limitedsupplywindow{
	display:none;
	height:130px !important; 
}

#limitedsupplyremove{
	/*background-image:url(../images/kit/remove_btn.png);*/
	background-repeat:no-repeat;
	width:114px;
	height:22px;
	position:relative;
	display:block;
	top:34px;
	left:125px;
	z-index:31;
}

#limitedsupplyclosebtn{
	/*background-image:url(../images/kit/nevermind_btn.png);*/
	background-repeat:no-repeat;
	width:99px;
	height:27px;
	position:relative;
	display:block;
	top:11px;
	left:246px;
	z-index:31;
}

#text_limited_supply_title{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	top:7px;
	/*left:-10px;*/
}

#text_limited_supply_main{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:16px;
	left:0px;
	width:468px;
}

#howtoaddwindow{
	display:none;
	height:130px !important;
}

#howtoaddmoreinfobtn{
	width:98px;
	height:22px;
	position:relative;
	display:block;
	top:32px;
	left:132px;
	z-index:31;
}


#howtoaddokbtn{
	width:90px;
	height:22px;
	position:relative;
	display:block;
	top:10px;
	left:240px;
	z-index:31;
}

#howtoaddokbtn a span{padding:0 34px 0 26px;}
#howtoaddmoreinfobtn a{color:#fff; font-size:11px;}
#howtoaddmoreinfobtn a span{padding: 0 20px 0 14px;}

#text_how_to_add_main{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:24px;
	left:0px;
	width:460px;
	margin-bottom: 18px;
}

#shippingwindow{
	display:none;
	height:137px !important;
}

#shippingheader{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	top:9px;
}

#shippingtext{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:26px;
	
}

#shippingcost{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:14px;
	text-align:center;
	top:32px;
	font-weight:bold;
}

#shippingokbtn{
	background-image:url(../images/kit/ok_btn.png);
	background-repeat:no-repeat;
	width:53px;
	height:22px;
	position:relative;
	display:block;
	top:52px;
	left:204px;
	z-index:31;
}

#learnmorewindow{
	display:none;
	height: 130px !important;
}
#shipnowconfirmation{
	display:none;
	height: 193px !important;
}
#adjustFreqOldDateConfirmation{
	display:none;
	height: 211px !important;
}
#ui-dialog-title-adjustFreqOldDateConfirmation.ui-dialog-title{display: none;}
#learnmoretext, #shipNowtext1, #shipNowtext2, #adjustFreqOldDatetext{
	position:relative;
	display:block;	
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:11px;
	
}
#shipNowtext1{
	font-size:13px;
	font-weight:bold;
	margin:10px 0 5px; 
}
#learnmorebtn, #shipnowokbtn, #adjustfreqolddateokbtn{
	background-repeat:no-repeat;
	position:relative;
	display:block;
	margin-top:34px;
	margin-left:125px;
	z-index:31;
}
#adjustfreqolddateokbtn{margin-left:140px;}
#adjustfreqolddatecancelbtn{left:10px;}
#learnmorebtn a, #shipnowokbtn a,#limitedsupplyremove a, #adjustfreqolddateokbtn a{color:#fff; font-size:11px;margin:0px}

#learnmoreokbtn, #shipnowcancelbtn, #adjustfreqolddatecancelbtn{
	position:relative;
	display:block;	
	z-index:31;
}
#learnmoreokbtn .gy-btn.gy-btn-a, #shipnowcancelbtn .gy-btn.gy-btn-a{margin-left:20px;}
#shipnowokbtn .gr-btn span,#limitedsupplyremove .gr-btn span, #adjustfreqolddateokbtn .gr-btn span{width:72px; text-align: center;}
#shipnowokbtn .gr-btn span.lc,#limitedsupplyremove .gr-btn span.lc, #adjustfreqolddateokbtn .gr-btn span.lc{width:0px;}
#learnmoreokbtn a span, #shipnowcancelbtn a span, #limitedsupplyclosebtn a span, #adjustfreqolddatecancelbtn a span{font-size: 11px;padding: 0 40px 0 40px;}
#learnmorexbtn{
	background-image:url(../images/kit/x_btn.png);
	background-repeat:no-repeat;
	width:17px;
	height:17px;
	position:relative;
	display:block;
	top:-92px;
	left:468px;
	z-index:31;
}

#errormessagewindow{
	display:none;
	overflow: inherit;
	height:120px;
	min-height:120px !important;
}

#errortext{
	position:relative;
	display:block;
	width:470px;
	padding:10px 0px 10px 10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:0px;
}
#errortext em{font-style:normal; display:block;}
#errorokbtn{
	background-image:url(../images/kit/ok_btn.png);
	background-repeat:no-repeat;
	width:53px;
	height:22px;
	position:relative;
	display:block;
	top:6px;
	left:208px;
	z-index:31;
}

#shipnowerrormessagewindow{
	display:none;
}

#shipnowerrortext{
	position:relative;
	display:block;
	width:450px;
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:6px;
}

#shipnowerrorokbtn{
	background-image:url(../images/kit/ok_btn.png);
	background-repeat:no-repeat;
	width:53px;
	height:22px;
	position:relative;
	display:block;
	top:18px;
	left:208px;
	z-index:31;
}

#confirmwindow{
	display:none;
	height:112px !important;
	overflow:hidden;
}

#confirmtext{
	position:relative;
	display:block;
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#4d4d4d;
	font-size:12px;
	text-align:center;
	top:9px;
	margin-bottom:25px;
}

#confirmokbtn{
	width:90px;
	height:22px;
	position:relative;
	display:block;
	top:10px;
	left:142px;
	z-index:31;
}
#confirmcancelbtn a{color:#fff; font-size:12px;}

#confirmcancelbtn{
	width:82px;
	height:22px;
	position:relative;
	display:block;
	top:-22px;
	left:237px;
	z-index:31;
}
/*final code changes end*/

.selectborder{
	border: 1px solid #000;
}

/* #kitunavailable{
	position:relative;
	display:inline;
	top:-66px;
	left:188px;
	background-color: white;
	width:708px;
	height:92px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding:40px 188px
} */

#instantaccess {
    background-color: #FFF;
    color: #000000;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height:76px;
    padding: 39px 0 0 10px;
    position: relative;    
    width: 714px;
}
#instantaccess em{font-style:normal; font-weight:700;}


.memberpricestrikethru{
	text-decoration:line-through;
}


.kitsavelabel{
	color:#0d6254;
}

.membersavings{
	color:#0d6254;
}

#bottomnav{
	display:block;
	top:0px;
	left:0px;
	float:left;
}

.lastshipmentvalue {
	position:relative;
	padding-left: 18px!imporant;
	display:inline;	
	font-family:Verdana, Geneva, sans-serif;
	color:#636363;
	font-size:10px;
	font-weight:bold;
}

#trackpackagebtn{
	position:relative;
	display:block;
	height:22px;
	width:95px;
	background-image:url(../images/kit/track_btn.png);
	background-repeat:no-repeat;
	text-indent: -9999px;
}

.nextshipmenttext{
	position:relative;
	display:inline;
	
	font-family:Verdana, Geneva, sans-serif;
	color:#636363;
	font-size:10px;
	font-weight:bold;
	text-indent: -9999px;
}

.nextshipmentvalue{
	position:relative;
	display:inline;
	
	font-family:Verdana, Geneva, sans-serif;
	color:#636363;
	font-size:10px;
	font-weight:bold;
}

#shipnowbtndisabled{
	position:relative;
	display:block;
	left:503px;
	top:-90px;
	height:22px;
	width:95px;
	/*cursor:pointer;*/
	background-image:url(../images/kit/shipnow_btn_dis.png);
	background-repeat:no-repeat;
}

#shipnowbtn{
	position:relative;
	display:block;	
	height:22px;
	width:95px;
	background-image:url(../images/kit/shipnow_btn.png);
	background-repeat:no-repeat;
	text-indent: -9999px;
}

.adjustfrequencytext{
	position:relative;
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:#636363;
	font-size:10px;
	font-weight:bold;
	width: 193px;
}
#kitshippingnav span{ padding-top: 14px!important;}
#kitshippingnav .lastshipmenttext {
    padding-left:83px !important; padding-right:0 !important;
}
#kitshippingnav .lastshipmentvalue{padding-left: 10px !important;padding-right:23px !important;}
#kitshippingnav .nextshipmentvalue{padding-left:11px !important;padding-right: 29px !important;}
#adjustnowbtn{
	position:relative;
	display:block;	
	height:22px;
	width:95px;
	background-image:url(../images/kit/adjustnow_btn.png);
	background-repeat:no-repeat;
	text-indent: -9999px;
}

#adjustnowbtndisabled{
	position:relative;
	display:block;
	left:813px;
	top:-130px;
	height:22px;
	width:95px;
	/*cursor:pointer;*/
	background-image:url(../images/kit/adjustnow_btn-dis.png);
	background-repeat:no-repeat;
}

#bottomtextholder{
	position:relative;
	display:inline;
	top:-39px;
	left:171px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	color:#0d6254;
	font-size:10px;;
}

#bottomtextholderkitunavailable{
	position:relative;
	display:block;
	top:-55px;
	left:190px;
	font-family:Verdana, Geneva, sans-serif;
	color:#0d6254;
	font-size:10px;
	font-weight:100;
}

#customizerHolder{
	left:100;
	/*top:0;*/
	z-index:100;	
}
#kitshippingnav .adjustnowbtn{line-height:14px!important;}
#customizerwrapper{width:925px; margin:0 auto; position:relative;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#kitshippingnav .lastshipmentvalue{padding-left:8px !important;padding-right:24px !important;}
#kitshippingnav .nextshipmentvalue{padding-left:9px !important;padding-right: 30px !important;}
}
/*	
#exampleproduct{
	position:relative;
	display:inline;
	cursor:pointer;
}
*/

/* button styling of KC */
#widget_customize_background #bottomnav #kitshippingnav{top:-9px;}

#widget_customize_background #bottomnav #kitshippingnav #trackpackagebtn{line-height:19px;padding:11px 30px 5px 31px !important;text-indent: inherit; top:0;}
#widget_customize_background #bottomnav #kitshippingnav .nextshipmenttext{ text-indent: inherit; padding-left:29px;}
#widget_customize_background #bottomnav #kitshippingnav #shipnowbtn{line-height:14px;padding:13px 14px 3px 15px !important; top:0;}
#widget_customize_background #bottomnav #kitshippingnav .adjustfrequencytext{line-height: 14px;padding:13px 0 3px !important;width:197px;text-indent: inherit; text-align:center; top:0;}
#widget_customize_background #bottomnav #kitshippingnav span.adjustnowbtn{padding:13px 34px 10px 33px !important; top:0;}