button {padding:0;}

.logincreate {float:right;height:auto;min-height:419px;}

/***** Product Next/Previous on Product Detail Page (productnav.isml) *****/
.productdetail .productnavigation .productprevious {background-position: 0 center;}
.productdetail .productnavigation .productnext {background-position: right center;}

.sorthitscontainer {height:20px;}
.sorthitscontainer .resultshits {line-height:18pt;}

/* CART
--------------------------------------------------------------------------------------- */
.quantitycolumndetails a, .quantitycolumndetails .stockstate {margin-left:4px;}
.cart table.carttable tbody tr.tablerow td, .checkoutplaceorder table.placeordertable tbody tr.tablerow td {border-bottom: 1px dashed #898989;}

/***** Account Login (accountlogin.isml) *****/
.returningcustomers .rememberme label {vertical-align:middle;}

/***** Account Add Address (editaddress.isml) *****/
.accountaddress .actions button {margin:0 0 0 18px;}

/***** ACCOUNT PAYMENT INSTRUMENTS (paymentinstruments.isml) *****/
.creditcardform .formfield .month .errormessage {left:-145px;top:25px;}

/* RESET PASSWORD
--------------------------------------------------------------------------------------- */
.passwordreset select.selectbox {width:175px;}
.passwordreset input.textinput {width:175px;}

/* WISHLIST
--------------------------------------------------------------------------------------- */
.wishlistitems .wishlistsharing .productlisturl {width:685px;}

/* GIFT REGISTRY
--------------------------------------------------------------------------------------- */
.giftregistry .shareurl{width:685px;}
.giftregistry .giftregistryitemcontainer td {border-bottom:1px dashed #898989;}



/*----------------------------
  IE7 styles - dsweeney
  ----------------------------*/
  #headerOffer { margin-left:280px; width:200px; }
  ul.primary-navigation { padding-top:0px; margin-bottom:0px;}
  div.freeShippingMid {position:relative; top:-207px;}
  div.popupVideo.playButton { margin-top:-104px; margin-left:-129px; }
  div.imagePopup.playButton { margin-left:-191px; }
  .cart_multiple .same_billing label { clear:none; }
  /*#shipping_message_block { margin-top:5px }*/
  
  /* products page */
  #imageListOne   { padding-bottom:220px; }
  #imageListTwo   { padding-bottom:220px; }
  #imageListThree { }
  .mp-products #productImagePopups ul#imageListFour  { margin-bottom:0; }
  .rightCTA .freeBonusCallout {
 	 width: 50%;
  }
  /* home page */
  .homepage .homeBottom { width:100% }
  #headerOffer A {clear:none; position:relative; left:-140px;}