/***** To Be Added to Main.css *****/

/***********************************/
/*****    About Malibu Page    *****/
/***********************************/
.aboutCarollWrapper {
	width:665px;
	height:464px;
	}
.aboutCarollLeft {
	float:right;
	width:260px;
	align: center;
	}
.aboutCarollRight {
	float:left;
	width:375px;
	}	
.aboutSusanWrapper {
	width:665px;
	height:350px
	}
.aboutSusanLeft {
	float:right;
	width:260px;
	align: center;
	}
.aboutSusanRight {
	float:left;
	width:375px;
	}	
	
/***********************************/
/*****     Products Popups     *****/
/***********************************/	
	
.mpProductsBodyWrapper {
	width: 650px;
	height: 138px;
	}	
.mpProductsTopText {
	float:right;
	width: 330px;
	padding-left: 5px;
	}	
.mpProductsPopContentWrapper {
	float:right;
	width: 330px;
	padding-left: 5px;
	}	
.mpProductsPopContentWrapper1 {
	float:right;
	width: 330px;
	padding-left: 5px;
	}	
.mpProductsPopContentWrapper2 {
	width:679px;
	height:465px;
	}
	
/***********************************/
/*****   Products Grid Style   *****/
/***********************************/

.contentasset #productImagePopups {
	/**border: 1px dotted #333333;**/
	}

#productImagePopups ul {
    /**border: 1px dotted #333333;**/
	margin: 20px 1px -155px 1px;
	width: 675px;
	
	}
#unsub23 ul {
    /**border: 1px dotted #333333;**/
	}
/**	
.mp-products p { margin-bottom:20px; }
.mp-products #productImagePopups { margin-top:190px; }
.mp-products #productImagePopups ul { height:332px; }
.mp-products #productImagePopups ul li { display:block; float:left; margin-right:9px; margin-bottom:9px; }
.mp-products #productImagePopups ul li img { display:block; float:left; }
**/































	
	
/**.caroll wrapper {
	background-color:#CCCCCC;
	color:white;
	font-size:1.5em;
	font-weight:bold;
	margin: 10px 0px 5px 0px;
	padding:5px 5px 3px;
	} **/


