/***********************************************/
/* PAGE STRUCTURE CSS                          */
/***********************************************/
body {background-color:#dbdbdb;}
#container {border:0px;width:100%;background-color:#fff;background-image:url(../images/background_mainpage.gif);background-repeat: repeat-x;}
#footer {background:url(../images/background_mainpage_footer.gif) bottom left repeat-x;}

/***********************************************/
/* PAGE ELEMENT STYLING CSS                    */
/***********************************************/
/***** Header Logo *****/
h1.logo a {background-image: url(../images/logo.gif);}

/* MINI-CART
--------------------------------------------------------------------------------------- */	
#minicart {background: none; color:#4c483f;}
#minicart a, #minicart a.linkminicart {color:#4c483f;}