.blue-btn span,.gr-btn span,black-btn span,.gr-btn-a span,.gy-btn-a span,.black-btn-a span,.gy-btn span,.addtocartbutton span{margin-top:0px;}
.black-btn span, .deletelink span,#AboutYouForm .formactions .gy-btn span{margin-top: 0px;padding-top:0px;}
.sitesearch button{padding: 2px 20px 3px 20px;}
.gr-btn-a,.black-btn-a,.gy-btn-a{background-position:left 0px;}
.secondarynavtap li a{padding-top:10px}
 #ptAccount .accountContainer .accountOverView .orderWraper .leftPanel .aButton{width:100px}
 #ptAccount .accountContainer .accountOverView .orderWraper .leftPanel .aButton span{padding-top:8px;}
  .accountContainer .accountOverView .orderWraper .customizeKit{padding:8px 17px 8px 22px;}
#ptChekoutsingle .personInfform .gender input[type="radio"] {position:relative; top:1px;}
.primaryNavigation #nav-about .subnav{ width:590px;}
.checkout_box{background:none;}
.checkout_box .checkout_box_inner{padding-bottom:20px; float:none; width:100%; display:table-cell;}
.checkout_box.cb_shipping .formfield .value{min-height: 10px;}
.checkout_box{background:none; }

.primaryNavigation > li.existingCustomers > a{padding:25px 27px 18px 21px;}
.primaryNavigation > li.existingCustomers > a:hover{background:url(../images/sign-in-icon.png) no-repeat 73px 29px #ededed;padding:25px 27px 18px 21px;}
#rememberGroup{margin-top:0px;}
#rememberGroup input{position:relative; top:0px;}
.mainHeader .pageWidth .loginDrawer{right:144px;}
:-ms-input-placeholder { color:#000;font-size:10px; font-style:normal;}
.grayButton.viewOrderDetailsBtn, .checkoutbilling button, .checkOutContainer button, .ptCart button, .btnHeadLogin, .brownButton, .continueShoppingBtn, .contShoppingBtn, .shortdiscription .gy-btn, .aButton, .addtocartbuttonupsell, .blue-btn,.page-wrapper-retention-middle .blue-btn,.page-wrapper-retention-middle .gr-btn,.page-wrapper-retention-middle .blue-btn-dis,.page-wrapper-retention-middle .gy-btn,.page-wrapper-retention-middle .black-btn,.addtocartbutton{padding:5px 22px 3px;line-height:11px;}
a.grayButton.viewOrderDetailsBtn, .shortdiscription a.gy-btn, a.aButton, a.addtocartbuttonupsell, a.blue-btn,.page-wrapper-retention-middle a.blue-btn,.page-wrapper-retention-middle a.gr-btn,.page-wrapper-retention-middle a.blue-btn-dis,.page-wrapper-retention-middle a.gy-btn,.page-wrapper-retention-middle a.black-btn{line-height:12px;}

#rememberGroup input{top:2px;}

/* PA+ banner without login css begin */
.core-homepage-banner-update .left-quote{top: -11px;}
.core-homepage-banner-update .right-quote{top: 6px;}

/*.headerWide .subHeader .welcomecoloum .accountnav a.account{background:url("../images/topnav-account.png") no-repeat 106px 10px;}*/

/*PA+ header changes Start*/
.subHeader .welcomecoloum .accountnav:hover .dropdownbox{background:url("../images/your-account-bg.png") repeat-x left -4px; width:210px;}
.headerWide .subHeader .welcomecoloum .accountnav a.account{background:url("../images/topnav-account.png") no-repeat 111px 16px ;font-size: 12px;}
.subHeader .welcomecoloum .accountnav a.account:hover, 
.subHeader .welcomecoloum .accountnav:hover a.account,
.headerWide .subHeader .welcomecoloum .accountnav a.account:hover{background:url("../images/topnav-account.png") no-repeat 111px -9px #FFFFFF ;}
.subHeader .welcomecoloum .accountnav a.account:hover,.subHeader .welcomecoloum .accountnav:hover a.account{background:url("../images/topnav-account.png") no-repeat 111px -9px #fff;}
/*PA+ header changes end*/
#countryList li.usa a{background-position: 10px 0px;}
.footer-retention #countryList li.usa a{background-position: 10px 3px;}