.productlisting .producttile .swatches .innerpalette{width: 100px;}
/*#header_new .content-nav li div.subnav{width: 294px;}*/
/*#header_new .content-nav li.big div.subnav{width: 516px;}*/
/*padding: 10px 18px 12px 15px;*/
#header-category .solution a {background-position-x:120px;}
*#header-category .solution a:hover, #header-category .solution:hover a{background-position-x:120px;}

  /*cartwenhaircare-single-stdrd-flavor*/
 #cartwenhaircare-single-stdrd-flavors .formfield {margin:0; padding:0;}
 #cartwenhaircare-single-stdrd-flavors .checkoutform .billingShipping .cartShipping, #cartwenhaircare-flavors-spring .checkoutform .billingShipping .cartShipping{min-height:auto;}
 
 /* tabs on pdppage */
 .ptProductDetails #producttab .productdescription{ width:212px; margin-right:6px;}
 .core .homeSmBanners h3{font-size:19px;}
 .accountContainer .accountOverView .orderWraper .customizeKit{padding:8px 18px;}
 #ptAccount .accountContainer .accountOverView .orderWraper .leftPanel .aButton{width:105px}
 #ptAccount .accountContainer .accountOverView .orderWraper .leftPanel .aButton span{padding-top:10px;}
 .header .welcomecoloum a.account{padding-bottom:7px;} 
 #ptChekoutsingle .personInfform .gender input[type="radio"] {position:relative; top:1px;} 
 #rememberGroup input{top:2px;}
 
/*css header login div starts here*/
.mainHeader .pageWidth .loginDrawer{right:134px;}

/* PA+ banner without login css begin */
.core-homepage-banner-update .left-quote{top: -11px;}
.core-homepage-banner-update .right-quote{top: 6px;}
#footer .footer-acq #countryselector{margin-left:5px;}

/*PA+ header changes Start*/
.subHeader .welcomecoloum .accountnav:hover .dropdownbox{background:url("../images/your-account-bg.png") repeat-x left -4px; width:210px;}
/*PA+ header changes End*/
#countryList li.usa a{background-position: 10px 0px;}
.footer-retention #countryList li.usa a{background-position: 10px 3px;}