button {padding:0;}

.logincreate {float:right;height:auto;min-height:419px;}

/***** Product Next/Previous on Product Detail Page (productnav.isml) *****/
.productdetail .productnavigation .productprevious {background-position: 0 center;}
.productdetail .productnavigation .productnext {background-position: right center;}

.sorthitscontainer {height:20px;}
.sorthitscontainer .resultshits {line-height:18pt;}

/* CART
--------------------------------------------------------------------------------------- */
.quantitycolumndetails a, .quantitycolumndetails .stockstate {margin-left:4px;}
.cart table.carttable tbody tr.tablerow td, .checkoutplaceorder table.placeordertable tbody tr.tablerow td {border-bottom: 1px dashed #898989;}

/***** Account Login (accountlogin.isml) *****/
.returningcustomers .rememberme label {vertical-align:middle;}

/***** Account Add Address (editaddress.isml) *****/
.accountaddress .actions button {margin:0 0 0 18px;}

/***** ACCOUNT PAYMENT INSTRUMENTS (paymentinstruments.isml) *****/
.creditcardform .formfield .month .errormessage {left:-145px;top:25px;}

/* RESET PASSWORD
--------------------------------------------------------------------------------------- */
.passwordreset select.selectbox {width:175px;}
.passwordreset input.textinput {width:175px;}

/* WISHLIST
--------------------------------------------------------------------------------------- */
.wishlistitems .wishlistsharing .productlisturl {width:685px;}

/* GIFT REGISTRY
--------------------------------------------------------------------------------------- */
.giftregistry .shareurl{width:685px;}
.giftregistry .giftregistryitemcontainer td {border-bottom:1px dashed #898989;}


/* Checkout
--------------------------------------------------------------------------------------- */
.upsell_bottom .checkbox {width:110px;}
.checkout_bottom, .checkout_box_inner, .checkout_steps, .order-totals .shipping_total, .order-totals .order_total, .cart_multiple .cb_billing, .cart_multiple .cb_shipping, .cart_multiple .same_billing {zoom:1;}
.cart_multiple .payment_method input {margin-top:-3px;}
.checkout_btn.disabled button {background-position:0 -45px;}
.orderinfo_products td, .review-totals .ordertotalstable td {font: 11px/12px Arial,"Trebuchet MS",Helvetica,Verdana,sans-serif;}

/* Error
--------------------------------------------------------------------------------------- */
.campaign_error {position:relative; top:10px; margin:0 0 20px 0;}


/* Content Page Offer Description
--------------------------------------------------------------------------------------- */
.sidebar_right .OrderNowLink_button {margin-top:0;}
.contentPageOfferCopy .price_right {line-height:35px; padding-top:0;}
.contentPageOfferCopy .price_left {line-height:17px;}
.order-totals p {float:none;}

/* Static Page
--------------------------------------------------------------------------------------- */
.pt_storefront #primary-content {margin-left:0;  width:100%;}