.blue-btn,.gy-btn{float:left;}
.secondarynavtap li.active a{color:#484743 !important;font-weight: normal !important;}

/***** Account Login (accountlogin.isml) *****/
.float-right{float:right;}
.accountlogin,.passwordreset {width:672px; float:left;}
.accountlogin h2,.passwordreset h2,.changepassword h2{padding-bottom:5px;color: #4E4D4B;font-size: 36px;font-weight: normal; line-height: 45px;padding-top:26px;}
.passwordreset h1{padding-bottom:5px;color: #4E4D4B;font-size: 28px;font-weight: normal; line-height: 45px;padding-top:26px;}
.passwordreset h3{ color: #4E4D4B;    font-size: 14px;    font-weight: bold;    padding-bottom: 15px;}
.accountlogin .logincustomers , .passwordreset .passwordfelid { float:left;width:334px;}
.accountlogin .logincustomers h3,.logincreate .createaccount h3,.passwordreset .passwordfelid h3,.passwordreset .assist h3{color: #4e4d4b;font-size:14px;font-weight:normal;padding-bottom: 10px;}
.accountlogin .logincreate,.passwordreset .assist{ float:left;padding: 0 0 0 20px;width: 282px; }
.accountlogin .returningcustomers,.passwordreset  .passwordfelid{border-right: 1px solid #D6D6D6;padding-right: 17px;}
.accountlogin .returningcustomers .value input,.passwordreset .passwordfelid  .value input{width:271px;border-bottom: 1px solid #dddddd;border-left: 1px solid #C3C3C3;border-right: 1px solid #C3C3C3;color: #666666;padding:2px;font-size:11px}
.accountlogin .returningcustomers .captcha .errorlabel,.passwordreset  .passwordfelid .captcha .errorlabel{color: red;}
.accountlogin .returningcustomers .captcha #recaptcha_widget_div,.passwordreset  .passwordfelid .captcha #recaptcha_widget_div{margin-left: -4px;}
.accountlogin .returningcustomers .forgotpassword{float:left;padding-top:7px;width: 299px;}
.accountlogin .returningcustomers .forgotpassword a{font-size: 11px;color: #A18D53;}
.accountlogin .returningcustomers .forgotpassword span{font-size: 11px;padding-right: 4px;}
.logincreate .createaccountbutton,.accountlogin .formactions,.passwordreset .passwordfelid .formactions{padding-top:11px}
.accountlogin .requiredtexttext, .passwordreset .requiredtexttext{float:left;padding-top: 19px;width: 627px;}
.accountlogin .returningcustomers .rememberme,.accountlogin .returningcustomers .rememberme .checkinput,.accountlogin .returningcustomers .rememberme label{float:left;}
.accountlogin .returningcustomers .rememberme .checkinput{ margin-right: 4px;margin-top: 3px;}
.rightcoloum{ margin-top:70px;float: right;}
.logincustomers .returningcustomers .formactions .btn,.createaccountbutton .btn,.registrationform .btn{padding-left: 7px; background-position: 1px 50%;}

.paymentinstruments .top-label {margin:10px 0 15px} 
/***** Registration *****/
.registration-page{padding:26px 0 10px 0;}
.registration-page .registration_left{width:618px; float:left;padding-right: 20px;}
.registration-page .registration_left h2{color:#4e4d4b;font-size:36px; line-height: 42px;padding-bottom:4px;}
.registration-page .registration_left p{color:4e4d4b;font-size:14px;}
.registration-page .requiredcaption{color:4e4d4b;font-size:14px;}
.registration-page .requiredcaption p{color:4e4d4b;font-size:14px;margin-bottom: 22px;}
.registration-page .requiredcaption p{padding-bottom:8px;}
.registration-page .requiredcaption ul{color:4e4d4b;font-size:11px;}
.value input{width:271px;padding: 2px;border-bottom: 1px solid #dddddd;border-left: 1px solid #C3C3C3;border-right: 1px solid #C3C3C3;color: #666666;}
.registration-page input.small,.registration-page input.number{ padding: 2px;margin-right: 4px;width:28px;border-bottom: 1px solid #C3C3C3;border-left: 1px solid #C3C3C3;;border-right: 1px solid #C3C3C3;color: #666666;}
.registration-page input.number{width:102px;}
.registration-page .formfield .labelhelp{float: right;padding-right: 38px;padding-top:18px;width: 394px;}
.registration-page .formfield .label{padding-bottom:6px}
.registration-page .firstname,.registration-page .password{float:left;}
.registration-page .billing{float:left; padding-right: 28px;}
.registration-page .lastname, .registration-page .dayphone,.registration-page .re-password{float: left; padding-left:27px;}
.registration-page .firstname .value input,.registration-page .lastname .value input,.registration-page .re-password .value input,.registration-page .password .value input{width:119px}
.registration-page .billing .value input{width:60px}
.registration-page input.numberbox{width:48px}
.registration-page .password .caption{display:none;}
.registration-page .labelpassword {font-size: 11px;line-height: 14px;padding-bottom: 12px;width: 299px;}
.registration-page .rememberme {padding: 18px 0;}
.registration-page .privacypolicy p{font-size: 11px;}
.registration-page .requiredtexttext{float:left;padding:23px 0;width: 627px;}
.registration-page .registration_right{width:223px; float:left;margin-top: 46px;}
.registration-page .blue-btn{margin-left:0px;}
.registration-page .fb_connect{background:url(../images/facebook_bg.jpg) no-repeat 7px 7px;padding:117px 0 25px 20px; }
.registrationform .zipphone  .formfield.billing .errormessage{width:102px;}

/*css edit by Goldy Batra for my account*/
.accountoverview h1{font:36px Arial, Helvetica, sans-serif bold; font-weight:bold; padding:48px 0px 12px;}
.accountoverview .inner-l{padding:0px 9px;}
.accountoverview .top{background:#EFEFEF;    margin: 13px 0 10px 0px;   padding: 4px 19px 4px 9px;}
.accountoverview .top h2{font:14px Arial, Helvetica, sans-serif bold; font-weight:bold;  color:#636361;float:left;}
.accountoverview .top a{ float:right; display:inline-block; border-bottom:1px #a08d52 dotted; text-decoration:none;line-height: normal; }
.accountoverview .title{background:#4e4d4b; height:25px;  font:14px Arial, Helvetica, sans-serif bold; font-weight:bold; color:#dfd4b1; padding:0px 10px;line-height:25px;}
.accountoverview .left-panel{ float:left; width:424px; }
.accountoverview .right-panel{ width:424px; margin-left:0px; float:right; }
.accountoverview .left-panel2{ float:left; width:443px; }
.accountoverview .left-panel-order{float:left; min-width:247px;width:247px;}
.accountoverview .mid-panel{float: left;}
.accountoverview .order-wraper{ margin-top:10px;}
.accountoverview .right-panel2{ width:443px; margin-left:5px; float:left;  }
.accountoverview .ch-password{ float:left; padding-left:30px;}
.accountoverview .password{ float:left;}
.accountoverview .order-wraper .blue-btn span{margin:0px;}
.clear{ clear:both;}
.accountoverview .gr-bg-wraper,.accounteditaddress .gr-bg-wraper{ background:#eee; padding:5px; margin-bottom:10px;}
.accounteditaddress .default{ margin-top: 10px; width:429px;float: left;margin-right: 8px;background:#eee; padding:5px;}
.accountoverview .gr-bg-wraper .btn-wraper{ margin-top:6px;}
.accountoverview .widthwhite-bg,.accounteditaddress .widthwhite-bg{width: 299px;}
.accountoverview .white-bg,.accounteditaddress .white-bg{ background:#fff; padding:4px; border:2px #d4d4d4 solid; position:relative;}
.top-l-corner{background:url(../images/white-roundbg.jpg) no-repeat;  height: 10px;  left: -6px; position: absolute; top:-6px;width:10px; }
.top-r-corner{background:url(../images/white-roundbg-right.jpg) no-repeat; height: 10px;  right: -6px; position: absolute; top:-6px;width:10px;}
.bot-l-corner{background:url(../images/bot-left-bg.jpg) no-repeat; position:absolute; bottom:-6px; left:-6px;height: 10px;width:10px;}
.bot-r-corner{background:url(../images/bot-right-bg.jpg) no-repeat; position:absolute; bottom:-6px; right:-6px;height: 10px;width:10px;}
.accountoverview .panel-wraper{ padding:0px 2px 10px 2px;overflow: visible;}
.accountoverview .panel-wraper .creditcard{padding:0px 9px;}
.accountoverview .panel-wraper2{ padding:19px 10px 0px;}
.accountoverview a{ display:inline-block; border-bottom:1px #a08d52 dotted; text-decoration:none;}
.accountoverview .minheight{min-height:136px;}
.accountoverview .row label{ padding-right:3px; font-weight:normal;}
.accountoverview .label-row{ padding:0px 0px 22px 0px; font-weight:bold;}
.accountoverview .breadcrumb a{ border-bottom:none; padding:0px 7px;}

.registration .tab{position:relative;  padding-top: 56px;border-bottom:1px #afafaf solid; font-size:11px; color:#4e4d4b;height: 24px;}
.registration .tab ul li{ display:inline-block; background:#fff;  text-align:center; height:23px; line-height:23px; position:relative; border:1px #afafaf solid;border-bottom:none; float:left;  }
.registration .tab ul li a{padding:0px 20px;  display: block; height: 23px; color:#6c9973 !important;font-weight:bold;}
.registration .tab ul li .l-corner{background:url(../images/l-tab-corner.png) no-repeat left top; position:absolute; top:-1px; left:-1px; width:6px; height:5px;}
.registration .tab ul li .r-corner{background:url(../images/r-tab-corner.png) no-repeat right top; position:absolute; top:-1px; right:-1px; width:6px; height:5px;}

.registration .tab ul li.active{background:#4e4d4b;}
.registration .tab ul li.active a{color:#e3d8b6 !important;}

.profiletab{height:25px; line-height:25px; font-size:11px;width: 901px;margin: 0 auto;}
.profiletab ul li{ display:inline-block;float: left;min-width: 91px;padding-top: 6px; }
.profiletab ul li a{  border-bottom:1px #a18d53 dotted; color:#a18d53; margin:0px 12px; text-decoration: none;}
.profiletab ul li a:hover{  border-bottom:1px #4e4d4b dotted; color:#4e4d4b; }
.profiletab ul li span{ color:#c8b680;}
.profiletab ul li.active{ color:#4e4d4b;}
.profiletab ul li.active a{ color:#4e4d4b !important; border-bottom:none;}
.profiletab ul li.active span{ color:#4e4d4b !important;}
.profiletab ul li.first{ padding-left:4px;}

.registration .registrationform{ width:277px; margin-top:23px;}
.registration .f-left{ float:left; width:122px; }
.registration .f-right{ float:left;width:122px;margin-left: 30px;}
.registration .f-left .value input,.registration .f-right .value input,.registration .f-left .value select { width:117px;}
.registration .label{ margin:0px 0px 3px;}
.registration .requiredindicator{ color:#ff0100;}
.registration .value a{ float:left; font-size:11px; font-weight:normal; line-height:normal;padding-top: 3px;}
.registration .value input{height: 16px;line-height: 16px;padding:0px 2px;}
.registration .value input, .registration .registrationform .value select { width:270px; font-size: 11px;}
.registration .value select{width:99%;}
.registration .formfields{ margin:0px;}
.registration .formfield .month .label,.registration .formfield .year .label,.registration .value .caption{display:none;}
.registration .registrationform .value .password{ float:left; width:125px; margin-right:9px;}
.registration .requiredcaption{ margin-top:20px;}
.registration .remember input{ margin:2px 5px 0px 0px;*margin:0px 5px 0px 0px; float:left;}
.registration .remember label{ float:left;}
.registration .registrationform .formactions,.edit_address_form .actions,#CreditCardDialog .actions{margin-top:20px;}
.registration .registrationform .value .account input{ width:83px;}

.formactions .btn-left{ width:107px; float:left;}
.formactions .btn-right{ width:107px; float:left; margin-left:12px;}

.registration h4{ font-size:14px; margin:28px 0px 0px 0px; font-weight:bold;}
.registration .accounteditaddress .label{ padding-bottom:25px;}

.registration .accounteditaddress .defaultselection{float: left;    padding-right: 12px;    width: 300px;}
.registration .accounteditaddress .miniaddress{float:left;}
.registration .accounteditaddress .account_addresses{font-size: 14px; width:669px;}
.registration .accounteditaddress .accountaddress-inner{padding:7px 0 0px 5px;}
.registration .accounteditaddress .top-heading{border-bottom: 0px;font-size: 14px;    font-weight: bold;    padding-bottom: 2px; margin-bottom: 13px;}
.registration .accounteditaddress .default .top-heading,.registration .accounteditaddress .defaultb .top-heading{border-bottom: 1px solid #000000;}
.registration .accounteditaddress .i-icon{float: right;font-size: 11px;    font-weight: normal;}
.registration .accounteditaddress .i-icon a{border-bottom: 1px dotted #A18D53; color:#A18D53;    font-size: 11px;    font-weight: normal; margin:0 5px;}
.registration .accounteditaddress .i-icon a:hover{border-bottom: 1px dotted #4E4D4B; color:#4E4D4B;}
.registration .accounteditaddress .i-icon button{padding:0px;}
.registration .accounteditaddress .i-icon .actions fieldset,form{ display:inline;}
.registration .accounteditaddress .billing-add{ float:left;width:220px}
.registration .accounteditaddress .defaultb .billing-add{ float:left;width:400px}
.registration .accounteditaddress .btn-wraper{padding-bottom:10px;}
.registration .auto-wraper{ width:auto;}
.margin-box{ margin-left:23px !important;}
.registration .registrationform .value .radio-fields{float:left; margin-right:14px;}
.registration .registrationform .value input[type="radio"] { width:auto; height:auto; float:left; margin:4px 4px 0 0; border:none;}
.registration .registrationform .value .radio-fields label{ font-size:11px;}
.top-label{font-size:14px; margin:10px 0px 0px 0px; }
.top-label span{font-weight:bold;}
.registration .edit_address_form{ margin-top: 7px;    width: 284px;}
.registration .edit_address_form .city{ float:left; width:122px;}
.registration .edit_address_form .state-mid{float:left; width:47px; margin:0px 16px 0px 24px;}
.registration .edit_address_form .zipfield{float: left;   margin-left: 14px;   width: 64px;}
.registration .edit_address_form .zipfield input{width: 57px;}
.checklist{ margin:17px 0 30px 0;}
.checklist .row{ margin:10px 0px;}
.checklist .row input{ float:left; margin: 2px 5px 0 0;*margin: 0px 5px 0 0;}
.registration .accounteditaddress .defaultselection input{ float:left; margin: 4px 4px 0 0; *margin: 0px 4px 0 0;}
#CreditCardDialog .drp-wraper .month{float:left; width:124px;}
#CreditCardDialog .drp-wraper .month select{width:124px;}
#CreditCardDialog .drp-wraper .year{float:left; width:124px;}
#CreditCardDialog .drp-wraper .year select{width:124px; margin-left:30px;}
.registration .registrationform .formfields .cardtype .value select{ width:123px;}
.top-label2{font-size: 14px;  margin: 0px 0px 12px 0;}

.payment-details{float:left;}
.paymentinstruments{ margin-top:15px;}
.paymentinstruments .gr-btn,.paymentinstruments .gr-btn span{float:left;}
.paymentinstruments .gr-btn span{margin:0px; color:#fff !important;padding: 0 25px 0 18px;}
.paymentinstruments .gr-bg-wraper{ width:710px;}
.paymentinstruments .gr-bg-wraper.paypal{ width:429px}
.paymentinstruments .border-bot{border-bottom: 1px solid #000000;}
.autowidth{width:auto!important;}
.accountoverview .bgnone{background:none !important;}
.accountoverview .orders{margin-top:15px;}
.accountoverview .title .orderid{float:left;}
.accountoverview .title .r-links{float:right;font-size:12px;}
.accountoverview .panel-wraper .mid-panel{float:left; width: 196px;text-align: center;}
.accountoverview .title .r-links .vieworderdetails-number{  color: #FFFFFF;    float: left;    font-size: 11px; padding-right: 125px;}
.accountoverview .title .r-links .vieworderdetails, .vieworderdetails-cont{position:absolute; right:10px;}
.accountoverview .title .r-links a{color: #DFD4B1 !important; line-height:normal;}
.top-padding{padding-top:10px !important;}
.vieworderdetails .blue-btn{border:none !important;line-height:14px;}
.vieworderdetails .blue-btn span{margin-top:0px;padding-bottom:0px;}
.orange-button{ background:url(../images/or-btn-left.jpg) no-repeat left 1px; font-size:12px; font-weight:bold; float:right;padding:0px 0px 0px 9px;  color:#fff!important;border-bottom:0px !important; }
.orange-button span{background:url(../images/or-btn-r.jpg) no-repeat top right; float:right;padding-right:10px; text-align: center;min-width: 82px;height:28px; text-transform: uppercase;line-height:27px;}
.p-name{float: left;    font-size: 15px;    font-weight: bold;}
.l-column{float:left;}
.no_orders{font-size:15px; font-weight:bold;padding:10px 0px;}
.wrap-no-order{width: 950px;min-height: 350px}
.bot-no-order{min-height: 250px;width: 950px;}
.no_orders-con{font-size:12px; }

.no-order-desc{padding-top:15px;}
.detail-wraper{margin:10px 0px;display:none;}
.order-details{float: right;    width: 416px;}
.products-hidden{display:none;}
.close-cont,.close{ position: absolute; right: 10px;}
.close{display:none;}
.orders .title{position:relative;}

.order-details .shipping-info, .order-details .billing-info, .order-details .price-info, .order-details .tax-info{ margin-top:15px;}
.order-details .shipping-info .name, .order-details .billing-info .name{ font-size:14px; font-weight:bold;}
.order-details .price-info, .order-details .tax-info{float:left; clear:both;}
.order-details .price-info label, .order-details .tax-info label{float:left; width:125px; padding:0px;}
.order-details .price-info span, .order-details .tax-info span{float:right; padding:0px;}
.changepassword .passwordreset div.label{font-size: 11px;padding: 0px 0px 3px 0;width: 277px;}

.pt_account .contactus .myquestion .label{ display: block;}

.pt_account .contact-wraper{min-height: 300px;  float: none; margin:0 auto;}
.pt_account .blockContent {    background: none repeat scroll 0 0 transparent;    padding: 0;}
.pt_account .contactus h3 {line-height: 36px; border-bottom: medium none;    color: #4E4D4B;    font-size: 36px;    padding: 0; margin: 0 0 10px;}
.pt_account .contactus .description {  float: none;    font-size: 12px;    line-height: 18px;    margin: 0;    width: auto;}
.pt_account .contactus .formfields {float: none;    margin-top: 15px;    width: 100%;}
.pt_account .contactus .formfields .formrow{ margin-bottom: 0px;    overflow: hidden;}
.pt_account .contactus .formfields .nameimfo #first,.pt_account .contactus .formfields .orderinfo #first-box{ margin-right: 28px;}
.pt_account .contactus .formfields .formrow .formfield {  float: left;    margin-right: 0px;    width: 125px;}
.pt_account .contactus .formfields .nameimfo .formfield input,#primaryContent .contactus .formfields .orderinfo .formfield input{font-size: 11px;    height: 16px;    line-height: 16px;    padding: 0 2px;}
.pt_account .contactus .formfields .formrow .formfield input{width: 200px;}
.pt_account .contactus .formfields .formfield input,.pt_account .contactus .formfields .formfield select { border-color: #75736E #C3C3C3 #C3C3C3;    border-style: solid;    border-width: 2px 1px 1px;    color: #666666; width: 200px;}
.pt_account .contactus .formfields .formrow #state{  width: 53px;}
.pt_account .contactus .formfields .formrow #state select{width: 50px; height: 20px;}
.pt_account .contactus .formfields .formrow #zip{  float: left;    margin: 0px;    width: 65px;}
.pt_account .contactus .formfields .formrow #zip input{width: 58px;}
.pt_account .contactus .formfields .formfield textarea{width: 270px;height: 83px;}
.pt_account.contactus .formfields #recaptcha_container{ margin:19px 0px 24px 0px;}
.pt_account .contactus .blockContent .blue-btn{ margin: 10px 0 10px;}
/* .pt_account .contactus .blockContent .blue-btn span{padding: 0 27px 0 20px;} */
.pt_account .contactus .formactions {border-top:none;    float: none;    margin-top: 0;    width: auto;}
.pt_account .contactus .requirenote{ padding: 10px 0 0 0;    text-align: left;}
.pt_account .contactus .contentFooter{ border: medium none;    overflow: auto;    padding: 0; margin: 30px 0px;}
.pt_account .contactus .contentFooter h3{ background:#EFEFEF; font-weight:bold;    border-bottom: medium none;    color: #4E4D4B;    font-size: 14px;    height: 24px;        margin: 0 0 20px;    padding: 0 0 0 7px;line-height: 24px;}
.pt_account .contactus .contentFooter .narrowColumn{  float: none;    margin-right: 0;    position: relative;    width: auto;}
.pt_account .contactus .contentFooter .note{ font-size: 12px;   left: 0;    line-height: normal;    position: relative;    text-align: left;    width: auto;}
.pt_account .contactus .contentFooter .fur-desc{margin: 18px 0;}
.pt_account .contactus .contentFooter h4{color: #4E4D4B;   float: left;    font-size: 12px;    font-weight: normal;    width: 71px;}
.pt_account .contactus .contentFooter p{    float: left;    font-size: 12px;    font-weight: bold;    line-height: 16px;}
.pt_account .contactus .formfields .formfield{margin-bottom: 10px;}
.pt_account .contactus .formfield .label .labeltext, .formfield .label .errorlabel{float: left;    font-size: 12px;}
.pt_account .contactus{float:left; width:667px; margin-right:5px;font-size: 12px;}
.pt_account .right-box{ width:219px; background:#f4f4f4; text-align:center; font-size:11px; float:right; margin-top: 54px; padding: 30px 0;}

/*updated psd changes*/
.accountlogin .logincustomers .formfield{margin-top:10px;}
.accountlogin .logincustomers .formfield .label{margin-bottom:3px;}

.registration-page .registrationform{margin-top: 13px;}
.registration-page .registrationform .acc-number{margin-bottom:24px;}

.registration #accountnumber1,.registration #accountnumber2,.registration #accountnumber3,.registration #accountnumber1, .registration #accountnumber2, .registration .formChange .password input, .acc-number #accountnumber2, .acc-number #accountnumber1,#w-auto .formChange .zip input {background-color: #d4d0c8;}
.reg-row{ margin-top:8px !important;}
.registration-page .registrationform .formfields .label{padding-bottom: 3px; margin: 0px;}
.passwordreset .contentasset{}
.registration-page .privacypolicy p span{font-size: 12px;}
.registration-page .registrationform .rememberme input{float:left;margin: 3px 5px 0 0;}

.changepassword .blue-btn{margin: 20px 0px;}
.btn-wraper .blue-btn{ border-bottom: medium none;    float: none;margin: 0;}
.accountoverview .community-badge{font-size: 12px;    font-weight: bold;}
.accountoverview .community-badge span{color:#00accf;}
.accountoverview .community{ font-size: 12px;    font-weight: bold;    padding: 18px 0 5px;}
.accountoverview .community-btn{margin-bottom: 10px;}
#main .accountoverview .community-btn ul li{ background: url("../images/comm-btn.png") no-repeat center top;    display: inline-block;    height: 43px;    margin-right: 6px;  width: 205px;line-height: 43px;}
#main .accountoverview .community-btn ul li a{  border-bottom: medium none;    color: #4E4D4B;    display: inline-block;    font-size: 12px;    font-weight: bold;    padding-left: 44px;}
#main .accountoverview .community-btn ul li a.ask{background: url("../images/ask-ico.png") no-repeat 11px 9px;}
#main .accountoverview .community-btn ul li a.share{background: url("../images/chat.png") no-repeat 10px 12px;}
#main .accountoverview .community-btn ul li a.testimonial{background: url("../images/testimonial.png") no-repeat 17px 9px;}
#main .accountoverview .community-btn ul li a.review{background: url("../images/review.png") no-repeat 14px 12px;}
#phone1,#eveningphone1{width: 23px;}
#phone2,#eveningphone2{width: 23px;}
#phone3,#eveningphone3{padding: 2px;    width: 50px;}
#eveningphone3{width: 48px;}
.account input{margin-right:5px;}
#accountnumber1{width: 25px;}
#accountnumber2{width: 28px;}
#accountnumber3{  padding:0px 2px;width: 85px;}
#w-auto .formChange .password input,#w-auto .formChange .zip input{width: 117px;}

.registration h2{ font-size: 28px;    padding: 28px 0 8px;}
#CreditCardDialog h2{ font-size: 26px;    padding: 28px 0 8px;}
#main .formChange .gy-btn,#main .registration .edit_address_form .actions .gy-btn,#CreditCardDialog .actions .gy-btn{ border-bottom: medium none;    color: #525252!important;    margin:0px 0px 0px 7px;padding-left: 9px;}
.field-con{float:left;}
.labelhelp{float: left; padding-left: 13px;    padding-top: 12px;  width: 372px;line-height: 14px;}
.accounteditaddress .btn-wraper .blue-btn{float:left; margin-top: 15px;color:#fff !important;line-height: 14px;}
.accounteditaddress .btn-wraper .blue-btn span{margin-top:0px;}
.registration .edit_address_form .city input{width: 117px;}
.registration .edit_address_form .state{ float: left;  margin-left: 30px; width: 46px;}
.registration .edit_address_form .state select{width: 46px;}
.actions .gy-btn span,#address_list .gr-btn span,.orders .gr-btn span {padding:0px 28px 0px 21px;}
.accounteditaddress #address_list .default{background: none repeat scroll 0 0 #EEEEEE;    float: left;    margin-right: 5px;    margin-top: 10px;    padding: 5px;    width: 432px;}
.accountpaymentinstruments .addcreditcard_changed{margin-left:0px; line-height: 14px;}
.accountpaymentinstruments .addcreditcard_changed span{margin:0px;}
.accounteditaddress #address_list .default .widthwhite-bg{width: auto;}
.accounteditaddress #address_list .account_addresses{width: auto;}
#address_list .miniaddress{float:none; font-size:12px; line-height:20px;min-height: 120px;}
#address_list .miniaddress .name{font-weight:bold;}
#address_list .accountaddress-inner{padding: 7px 0 0 5px;min-height: 207px;}
.registration .f-left .value select{width: 122px;}
.accountaddress-inner.creditcard h3 {font-size:13px;; border-bottom:1px #666 solid; margin-bottom:10px; padding-bottom:5px; font-weight:bold}
.registration .top h2{ padding:0px;}
.tracking{padding-top:15px;}
.orders .gr-btn{float: right;}
.ordersub{padding-top:15px;}
.no-float{float:none;}
.vieworderdetails{float: right;   margin-right: 213px;}
#editprofile .addresslistclass select,.creditcardlist select{ width: 277px;}
.accounteditaddress .black-btn{margin:20px 10px 0 0;border: medium none !important; }
.creditcard.accountaddress-inner .deletelink{margin-bottom: 0;border:none !important;}
.accounteditaddress .black-btn span{padding: 0px 34px 0px 27px;}
#CreditCardDialog{width:auto;}
.formChange{ margin-top: 20px;}
.forminline form{display:inline;}
.forminline form fieldset{display:inline;}
#CreditCardDialog .formChange h3{ font-size: 18px;  padding: 10px 0 10px;}
.orderdate{font-size:18px;}
.prod-desc{float:left;width: 286px;}
.re-order{float:right;}
.re-order .gr-btn{margin:0px;}
.bold{font-weight:bold !important;}
.bold label{font-weight:bold !important;}
.registrationform .gy-btn-a span{ padding: 0px 27px 0px 20px;}
h3{font-size:16px; padding: 15px 0;}
.quantity{display:none;}
.availability{display:none;}
#addAddressMessage h2{font-size: 18px;    margin: 20px 0px 0px 0px;}
.accountlogin{font-family: arial; font-size: 12px;}
.accountlogin .returningcustomers fieldset{border: medium none;}
#w-fix{width: 314px;border-right: 1px solid #D6D6D6;}
.con-box{float:left;padding-left: 20px;width: 256px;padding-top: 40px;}
.help-wrapper h3{padding-bottom:20px;font-size: 14px;}
.help-wrapper .mid{padding:25px 0px;}
.help-wrapper{  font-size: 12px;}
.link_id{display:none;}
.noorder{height: 350px;}
.inner-2{padding:10px; font-weight:bold;}
.forgotpassword a{border-bottom:1px #a08d52 dotted;}
.formfieldtooltip a{border-bottom: 1px dotted #A18D53;}

.comm-right{  float: left;    width: 405px;}
select{padding: 2px 0;}
.comm-left{  float: left;    width: 447px;}
.errormsg{color: #FF0000;    margin-top: 15px;    min-height: 42px;    position: relative;}
.contactus .requiredtexttext{font-size: 12px;}
.errormsg .errormsg-con{position: absolute;    right: 0;    top: 0;    width: 416px;}
.pt_account .contactus .formfields .formfield #day_phone_1{width: 24px;}
.pt_account .contactus .formfields .formfield #day_phone_2{width: 24px;}
.pt_account .contactus .formfields .formfield #day_phone_3{width: 50px;}
.pt_account #testimonialbox{margin: 0 auto; width: 925px;}

#testimonialbox .blockGrey{background: none;}
#testimonialbox .blockGrey .block{background: none;margin-top: 30px;}
#testimonialbox .blockGrey .block .outer-wraper{padding-left:30px;margin-top: -24px;}
#testimonialbox .blockGrey .block #h1{background: url('../images/new-heading-bg.png') no-repeat scroll 0 0 transparent;  height: 88px;color: #4D4D4D;    font-size: 16px !important;    font-weight: bold;    line-height: 35px;    margin-bottom: 0;    margin-left: -11px;    padding-left: 40px;}
#testimonialbox .blockGrey .block .promotion{font-size: 18px;    font-weight: normal;    line-height: 26px;    margin: 0;    padding: 0 110px 0 0px;    text-align: left;}
#testimonialbox .blockGrey .block .note{font-size: 14px;    padding: 25px 0;}
#testimonialbox .blockGrey .block .outer-wraper .form-column{float: none;width:auto;}
#testimonialbox .blockGrey .block .outer-wraper .blockContent .note{padding: 0 0 9px;; color:#ff0000;font-size: 14px;}
#testimonialbox .blockGrey .block .outer-wraper .form-column .first-name{ width:190px; float:left;}
#testimonialbox .blockGrey .block .outer-wraper .form-column .last-name{ width:190px; float:right;}
.testimonial-form .formfield div.label{font-size: 14px;    font-weight: bold;    padding-bottom: 5px;}
.testimonial-form .formfield{width: 400px;}
.testimonial-form .formfield input{height: 20px;}
.testimonial-form .formfield .zip-outer{margin:0px;width: 100px;}
.testimonial-form .formfield .age{width: 72px;}
.testimonial-form .formfield .zip{width: 85px;}
.testimonial-form .formfield select{height: 22px;}
#testimonialbox .blockGrey .block .outer-wraper .form-column .semi-note{color: #888888;    font-size: 12px; display:block;}
#testimonialbox .blockGrey .block .outer-wraper .disclaimer{font-size: 14px;    font-style: normal; width: 726px;   line-height: 22px;    margin: 0;    text-align: left;}
#testimonialbox .disclaimer .disclaimer-heading{color: #00788A;    font-size: 21px;    padding-bottom: 20px;}
#testimonialbox .blockGrey .block .outer-wraper .formactions{border-top: medium none;}
#testimonialbox .blockGrey .block .outer-wraper .personal-details{margin: 10px 0 0px;}
#testimonialbox .blockGrey .block .outer-wraper .sub-test{background: url("../images/submit-testimony.jpg") no-repeat scroll center bottom transparent;   border: medium none;    cursor: pointer;    float: left;    height: 24px;    margin: 15px 0 18px;    text-indent: -9999px;    width: 88px;}
#testimonialbox .blockGrey .block .outer-wraper .divider{background: url("../images/testimony-divider.png") no-repeat scroll 0 0 transparent;    float: left;    height: 25px;    margin: 25px 0;    width: 920px; }
.testimonial-form .formfield textarea{width:560px;}
.testimonial-form .formfield .state-outer{width: 70px;}
.testimonial-form .formfield .ageErrorMsg{display:none; color:red;}
.testimonial-form .formfield .phoneErrorMsg{display:none; color:red;}
.orderpanelht{height:150px !important;}
#w-fix .returningcustomers{border:none;}
#main #secondaryContent{width:220px;padding:5px;float:right;}
.offer_sidebar_right{background: #EEE; width: 185px; padding: 5px; float: right;}