/*4.0 titles*/

.order #main #primaryContent h1 {
	background: transparent url(../images/titles_8-75.png) no-repeat scroll 0pt -1275px;	
}

.order.quiz #main #primaryContent h1 {
	background: transparent url(../images/titles_8-75.png) no-repeat scroll 0pt -750px;	
}

.order.cart #main #primaryContent h1 {
	background: transparent url(../images/titles_8-75.png) no-repeat scroll 0pt -1575px;	
}

.order.interstitial #main #primaryContent h1 {
	background: transparent url(../images/titles_8-75.png) no-repeat scroll 0pt -300px;	
}

.order.billingandshipping #main #primaryContent h1 {
	background: transparent url(../images/titles_8-75.png) no-repeat scroll 0pt -75px;	
}

.order.review #main #primaryContent h1 {
	background: url(../images/titles_8-75.png) no-repeat scroll 0pt -150px;	
}

.order.confirm #main #primaryContent h1 {
	background: transparent url(../images/titles_8-75.png) no-repeat scroll 0pt -225px;	
}

/*Sidebar - Other Ways*/
#sidebarOtherWays .blockContent {
	font-size: 0.95em;
	line-height: 1.3em;
	padding: 0;
}

#sidebarOtherWays .blockContent  h5 {
	background: #FFFFFF url(../images/titles_sidebar-20.png) no-repeat scroll 10px -255px;
	border-bottom: 1px solid #a7a7a7;
	padding: 6px 5px 7px 5px;	
	text-indent: -99999px;
	height: 10px;
	margin: 0 1px;
}

#sidebarOtherWays .blockContent div {
	padding: 0 10px;
	border-top: 1px solid #e1e1e1;
}

#sidebarOtherWays .blockContent h6 {
	font-weight: bold;
	color: #6e9874; 
	border-bottom: 1px solid #6e9874;
	margin: 10px 0 6px 0;
	padding-bottom: 3px;
}

#sidebarOtherWays .blockContent p {
	margin: 0;
	padding-bottom: 10px;
}

#sidebarOtherWays .blockContent strong {
	color: #808080;
}

/*Sidebar - cart click to chat*/
.body_order#page_cart div#inqC2CImgContainer img,
.body_order#page_billingandshipping div#inqC2CImgContainer img,
.body_order#page_interstitial div#inqC2CImgContainer img, 
.body_order#page_review div#inqC2CImgContainer img {
	cursor: pointer;
	margin-bottom: 5px;
	line-height: 0;
}

/*Product dots*/
ul.productList {
	margin: 0 0 15px 3px;
	line-height: 1.4em;
}

ul.productList li {
	background-repeat: no-repeat;
	padding-left: 15px;
	background-position: 0 center;
}

#main ul.productList a {
	/*background: url(../images/interface/link-dottedline.gif) left bottom repeat-x;*/
	border-bottom:#4e6780 1px dotted;
	color:#4e6780;
}

ul.productList li.green {
	background: url(../images/interface/bullet-prodcolor.png) 0 4px no-repeat;
}

ul.productList li.orange {
	background: url(../images/interface/bullet-prodcolor.png) 0 -96px no-repeat;
}

ul.productList li.brown {
	background: url(../images/interface/bullet-prodcolor.png) 0 -196px no-repeat;
}

ul.productList li.blue{
	background: url(../images/interface/bullet-prodcolor.png) 0 -296px no-repeat;
}

ul.productList li.aqua {
	background: url(../images/interface/bullet-prodcolor.png) 0 -369px no-repeat;
}

ul.productList li.navy {
	background: url(../images/interface/bullet-prodcolor.png) 0 -496px no-repeat;
}

ul.productList li.red {
	background: url(../images/interface/bullet-prodcolor.png) 0 -596px no-repeat;
}

ul.productList li.pink {
	background: url(../images/interface/bullet-prodcolor.png) 0 -696px no-repeat;
}

div.bestValue {
	width: 44px;
	height: 44px;
	background: url(../images/interface/dotwack-bestvalue.png);
	text-indent: -99999em;
	margin: -10px 0 10px 0;
	position: relative;
}

/*4.0 styles*/
#page_select .introContain {
	position: relative;
	padding: 0 0 32px 0;
}

#page_select p.intro {
	width: 650px;
}

.howChoose {
	position: absolute;
	left: 340px;
	top: 0px;
	width: 300px;
	border-left: 1px solid #ccc;
	padding: 0 0 0 18px;
}

.howChoose a {
	display: block;
	font-weight: bold;
	font-size: 0.95em;
	padding: 0 0 0 25px;
	width: 50px;
	background: url(../images/interface/btn-circles.png) 0 -200px no-repeat;
	position: absolute;
	left: 220px; 
	top: 0;
}

.howChoose a:hover {
	background-position: -300px -200px;
}

.howChoose h3 {
	background: url(../images/order/title-howToChoose.png) 0 0 no-repeat;
	width: 210px;
	height: 15px;
	border: none !Important;
	padding: 0;
	margin: 0;
	text-indent: -99999em;
}

#page_select #main #primaryContent .howChoose h3{
	margin: 0 0 4px;
}


.howChoose p {
	margin: 0 !Important;
	padding: 0;
	background: url(../images/order/content-howToChoose.png) 0 0 no-repeat;
	width: 276px;
	height: 27px;
	text-indent: -99999em;
}

/*Tab styles*/
.tabBlock {
	background-color: #eee;
	padding: 3px 3px 1px 3px;
	position: relative;
}

.tabBlock .blockWhite {
	background: #fff;
	margin: 0 0 5px 0;
}

.tabBlock .tabs{
	height:42px;
	position: absolute;
	top: -38px;
	left: 14px;
	
	/*no js style*/
	display: none; 
	visibility: hidden;	
}

.tabBlock .tabs li a{
	border: none;
	text-indent: -9999px;
	width: 120px;
	height: 42px;
	padding:0;
}

.tabBlock .tabs .l1 a{
	background: url(../images/interface/btn-w-4.0.png) 0 -100px; 
}
.tabBlock .tabs .l1 a:hover{
	background-position: -300px -100px; 
}
.tabBlock .tabs .l1 a:active,
.tabBlock .tabs .l1 a.selected,
.tabBlock .tabs .l1 a.selected:hover{
	background-position: -600px -100px; 
}
/* l1blue */
.tabBlock .tabs .l1blue a{
	background: url(../images/interface/btn-w-4.0.1.png) 0 -100px; 
}
.tabBlock .tabs .l1blue a:hover{
	background-position: -300px -100px; 
}
.tabBlock .tabs .l1blue a:active,
.tabBlock .tabs .l1blue a.selected,
.tabBlock .tabs .l1blue a.selected:hover{
	background-position: -600px -100px; 
}

/* l1multi */
.tabBlock .tabs .l1multi a{
	background: url(../images/interface/btn-w-4.0.2.png) 0 -100px; 
}
.tabBlock .tabs .l1multi a:hover{
	background-position: -300px -100px; 
}
.tabBlock .tabs .l1multi a:active,
.tabBlock .tabs .l1multi a.selected,
.tabBlock .tabs .l1multi a.selected:hover{
	background-position: -600px -100px; 
}

.tabBlock .tabs .l2 a{
	background: url(../images/interface/btn-w-4.0.png) 0 -200px; 
}
.tabBlock .tabs .l2 a:hover{
	background-position: -300px -200px;  
}
.tabBlock .tabs .l2 a:active,
.tabBlock .tabs .l2 a.selected,
.tabBlock .tabs .l2 a.selected:hover{
	background-position: -600px -200px;  
}
/* l2 blue*/
.tabBlock .tabs .l2blue a{
	background: url(../images/interface/btn-w-4.0.1.png) 0 -200px; 
}
.tabBlock .tabs .l2blue a:hover{
	background-position: -300px -200px;  
}
.tabBlock .tabs .l2blue a:active,
.tabBlock .tabs .l2blue a.selected,
.tabBlock .tabs .l2blue a.selected:hover{
	background-position: -600px -200px;  
}

/* l2multi*/
.tabBlock .tabs .l2multi a{
	background: url(../images/interface/btn-w-4.0.2.png) 0 -200px; 
}
.tabBlock .tabs .l2multi a:hover{
	background-position: -300px -200px;  
}
.tabBlock .tabs .l2multi a:active,
.tabBlock .tabs .l2multi a.selected,
.tabBlock .tabs .l2multi a.selected:hover{
	background-position: -600px -200px;  
}

.tabBlock .tabs .l3 a{
	background: url(../images/interface/btn-w-4.0.png) 0 -300px no-repeat #fff;  
}
.tabBlock .tabs .l3 a:hover{
	background-position: -300px -300px;  
}
.tabBlock .tabs .l3 a:active,
.tabBlock .tabs .l3 a.selected,
.tabBlock .tabs .l3 a.selected:hover{
	background-position: -600px -300px;  
}

/* l3blue */
.tabBlock .tabs .l3blue a{
	background: url(../images/interface/btn-w-4.0.1.png) 0 -300px no-repeat #fff;  
}
.tabBlock .tabs .l3blue a:hover{
	background-position: -300px -300px;  
}
.tabBlock .tabs .l3blue a:active,
.tabBlock .tabs .l3blue a.selected,
.tabBlock .tabs .l3blue a.selected:hover{
	background-position: -600px -300px;  
}

/* l3multi */
.tabBlock .tabs .l3multi a{
	background: url(../images/interface/btn-w-4.0.2.png) 0 -300px no-repeat #fff;  
}
.tabBlock .tabs .l3multi a:hover{
	background-position: -300px -300px;  
}
.tabBlock .tabs .l3multi a:active,
.tabBlock .tabs .l3multi a.selected,
.tabBlock .tabs .l3multi a.selected:hover{
	background-position: -600px -300px;  
}

.tabBlock .tabs .l4 a{
	background: url(../images/interface/btn-w-4.0.png) 0 -400px no-repeat #fff;  
}
.tabBlock .tabs .l4 a:hover{
	background-position: -300px -400px;  
}
.tabBlock .tabs .l4 a:active,
.tabBlock .tabs .l4 a.selected,
.tabBlock .tabs .l4 a.selected:hover{
	background-position: -600px -400px;  
}

/* l4blue */
.tabBlock .tabs .l4blue a{
	background: url(../images/interface/btn-w-4.0.1.png) 0 -400px no-repeat #fff;  
}
.tabBlock .tabs .l4blue a:hover{
	background-position: -300px -400px;  
}
.tabBlock .tabs .l4blue a:active,
.tabBlock .tabs .l4blue a.selected,
.tabBlock .tabs .l4blue a.selected:hover{
	background-position: -600px -400px;  
}

/* l4multi */
.tabBlock .tabs .l4multi a{
	background: url(../images/interface/btn-w-4.0.2.png) 0 -400px no-repeat #fff;  
}
.tabBlock .tabs .l4multi a:hover{
	background-position: -300px -400px;  
}
.tabBlock .tabs .l4multi a:active,
.tabBlock .tabs .l4multi a.selected,
.tabBlock .tabs .l4multi a.selected:hover{
	background-position: -600px -400px;  
}

.tabBlock .tabs .l5 a{
	background: url(../images/interface/btn-w-4.0.png) 0 -500px no-repeat #fff;  
}
.tabBlock .tabs .l5 a:hover{
	background-position: -300px -500px;  
}
.tabBlock .tabs .l5 a:active,
.tabBlock .tabs .l5 a.selected,
.tabBlock .tabs .l5 a.selected:hover{
	background-position: -600px -500px;  
}
/* l5blue */
.tabBlock .tabs .l5blue a{
	background: url(../images/interface/btn-w-4.0.1.png) 0 -500px no-repeat #fff;  
}
.tabBlock .tabs .l5blue a:hover{
	background-position: -300px -500px;  
}
.tabBlock .tabs .l5blue a:active,
.tabBlock .tabs .l5blue a.selected,
.tabBlock .tabs .l5blue a.selected:hover{
	background-position: -600px -500px;  
}

/* l5multi */
.tabBlock .tabs .l5multi a{
	background: url(../images/interface/btn-w-4.0.2.png) 0 -500px no-repeat #fff;  
}
.tabBlock .tabs .l5multi a:hover{
	background-position: -300px -500px;  
}
.tabBlock .tabs .l5multi a:active,
.tabBlock .tabs .l5multi a.selected,
.tabBlock .tabs .l5multi a.selected:hover{
	background-position: -600px -500px;  
}

.tab1 #tab1Content,
.tab2 #tab2Content,
.tab3 #tab3Content,
.tab4 #tab4Content,
.tab5 #tab5Content{
	display:block;
	border:none;
}

.tabBlock .tabImage{
	background-color:#FFFFFF;
	float:left;
	margin-right:25px;
}

.tabBlock .block {
	background: url(../images/interface/block_left.gif) 0 0 repeat-y #fff;  
	margin-bottom: 5px;  
}

.tabBlock .blockTop {
	height: 5px;
	background: url(../images/interface/block_lefttop.gif) 0 0 no-repeat;   
}

.tabBlock .blockTopRight {
	padding-top: 5px;
	background: url(../images/interface/block_righttop.gif) right 0 no-repeat;    
}

.tabBlock .blockContent {
	background: url(../images/interface/block_right.gif) right 0 repeat-y;  
}
.tabBlock .blockContent_select300 {
	background: url('../images/order/select300/select300_detail_bg.jpg') no-repeat;  
}

.tabBlock .tabContent{
	padding: 0 0 0 8px;
	display:block;
	position: relative;
}


.tabBlock .tabContent #tab1wideContent,
.tabBlock .tabContent #tab2wideContent,
.tabBlock .tabContent #tab3wideContent,
.tabBlock .tabContent #tab4wideContent,
.tabBlock .tabContent #tab5wideContent{
	height:300px; 
	padding: 3px 0;	
	/*added for no js styles*/
	width: 627px;	
}

.tabIntro {
	font-size: 0.95em;
	line-height: 1.2em;
	margin-top: 32px;
}

.productInfo,
.productValue {
	float: left;
	margin: 0 10px 0 0;
}

.productInfo {
	width: 225px;
	margin-right: 20px;
}

.productValue {
	width: 135px;
	line-height: 1.2em;
	margin-top: 31px;
	overflow: visible;
}

.productInfo p, 
.productValue p {
	font-size: 0.95em;
	margin-bottom: 5px;
}

.productValue p strong {
	font-size: 1.1em;
}

.productValue .price {
	background: url(../images/order/product/prices.png) no-repeat;
	width: 63px;
	height: 21px;
	text-indent: -99999em;
}

.productValue .price2 {
	background: none;
	font-size: 21px;
}

#tab2wideContent .productValue .price,
#tab3wideContent .productValue .price {
	background-position: 0 -100px;
}

#tab4wideContent .productValue .price {
	background-position: 0 -200px;
}

#tab5wideContent .productValue .price {
	background-position: 0 -300px;
}

.addToCart {
	background: url(../images/interface/btn-w-4.0.png) 0 0 no-repeat;
	border: 0px !Important;
	text-indent: -99999em;
	width: 103px;
	height: 21px;
	cursor: pointer;
	display: block;
}

.addToCart:hover {
	background-position: -300px 0;
}

.tabBlock .blockContent a.bottomLink {

}

.tabBlock .blockBottom {
	height: 5px;
	background: url(../images/interface/block_leftbottom.gif) 0 0 no-repeat;   
}

.tabBlock .blockBottomRight {
	padding-top: 5px;
	background: url(../images/interface/block_rightbottom.gif) right 0 no-repeat;    
}

/*Cart - for pages 4.2 - 4.6*/
#cartControl {
	width: 671px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 6px 0 0 0;
	height: 24px;
	margin: 0 0 10px 0;

}

#cartControl ul {
	margin: 0 0 0 150px
}

#cartControl li {
	background: url(../images/order/checkout-status.png) 0 0 no-repeat;
	float: left;
	height: 17px;
	text-indent: -99999em;
	}

#cartControl .cartBilling{
	background-position: 0 0;
	width: 147px;
}

#page_billingandshipping #cartControl .cartBilling {
	background-position: -300px 0;
}

#cartControl .cartReview {
	background-position: 0 -100px;
	width: 123px;
}

#page_review #cartControl .cartReview {
	background-position: -300px -100px;
}

#cartControl .cartConfirm {
	background-position: 0 -200px;
	width: 103px;
}

#page_confirm #cartControl .cartConfirm {
	background-position: -300px -200px;
}

/* Inline Rating */
#bvinline-wrap {
  float: right;
  border-bottom: 1px solid #cccccc;
  height: 30px;
}
#bvinline-wrap div#bvinline-title {
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
}
#bvinline-wrap div#bvinline-title p {
  text-align: right;
}
#bvinline-wrap div#stars {
  float: left;
  margin-right: 5px;
}
#bvinline-wrap div#stars img {
  margin-top: 8px;
}
#bvinline-wrap div#bvinline-average {
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin-top: 6px;
}

#page_order_select3g div.c2c{
	position:absolute;
	top:29px;
	left:50%;
	margin-left:260px;

}/*
#page_order_select3g.twoKits div.c2c{
	position:absolute;
	top:181px;
	left:50%;
	margin-left:240px;

}*/
#page_order_select3g #main #primaryContent p.intro{
	width:700px;
	height:22px;
	overflow:hidden;
}


.Select300 {
    position: relative;
}
.Select300 h2 {
    background: url("../images/headers_sub-100.png") no-repeat scroll 0 -1600px #C4E1E2;
    height: 35px;
    text-indent: -99999em;
}
.Select300 .pageHead {
    margin: 30px 15px 0;
    padding: 0 0 35px;
}
.Select300 .pageHead h3 {
    background: url("../images/titles_8-75.png") no-repeat scroll 0 -1723px transparent;
    height: 53px;
    margin: 0 0 5px;
    text-indent: -99999em;
}
.Select300 .pageHead .introContain {
    padding: 0;
    position: relative;
}
.Select300 .pageHead .intro {
    color: #67BACB;
    font-size: 14px;
    line-height: 1.145em;
    width: 650px;
}
.Select300Menu {
    height: 135px;
    position: relative;
}
.Select300Item {
    position: absolute;
}
#Select300Detail {
    background: url("../images/order/select300/select300_detail_bg.jpg") no-repeat scroll 0 0 transparent;
    height: 273px;
    margin: 0;
    padding: 7px 0 0 21px;
    width: 651px;
}
.Select300Detail_Img {
    display: none;
    left: 10px;
    position: absolute;
    top: 145px;
}
.Select300DetailObj {
    display: none;
    font-size: 10px;
    height: 258px;
    margin-left: -5px;
    position: relative;
    width: 645px;
}
.Select300DetailObj .OrderNowButton {
    height: 50px;
    left: 94px;
    position: absolute;
    top: 222px;
    width: 100px;
}
.Select300DetailObj .PriceTag {
    color: #102942;
    font-size: 21px;
    font-weight: normal;
    height: 50px;
    left: 21px;
    position: absolute;
    top: 230px;
    width: 100px;
}
.Select300DetailObj .PriceTag_SubText {
    font-size: 11px;
    font-weight: bold;
    height: 50px;
    left: 220px;
    position: absolute;
    top: 232px;
}
.Select300DetailObj .DetailDescription {
    height: 50px;
    left: 286px;
    position: absolute;
    top: 85px;
    width: 340px;
}
.Select300DetailObj .DetailDescription span {
    font-size: 11px;
    line-height: 13px;
}
.Select300DetailObj .DetailDescription div {
    font-size: 11px;
    margin-top: 2px;
}
.Select300DetailObj .DetailDescription .left {
    float: left;
    margin-right: 10px;
    width: 170px;
}
.Select300DetailObj .DetailDescription .right {
    float: right;
    width: 160px;
}
.sideBySide .systemInfoCopy {
background-color: #EFF4F3;
height: 185px;
margin-right: 28px;
line-height: 18px;
margin-top: 0px;
}