.testimonials-top{background: url(../images/testimonials/testimonials_top_bg.jpg) left top repeat-x; height: 421px;}

.testimonials-top h1{position: absolute; top: 35px; left: 235px; color: #174E67; font-size: 36px; padding-top: 7px; padding-bottom: 2px;}
.testimonials-subtitle{color: #174E67; font-size: 30px; position: absolute; top: 100px; left: 650px; width: 250px; line-height: 30px;}
.testimonials-video{color: #5F5F5F; position: absolute; top: 88px; left: 235px; width: 385px;}
.testimonials-summary{color: #5F5F5F; position: absolute; top: 170px; left: 650px; width: 250px; font-size: 14px; line-height: 19px;}
.facebook{position: absolute; left: 650px; top: 350px;}
#page_allegra-story .testimonials-summary{top: 140px;}

.testimonials-bottom{min-height: 300px; padding: 0px; margin: 5px 0 0; padding-bottom: 125px; background: #F4FFFF; color: #174E67;}
.testimonials-bottom .contentasset{margin-left: 230px; color: #174E67;}
.testimonials-bottom h1{padding-top: 20px; margin-bottom: 10px; font-size: 28px;}
.testimonials-bottom .rotator{}
.testimonials-bottom .rotatorinfo{font-size: 10px;}
#page_allegra-story .slides{margin-top: 10px;}
#page_allegra-story .slides li{float: left; width: 125px; text-align: center; text-transform: uppercase;}
#page_allegra-story .rotatorinfo{clear: left;}

.success_365logo{position: absolute; top: 0px; right: 0px;}
.block{margin: 0 5px;}

.testimonials-bottom .getItNow{width: 479px; height: 128px; background: url('../images/testimonials/getItNow_bg.png') no-repeat; position: absolute; bottom: 0px; left: 230px;}
.testimonials-bottom .getItNow_innerWrapper{position: relative; width: 100%; height: 100%;}
.testimonials-bottom .getItNow_text{position: absolute; top: 50px; left: 120px; color: #174E67; font-size: 16px; font-weight: bold;}
.testimonials-bottom .orangeText{color: #e80;}
.testimonials-bottom .getItNowButton{position: absolute; top: 40px; right: 20px;}