span.ss {
	position: static;
	vertical-align: top;
}/*
.homepage .navContainer {height: 155px;}
.homepage #nav {
	background-position: 0 87px;	
}*/
.mainNav {
	/*width: 898px;*/
	padding-top: 2px;
}/*
.mainNav li.submitBtn {
	margin-right: 115px;	
}*/
.mainContainer {
	position: relative;
}
.content {
	height: 897px;
}
body.howToUse .content, body.howToUse .sideBar {
	height: 757px;
}
.homepage .content {
	height: 461px;
}
.leftModule {
	padding: 20px 15px 10px 17px;
	clear: left;
	overflow: hidden;
}
.sideBar {
	left: 0;
}
.sak .sideBar {
	float: left;
	clear: right;
	overflow: hidden;
}
.sideBar div {
	line-height: 14px;
}/*
.footer #countryselector #locale_selector li.selected {
	position: static;
	display: block;
	height: 20px;
	margin: -16px 0 0 0;
}
.footer #countryselector.open #locale_selector li.selected {
	position: absolute;
	top: 120px;	
	bottom: auto;
}*/
.btmModule, .btmModuleContent {
	overflow: hidden;
}
.learnMore .btmModuleContent h3 {
	padding-top: 0;
}
.orderNowModule, .guaranteeModule {
	top: 0;
}
.guaranteeModule .guaranteeCopy {
	padding: 5px 15px;
}
.guaranteeModule h3 {
	padding-top: 20px;
}
.relatedProductsModule {
	top: 430px;
}
.productInfoNav li p.productName {
	padding-top: 4px;
}
.scrollBar {
	height: 380px;
}
.scrollBar .arrowTop {
	overflow: hidden;
}
.scrollBar .arrowBtm {
	bottom: 0;
}
.clientQuote {
	top: 465px;
}
.startQuote {
	display: block;
	position: relative;
	margin: 0 0 -15px -8px;
}
.endQuote {
	bottom: -70px;
	line-height: 130px;
	z-index: 200;
}
.beforeAfterNavArrow {
	top: -163px;
	margin-bottom: -163px;
}
.step {
	display: inline;
}
.popup {
	height: 300px;
}
span.phoneNbr {
	margin-top: -50px;
}
.orderNowModule .price sup {
	top: -7px;
	float: none;
	position: relative;
}
.systemInfo .systemInfoCopy {
	padding-right:20px;
}
.guaranteeBug {
	top:0px;
}
.freeShippingDiv {
	position:absolute;
	top:0px;
	left:0px;
	height:0px;
	background:none;
}
.freeShippingImg {
	position:absolute;
	left:280px;
	top:90px;
	width:112px;
	height:114px;
	background: transparent url(../images/redesign/freeShippingStar.gif) 0 0 no-repeat;
}
.sideDividerDiv {
	position:absolute;
	top:0px;
	left:0px;
	height:0px;
	background:none;
}
.sideDividerImg {
	position:absolute;
	left:420px;
	width:15px;
	height:621px;
	background: transparent url(../images/redesign/sideDivider.jpg) 0 0 repeat-y;
	top:140px;
}
.centerTitleDeluxe {
	text-align: center;
	height:30px;
	padding-bottom: 37px;
	padding-top: 0px;
}
.centerTitle {
	text-align: center;
	height:30px;
	padding-bottom: 37px;
	padding-top: 0px;
}
.centerTitleDeluxe {
	text-align: center;
	height:30px;
	padding-bottom: 42px;
	padding-top: 0px;
}

/*
.shoppingCartContainer {display: inline;}*/
