
.homepage .orderNow {
	height: 406px;
	
}
.homepage .orderNow .price,
.homepage .orderNow .description {
	display: none;	
}
.homepage .orderNow .btn_orderNow {
	margin: 0;
	position: absolute;
	top: 110px;
	left: 450px;
	width: 155px;
	text-align:center;
}
.homepage .orderNow .btn_orderNow a {
	background: transparent url(../images/microsite/btn_orderNow2.png) 0 0 no-repeat;
	margin-top:20px;
	width: 155px;
	height: 38px;
}
.homepage .orderNow .btn_orderNow a:hover {
	background-position: 0 0;	
}
#sakBtn {
	display: none;	
}
