span.ss {
	position: static;
	vertical-align: top;
}
.mainNav {
	width: 897px;
	padding-top: 2px;
}
.leftModule {
	padding: 20px 17px 10px 17px;	
}
/*.sideBar {left: 0;}*/
.sideBar div {
	line-height: 14px;	
}
.homepage .orderNow .description,
.homepage .orderNow .btn_orderNow{
	margin-right: 160px;
}
.learnMore .btmModuleContent h3 {
	padding-top: 0;
}
.orderNowModule, .guaranteeModule {top: 0;}
.guaranteeModule .guaranteeCopy {padding: 5px 15px;}
.guaranteeModule h3 {padding-top: 20px;}
.relatedProductsModule {top: 430px;}
.scrollBar {height: 380px;}
.scrollBar .arrowBtm {bottom: 0;}
.hairModels h3 span {margin-top: -32px;}
.clientQuote {top: 465px;}
.startQuote {
	display: block; 
	position: relative;
	margin: 0 0 -15px -8px;
}
.endQuote {
	bottom: -70px;
	line-height: 130px;
	z-index: 200;
}
.beforeAfterNavArrow {
	top: -163px;
	margin-bottom: -163px;
}
span.phoneNbr {
	margin-top: -50px;	
}
.orderNowModule .price sup {
	top: -7px;
	float: none;
	position: relative;
}

.guaranteeBug {
	top:0px;
}

.freeShippingDiv {
	position:relative;
	top:0px;
	left:0px;
	height:0px;
	background:none;
}
.freeShippingImg {
	position:absolute;
	left:280px;
	top:20px;
	width:112px;
	height:114px;
	background: transparent url(../images/redesign/freeShippingStar.gif) 0 0 no-repeat;	
}
.test2 .freeShippingImg {
	position:absolute;
	left:280px;
	top:70px;
	width:112px;
	height:114px;
	background: transparent url(../images/redesign/freeShippingStar.gif) 0 0 no-repeat;
	display:block;
}
.sideDividerDiv {
	position:relative;
	top:-500px;
	left:-390px;
	height:0px;
	background:none;
}
.sideDividerImg {
	position:absolute;
	left:-23px;
	width:15px;
	height:621px;
	background: transparent url(../images/redesign/sideDivider.jpg) 0 0 repeat-y;
	top:500px;
	display:none;
}
/*.test2 .sideDividerDiv {
	position:relative;
	top:-500px;
	left:0px;
	height:0px;
	background:none;
}
.test2 .sideDividerImg {
	position:relative;
	top:525px;
	right:785px;
	height:620px;
	background: transparent url(../images/redesign/sideDivider.jpg) 0 0 repeat-y;
	display:none;
}*/