@charset "utf-8";
/* Wen Hair Care - Radio Button SAS - CSS Document */

.fragranceColHeight {
	height: 1150px !important;
}
.systemInfoContainer .first, .systemInfoContainer .second {
	height: 1000px;
}
.first .sideBySideCopy {
	margin-left: 0;
	margin-top: 0px;
	text-align: left;
}
.sideBySide .systemInfoCopy {
	background-color: #EFF4F3;
	height: 325px;
	margin-right: 28px;
	line-height: 18px;
	margin-top:0px;
}
.sideBySide .systemInfoCopyDeluxe {
	background-color: #EFF4F3;
	height: 185px;
	line-height: 18px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-top: -5px;
}
.radio_reg_mark {
	vertical-align:super;
	font-size:10px;
}
.sideBySide h3 {
	font-size: 21px;
	font-style: italic;
	height: auto;
	margin-top: 15px;
	width: 400px;
	text-align:center;
	margin-bottom: 5px;
}
.second .sideBySideCopy {
	margin-left: 7px;
	margin-top: 10px;
	text-align: left;
}
.second h3 {
	margin-left: 0px;
}
.sideBySideImg2 {
	margin-left: 75px;
	margin-top: 40px;
}
.first .orderNowText {
	margin-right: 15px;
 *margin-bottom:13px;
}
.second .orderNowText {
	margin-left: 10px;
}
.fragHeading {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}
.first .fragHeading {
	position:relative;
	right:15px;
	top: 1px;
}
.second .fragHeading {
	position:relative;
	left:15px;
}
.fragHeading2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}
.first .fragHeading2 {
	position:relative;
	right:15px;
}
.second .fragHeading2 {
	position:relative;
	left:15px;
}
.fragranceChoices30 {
	vertical-align:bottom;/* padding-left: 40px;  Place back in when only 3 fragrances */
}
.fragranceChoices90,  .fragranceChoices90A, .fragranceChoices90B, .fragranceChoices90C { /* -- DELETE THE VARIANT CLASSES OF CODE WHEN THE RETURN LABEL TEST IS OVER! -- */
	/* padding-left: 40px;  Place back in when only 3 fragrances */
	position: relative;
	vertical-align: bottom;
	left:30px;
}
.fragrance {
	float:left;
	width:95px;
	text-align:center;
}
.selectImage {
	margin:0 auto;
	text-align: center;
}
.selectCopy {
	font: 10px Arial, Verdana, Helvetica sans-serif;
	margin:0 auto;
	text-align: center;
}
.sam, .fig, .pom, .smc, .lav, .fgp {
	padding-top:10px;
}
/*  styling all 6 form-input-submit tags  */
form input[type=submit] {
	cursor:pointer;
	margin: 20px 0;
}
.orderNowText {              /*  adding additional styles to orderNowText class first mentioned in style.css  */
	border: none;
	text-decoration:underline;
	background-color:transparent;
	height:50px;
}
.productImageBasic {
	position: relative;
	z-index: 1;
}
.productImageDeluxe {
	left: 60px;
	position: relative;
	top: 20px;
	z-index: 1;
}
#bestvalue {
	height: 114px;
	left: 295px;
	position: absolute;
	top: 75px;
	width: 114px;
	z-index: 2;
}
.orderNowText a {
	color: #86120D;
	position: relative;
	top: 10px;
}
/*
.buttonBasic {
	background:url("../images/microsite/ctaBasicBtn.gif") no-repeat center center;
	width:291px;
	height:37px;
	border:none;
	color:transparent;
	font-size:0;
	margin-right:25px;
}
.buttonDeluxe {
	background:url("../images/microsite/ctaDeluxeBtn.gif") no-repeat center center;
	width:291px;
	height:37px;
	border:none;
	color:transparent;
	font-size:0;
}*/
a.writeReviewLink {
	margin-top: 50px;
}
p.basicOrderHeader, p.deluxeOrderHeader {
	display: block;
	padding: 20px 0 5px;
}
p.basicOrderHeader {
	margin: 5px 25px 0 0;
	padding: 20px 0 0 25px;
}
p.deluxeOrderHeader {
	margin: 5px 10px 0 10px;
	padding: 20px 0 0px;
}
p.basicOrderHeader, p.deluxeOrderHeader {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.OrderSubline {
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.basic30top {
	border-bottom: 1px solid #999999;
	height: auto;
	margin: 22px 75px 0;
	padding-bottom: 20px;
	width: 260px;
}
.basic90bottom {
	margin: 5px 0 25px;
	padding-top: 15px;
	width: 260px;
	position:relative;
	left: 75px;
 *left: 5px;
}
#deluxe_options {
	text-align:left;
}
.deluxe30top {
	border-bottom: 1px solid #999999;
	height: auto;
	margin: 20px auto 0;
	padding-bottom: 20px;
	text-align: left;
	width: 275px;
}
.deluxe90bottom {
	margin: 5px auto 25px;
	padding-top: 15px;
	width: 275px;
}
.buttonBasic {
	background: url("../images/microsite/select_basic_ctn.gif") no-repeat scroll center center transparent;
	border: medium none;
	color: transparent;
	font-size: 0;
	height: 37px;
	margin: 20px 0;
}
.buttonDeluxe {
	background: url("../images/microsite/select_deluxe_ctn.gif") no-repeat scroll center center transparent;
	border: medium none;
	color: transparent;
	font-size: 0;
	height: 37px;
	margin-top:3px;
	margin: 20px 0;
}
.twoForOneRedText {
	text-align: center;
	color: #86120d;
	font-size: 16px;
	font-weight: bold;
}
#freeShipTopBannerRadio {
	background-color: #8C1D18;
	border: none;
	color: white;
	font: 24px Georgia, Times, serif;
	text-align: center;
	display: block;
	height: 128px;
	background: transparent url(../images/microsite/sas_header_2for1.jpg) no-repeat 0 0;
	margin-left: -8px;
	margin-top: 10px;
	width: 830px;
}
.second .orderNowSideBySide {
	margin-left:15px;
}
.first .orderNowSideBySide {
	margin-left:-15px;
}
#controlLeft {
	display:block;
}
#controlRight {
	display:block;
}
/* -- DELETE THIS BLOCK OF CODE WHEN THE RETURN LABEL TEST IS OVER! -- */
#ALeft {
	display:none;
}
#ARight {
	display:none;
}
#BLeft {
	display:none;
}
#BRight {
	display:none;
}
#CLeft {
	display:none;
}
#CRight {
	display:none;
}
