/*  For Test & Target  */

#value_h3, #value_p, #value_btn {
	display:none
}

/*  old "Family" button styles; "V" added to end of class name  */
.orderNowSideBySide .btnOrderNow30FmV {
  background: url("../images/redesign/30DayFmBtn_old.jpg") no-repeat scroll 0 0 transparent;
  display: block;
  height: 37px;
  margin: 12px 50px;
  text-indent: -9999px;
  width: 291px;
}
/*  new "Value" button styles in style.css, using original class name w/o "V"  */
