@charset "utf-8";
/* CSS Document */
a.footerlink {font-family: arial,helvetica;color: #FFFFFF;font-size: 12px;font-weight: normal; text-decoration:none; text-align:center;}
a.footerlink:hover {font-family: arial,helvetica;color: #FFFFFF;font-size: 12px;font-weight: normal; text-decoration:underline; text-align:center;}
font.footy {font-family: arial,helvetica;color: #FFFFFF;font-size: 12px;font-weight: normal;}
font.header {font-family: arial,helvetica;color: #FFFFFF;font-size: 14px;font-weight: bold;}
font.guar {font-family: arial,helvetica;color: #007ec3;font-size: 12px;font-weight: normal;}

table.main {
border: 10px solid #007ec3;
}
table.targ {
border: 1px solid #007ec3;
}
table.sculpt {
border: 1px solid #c04dfb;
}


/* COUNTRY DROPDOWN*/
#info h3 {margin-bottom:200px;}
/* style the outer div to give it width */
.menu {
width:250px;
height:18px;
font-size: 11px;


}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {
padding:0;
margin:0;
list-style-type:none;
}
.menu ul ul {
width:150px;
}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu li {
float:left;
width:-190px;
position:relative;

}
/* style the links for the top level */
.menu a, .menu a:visited {
display:block;
font:Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none; 
color:#000000; 
width:120px; 
height:18px; 
border:1px solid #9c9c9c; 
border-width:1px 1px 0px 1px; 
border-collapse: collapse;
background:#ffffff; 
padding-left:10px; 
line-height:18px;

}
/* a hack so that IE5.5 faulty box model is corrected */
* html .menu a, * html .menu a:visited {
width:150px;
width:120px;
}

/* style the second level background */
.menu ul ul a.drop, .menu ul ul a.drop:visited {
background:#dddddd;
}
/* style the second level hover */
.menu ul ul a.drop:hover {
background:#c9ba65;
}
.menu ul ul :hover > a.drop {
background:#c9ba65;
}
/* style the third level background */
.menu ul ul ul a, .menu ul ul ul a:visited {
background:#e2dfa8;
}
/* style the third level hover */
.menu ul ul ul a:hover{
background:#b2ab9b;
}
.menu ul ul ul :hover > a {
background:#b2ab9b;
}

/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {border-collapse:collapse; border:0; position:absolute; left:0; bottom:-1px;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {
visibility:hidden;
position:absolute;
bottom:19px;
left:0; 
width:150px;
}
* html .menu ul ul {
bottom:19px;
}
/* position the third level flyout menu */
.menu ul ul ul{
left:150px; 
bottom:0;
width:150px;
}
/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {
left:-150px;
}


/* style the second level links */
.menu ul ul a, .menu ul ul a:visited {
background:#fff; 
color:#000; 
height:20px;
line-height:20px; 
padding:2px 10px 2px 10px; 
width:110px;
border-width: 0px 1px 0px 1px;
/* yet another hack for IE5.5 */
}
* html .menu ul ul a{
width:150px;
w\idth:110px;
}


/* style the top level hover */
.menu a:hover, .menu ul ul a:hover{
color:#000; 
background:#eeeeee;
}
.menu :hover > a, .menu ul ul :hover > a {
color:#000;
background:#eeeeee;
}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,
.menu ul a:hover ul{
visibility:visible;
height:auto;
}
/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{
display:none;
}
/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul{
display:none;
}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{ 
display:block;
bottom:0;
}
/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul { 
display:block;
bottom:0;
}
