.errorform {clear:both;
border: 2px solid #F00;
background: #EEE;
margin: 10px auto 0 auto;
padding: 10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.headerWraper {height:120px;background:none;}
.header {height:80px;}
.header .callus {margin-top: -80px;}
.headerBar{height:36px;background-color:#f4fafa;border-top:3px solid #1e57a7;border-bottom:1px solid #1e57a7;}
#selectyourshipment {display:none;}
.cart .personInfform {width:50%;}
.cart .personInfform .paymentInfo {width:100%;padding:0px;}
.cart .personInfform .billing {width:100%;;border:none;float:none;}
.cart .personInfform .billing .formfield {width:100%;}
.cart .personInfform .formfield input {width:300px;margin-bottom: 0px;}
.cart .personInfform .formfield select {width:300px;margin-bottom: 0px;}
.cart .personInfform .formfield {text-align: right;margin-bottom: 10px;}
.cart .errorclient {float: right;clear: both;}
.cart .label {float:none;}
.orderConfimationContainer .ordersummary .orderTotal {display:block;}
.cart .personInfform {clear:none;}
.personInfform {border:none;}
.cart .personInfform h4 {font-size:1em;padding: 25px 0px 10px;}
.cart .personInfform .formfield .month select {width:100px;}
.cart .personInfform .formfield .year select {width:100px;}
.cart .personInfform .expirationDate .value {float: right;width: 300px;}
.cart .personInfform .paymentInfo .year {width: initial;}
.cart .personInfform .paymentInfo .month {width: initial;}
.cart .personInfform .paymentInfo .cvn {clear:both;}
.carddetails .cardNumber {clear:both;}
.carddetails .owner {clear:both;}
.carddetails .expirationDate  {clear:both;}
.carddetails .cvn   {clear:both;}
#legalinfo {text-align:center;font-size:1em;color:#898989;}
#legalinfo span {display:none;}
.row {clear:none;}
.cart .orderTotal {padding: 15px;font-size: 14px;margin: 15px 0 0 0;background: #f4f9fd;border: 1px solid #adbed4;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;clear: both;width:428px;}
#primary-product {width:100%;}
#primary-product .col1 {width: 220px;height: 262px;float: left;margin: 40px 0 0 0;}
#primary-product .col2 {width: 450px;float: left;margin: 40px 0 0 30px;}
#primary-product .col3 {width: 280px;float: right;margin: 40px 0 0 0;}
#primary-product .col3 .blue-box {width: 245px;padding: 15px;float: right;margin: 60px 0 0 0;background: #f4f9fd;border: 1px solid #adbed4;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
#primary-product .col3 .blue-box div {font-size: 13px;height: 20px;}
#primary-product .col3 .blue-box .price-box {font-size: 14px;}
#primary-product .col3 .blue-box .price {font-size: 14px;font-weight: bold;height: 25px;margin: 10px 0 0 5px;display: inline;}
#primary-product .col3 .blue-box .price-amount {font-size: 14px;display: inline;}
#primary-product .col2 ul {font-size: 15px;margin: 1em 0 0 1em;list-style-type:disc;}
#sideslots {float: right;width: 428px;clear:both;}
.satisfaction {width: 428px;font-size:12px;clear: both;margin: 40px auto 0 auto;}
.satisfaction p{margin:1em;}
.cred-container {margin: 50px 0 0 0;width: 450px;height: 120px;}
.cred {margin: 0 0 0 0;width: 150px;float: left;text-align: center;}
#cleanpcnow-product {color: #555;font-size:24px; font-weight:bold;height: 25px;margin: 5px 0 0 0;}
#cleanpcnow-tfn {color: #20ce1b;font-size:34px; font-weight:bold;height: 45px;}
.cart .checkoutBottom .agreeBox {text-align:center;}
.cart .checkoutBottom .agreeBox p {float:none;}
.cbBilling h4 {margin-right: 320px;text-align: right;}
.paymentInfo h4 {margin-right: 320px;text-align: right;}
