sup{top: -0.7em;}
.topStrip .loginDrawer #rememberGroup #login_remember_me{position:relative; top:-3px;}
#ptChekoutsingle .agreeBox .checkbox input{margin-top:-2px;}
#ptChekoutsingle #dwfrm_personinf_useAsBillingAddress{top: -2px;}
.accountContainer .rememberme .checkinput{top: -3px;}
.accountContainer .remember .checkinput{margin: 0px;}
#AboutYouForm .radio-fields input[type="radio"]{margin: -2px 0 0 0; }