/******************** Optimized CSS *******************/

#secondarynavtap ul ul li{display:none;}
/* Success Story Landing */
.mainWide.success-stories {
	background:url(../images/community/background-dots.jpg)  center 0px no-repeat #fff;padding-top: 22px;min-height: 432px;
}
.mainWide.success-stories #content, 
.mainWide.success-stories .category {
	background:none;
}
.success-stories .header-check {
	margin: 30px 0; 
	background: url('../images/community/icon-large-check.png') 9px left no-repeat;
	padding: 3px 0 0 40px;
}
	
.success-stories a {
	color: #ea7125;
	text-decoration: none;
}
.success-stories a:hover {
	text-decoration: underline;
}
.success-stories a,
.success-stories span {
	padding: 0 3px;
}

	padding:0;
	font-size:14px;
}
.center{width:910px;padding:20px 0 20px 15px; margin:0px auto;color:#4E4D4B;float:left }
.center .leftsection{width:675px;padding:5px;float:left;}
.center .rightsection{width:208px;padding:5px;float:right; background: repeat scroll 0 0 #fff; overflow:hidden}
.center h5{line-height:14px;text-transform:uppercase;color:#6c9973;font-size:12px;padding:5px 0 8px 0; font-weight:normal; text-align:left; padding-left:10px;}
.center h3{color:#488897; font-size:13px; font-weight:bold; line-height:1em; margin:20px 0 10px; border-bottom:#488897 1px solid; padding-bottom:10px;}
.center .leftsection .divider {
	margin-bottom: 15px;
}
.center .leftsection a:hover {
	color:#00788a;
	text-decoration:none;
}
.center .leftsection .hero {
	margin: -10px 0 30px;
}

/*Block*/
.block{background:url(images/block_left.gif) 0 0 repeat-y #fff; width:100%; float:left; margin:0 0 10px;}
.blockTop{height:5px;background:url(images/block_lefttop.gif) 0 0 no-repeat;margin-bottom:0;width:100%; float:left}
.blockTopRight{padding-top:5px;background:url(images/block_righttop.gif) right 0 no-repeat;}
.blockContent{background:transparent url(images/block_right.gif) repeat-y scroll right 0;;overflow:hidden;width:185px; float:left; text-align:center}
.blockContent a.bottomLink{font-size:.9em;display:block;border-top:1px solid #ccc;margin:10px 0 0 0;font-weight:bold;}
.blockBottom{height:5px;background:url(images/block_leftbottom.gif) 0 0 no-repeat;width:100%; float:left}
.blockBottomRight{padding-top:5px;background:url(images/block_rightbottom.gif) right 0 no-repeat;}
.blockContent ul{font-size:11px;font-weight:bold;border-bottom:1px solid #d6d6d6;}
.blockContent ul li a{display:block;padding:2px 10px 3px 10px;border-top:1px solid #d6d6d6;background:transparent; color:#4E4D4B; text-decoration:none; text-align:left}
.center p a {border-bottom:1px dotted #70BACC; color:#70BACC; text-decoration:none}

/* Real Stories Ends*/

.center .leftsection h1 {
	height: 45px;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: bold;
	line-height: 35px;
	background: url('../images/community/bg-h1-title.png') no-repeat;
	padding-left: 40px;
	margin-left: -11px;
	margin-bottom:0;
}
.center .leftsection h1.no-hero {
	background: url(../images/community/bg-h1-title-nohero.png) 0 0 no-repeat;
	height:88px;
}
.center .leftsection p, .center .leftsection ul li {
	color: #4d4d4d;
	line-height: 20px;
	font-size: 14px;
}
.center .leftsection p {
	margin-bottom: 15px;
}
.center .leftsection a {
	color: #f36d21;
	text-decoration: none;
	border: none;
}
.center .leftsection h2 {
	color: #00788a;
	font-size: 21px;
	padding:  10px 0 15px;
}
.center .leftsection .grey h2 {
	color: #4d4d4d;
	font-size: 24px;
	margin-top: 2px;
	padding:  0 0 15px;
}


/* Testimonials Landing Starts */
.featured-testimonials-landing .clear {
	clear:both;
}
.featured-testimonials-landing .featured-testimonial-block {
	padding:25px;
}
.featured-testimonials-landing .featured-testimonials {
	background-color:#fff;
	margin:-53px 0 0 5px;
}
.featured-testimonials-landing .testimonial-image {
	width:230px;
	margin-right:15px;
	float:left;
}
.featured-testimonials-landing .testimonial-description {
	width:375px;
	float:left;
}
.featured-testimonials-landing .testimonial-description .testimonial-date {
	font-size:14px;
	color:#888;
	margin:0 0 0 1px;
	padding:0;
}
.featured-testimonials-landing .testimonial-description h3 {
	border:none;
	margin:5px 0 0 0;
	font-size:21px;
	font-weight:normal;
}
.featured-testimonials-landing .testimonial-description p {
	margin:5px 1px;
}
.featured-testimonials-landing .testimonial-description .testimonial-link {
	display:inline-block;
	text-indent:-999em;
	background:url(../images/community/testimonials-landing-testimonial-link.png) 0 0 no-repeat;
	width:121px;
	height:24px;
	overflow:hidden;
}
.featured-testimonials-landing .testimonial-description .testimonial-link:hover {
	background-position:0 -24px;
}

/* Selected Testimonial Starts */
.testimonial h2.testimonial-sub-heading {
	background-color:#fff;
	margin:-53px 0 0 5px;
	padding:20px 0 0 25px !important;
}
.testimonial .testimonial-inner {
	padding:25px 25px 0 25px;
}
.testimonial .divider {
	margin:15px 0 0 0 !important;
}
.testimonial .testimonial-carousel {
	width:625px;
	height:124px;
	position:relative;
	overflow:hidden;
	margin-top:15px;
}
.testimonial .testimonial-carousel-inner {
	width:575px;
	margin:0 auto;
	height:124px;
	overflow:hidden;
}
.testimonial .testimonial-carousel-inner .testimonial-image {
	margin:0 12px;
}
.testimonial .testimonial-carousel .carousel-nav {
	position:absolute;
	top:41px;
	display:inline-block;
	background:url(../images/community/testimonial-nav.png) 0 0 no-repeat;
	width:17px;
	height:17px;
	overflow:hidden;
	padding:0 !important;
}
.testimonial .testimonial-carousel .carousel-nav.nav-left {
	left:0;
}
.testimonial .testimonial-carousel .carousel-nav.nav-left:hover {
	background-position:-17px 0;
}
.testimonial .testimonial-carousel .carousel-nav.nav-right {
	right:0;
	background-position:0 -17px;
}
.testimonial .testimonial-carousel .carousel-nav.nav-right:hover {
	background-position:-17px -17px;
}
.testimonial p {
	margin:15px 0 !important;
}

.communityrt{width:220px}
.communityrt .whitebox {border:1px #BBB solid; padding:10px; position:relative; line-height:18px; margin-bottom:20px}
.whitebox .corner {position:absolute; height:6px; width:6px; font-size:0; line-height:0}
.whitebox .corner.l-top-lt {background:#FFF url(../images/white-corner-l-top.png) 0 0 no-repeat; top:-1px; left:-1px}
.whitebox .corner.l-top-rt {background:#FFF url(../images/white-corner-r-top.png) 0 0 no-repeat; top:-1px; right:-1px}
.whitebox .corner.l-btm-lt {background:#FFF url(../images/white-corner-l-btm.png) 0 0 no-repeat; bottom:-1px; left:-1px}
.whitebox .corner.l-btm-rt {background:#FFF url(../images/white-corner-r-btm.png) 0 0 no-repeat; bottom:-1px; right:-1px}
.whitebox img.userimg {float:left; margin:0 5px 10px 0}
.whitebox .userinfo {float:right; width:130px}
.userinfo .blue {color:#00accf}

.communityrt .graybox {border:1px #BBB solid; background:#f5f5f5; position:relative; line-height:18px; margin-bottom:20px}
.graybox .corner {position:absolute; height:6px; width:6px; font-size:0; line-height:0}
.graybox .corner.l-top-lt {background:#FFF url(../images/gray-corner-l-top.png) 0 0 no-repeat; top:-1px; left:-1px}
.graybox .corner.l-top-rt {background:#FFF url(../images/gray-corner-r-top.png) 0 0 no-repeat; top:-1px; right:-1px}
.graybox .corner.l-btm-lt {background:#FFF url(../images/gray-corner-l-btm.png) 0 0 no-repeat; bottom:-1px; left:-1px}
.graybox .corner.l-btm-rt {background:#FFF url(../images/gray-corner-r-btm.png) 0 0 no-repeat; bottom:-1px; right:-1px}
.communityrt .graybox h3 {font-size:13px; padding:5px 10px; border-bottom:1px #d4d4d4 dotted; color:#4e4d4b}
.communityrt .graybox .content {padding:10px}

.communityrt .bluebox {border:1px #BBB solid; background:#e6f7f8; position:relative; line-height:18px; margin-bottom:20px}
.bluebox .corner {position:absolute; height:6px; width:6px; font-size:0; line-height:0}
.bluebox .corner.l-top-lt {background:#FFF url(../images/blue-corner-l-top.png) 0 0 no-repeat; top:-1px; left:-1px}
.bluebox .corner.l-top-rt {background:#FFF url(../images/blue-corner-r-top.png) 0 0 no-repeat; top:-1px; right:-1px}
.bluebox .corner.l-btm-lt {background:#FFF url(../images/blue-corner-l-btm.png) 0 0 no-repeat; bottom:-1px; left:-1px}
.bluebox .corner.l-btm-rt {background:#FFF url(../images/blue-corner-r-btm.png) 0 0 no-repeat; bottom:-1px; right:-1px}
.communityrt .bluebox h3 {font-size:13px; padding:5px 10px; border-bottom:1px #d4d4d4 dotted; color:#4e4d4b}


.communityrt .whitebox2 {padding:5px 10px; position:relative; line-height:20px; background:#FFF; color:#4E4D4B}
.whitebox2 .corner {position:absolute; height:4px; width:4px; font-size:0; line-height:0}
.whitebox2 .corner.l-top-lt {background:#f5f5f5 url(../images/white2-corner-l-top.png) 0 0 no-repeat; top:0; left:0}
.whitebox2 .corner.l-top-rt {background:#f5f5f5 url(../images/white2-corner-r-top.png) 0 0 no-repeat; top:0; right:0}
.whitebox2 .corner.l-btm-lt {background:#f5f5f5 url(../images/white2-corner-l-btm.png) 0 0 no-repeat; bottom:0; left:0}
.whitebox2 .corner.l-btm-rt {background:#f5f5f5 url(../images/white2-corner-r-btm.png) 0 0 no-repeat; bottom:0; right:0}

.socialbtn {width:196px; height:33px; background:url(../images/social-btn-bg.png) 0 0 no-repeat; display:block; padding:10px 15px 0; text-decoration:none; line-height:20px; color:#4e4d4b; font-weight:bold; margin-bottom:3px}
.socialbtn span {float:right; text-align:left; width:83%}
.socialbtn img {vertical-align:middle; #float:left}
.communityrt .bluebox .content {padding:10px 4px}
.linkhow {text-align:right; display:block; font-size:11px; color:#4E4D4B; margin:5px 0}



