body.inline-panel { background: #FFF; }

#idMainWide { width: 960px !important; float: none; background: #FFF; }

.pt-checkout-refresh { font-family: "Arial", sans-serif; /* Select a Kit panel css start*/ /* Free Gift Start*/ }
.pt-checkout-refresh .errormessage { color: red; }
.pt-checkout-refresh .touchChat { float: right; height: 36px; position: relative; top: 42px; width: 97px; }
.pt-checkout-refresh a { color: #2d2b62; }
.pt-checkout-refresh .hide { display: none; }
.pt-checkout-refresh .posFixed { background: #FFF; margin-left: -7px; padding-left: 7px; position: fixed; top: 0px; padding-top: 8px; width: 960px; z-index: 1000; padding-bottom: 0px; float: left; }
.pt-checkout-refresh .posFixed .callUs { float: right; }
.pt-checkout-refresh .posFixed .callUs h5 { color: #666; font-family: "Arial", sans-serif; font-size: 11px; font-weight: 700; padding-bottom: 1px; text-align: right; text-transform: uppercase; width: auto; float: right; position: relative; top: 0px; }
.pt-checkout-refresh #main { width: 100%; }
.pt-checkout-refresh #main .breadcrumb { width: 100%; height: auto; float: left; padding: 0px; margin-top: -6px; }
.pt-checkout-refresh #main .breadcrumb .refreshLogo { width: 125px; float: left; margin-top: 5px; }
.pt-checkout-refresh #main .breadcrumb ul { width: auto; list-style: none; padding: 0px; margin: 10px 0px 0 0; float: right; }
.pt-checkout-refresh #main .breadcrumb ul li { display: inline; float: left; height: 30px; line-height: 28px; margin-left: -3px; cursor: pointer; }
.pt-checkout-refresh #main .breadcrumb ul li a { font-family: "Arial", sans-serif; float: left; line-height: 28px; color: #666666; font-size: 13px; border: 0px solid #cccccc; text-decoration: none; padding-top: 0px; background-color: #eee; cursor: pointer; padding-right: 15px; }
.pt-checkout-refresh #main .breadcrumb ul li a span.count { font-size: 18px; padding-right: 0px; padding-left: 10px; line-height: 28px; float: left; border-right: 1px solid #cccccc; margin-right: 6px; width: 20px; }
.pt-checkout-refresh #main .breadcrumb ul li a span.title { font-size: 13px; line-height: 28px; float: left; min-width: 135px; text-align: center; margin: 0; }
.pt-checkout-refresh #main .breadcrumb ul li.active a { background-color: #b7d3ec; color: white; }
.pt-checkout-refresh #main .breadcrumb ul li.active span.count { border-color: white; }
.pt-checkout-refresh #main .breadcrumb.panelC ul li a { border-left: 7px solid white; }
.pt-checkout-refresh #main .breadcrumb.panelC ul li a.inActive { cursor: default; }
.pt-checkout-refresh #main a.back_to_top { border: 0px solid #cccccc; color: #6f2894; float: right; font-size: 12px; font-family: "Arial", sans-serif; margin-top: -30px; margin-right: 15px; text-transform: lowercase; width: auto; cursor: pointer; font-weight: 400; text-decoration: underline; }
.pt-checkout-refresh #main a.back_to_top:hover { text-decoration: none; }
.pt-checkout-refresh .selectakitpanel { width: 100%; float: left; padding-top: 41px; }
.pt-checkout-refresh .selectakitpanel .selectKit { float: left; width: 100%; }
.pt-checkout-refresh .selectakitpanel .selectKit .selectKit { margin-bottom: 10px; }
.pt-checkout-refresh .selectakitpanel .selectKit .medOrngBtn:hover { background-position: left -43px; }
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes { min-height: 82px; float: left; margin: 10px 10px 0px 14px; padding: 5px 0px; width: 93%; padding-bottom: 10px; border-bottom: 1px solid #cccccc; }
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes h4 { font-size: 12px; line-height: 18px; font-weight: normal; color: black; }
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes h4 span { font-size: 12px; }
.pt-checkout-refresh .selectakitpanel .selectKit .sasLongDescription .sasDes h4 strong { font-weight: bold !important; }
.pt-checkout-refresh .selectakitpanel ul.sasKits { float: left; width: 100%; }
.pt-checkout-refresh h1.pageTitle, .pt-checkout-refresh h2.pageTitle { background-color: #2d2b62; color: white; float: left; font-size: 24px; font-weight: 200; line-height: 21px; margin-bottom: 6px; padding: 10px; width: 97.8%; text-transform: capitalize; font-family: "Arial", sans-serif; }
.pt-checkout-refresh .medOrngBtn { background: url("../images/inline/inlineBtn.png") no-repeat transparent; color: #FFFFFF; float: left; height: 41px; line-height: 41px; width: 213px; text-indent: -9999px; text-transform: none; position: absolute; right: 10px; top: 54%; margin-top: -20px; }
.pt-checkout-refresh .freeGiftCont { float: left; width: 100%; }
.pt-checkout-refresh .freeGiftCont .freeGiftID { float: left; width: 100%; }
.pt-checkout-refresh .freeGiftCont .freeGiftSelector { float: left; width: 100%; margin-bottom: 10px; }
.pt-checkout-refresh .freeGiftCont .freeGiftSelector .selectGift .giftBlock { float: left; min-height: 336px; }
.pt-checkout-refresh .freeGiftCont .medOrngBtn { background-position: left -84px; }
.pt-checkout-refresh .freeGiftCont .medOrngBtn:hover { background-position: left -128px; }
.pt-checkout-refresh .upsellrecommendation { float: left; width: 100%; }
.pt-checkout-refresh .upsellrecommendation .upsellInline { float: left; width: 100%; }
.pt-checkout-refresh .upsellrecommendation .upsellInline .selectKit { float: left; width: 100%; margin-bottom: 10px; }
.pt-checkout-refresh .upsellrecommendation .upsellInline .selectKit .giftImage { min-height: 306px; text-align: center; padding-top: 10px; }
.pt-checkout-refresh .upsellrecommendation .bestValueCornerRibbon { position: absolute; right: -5px; top: -4px; height: 143px; width: 143px; background: url("../images/inline/bestValueCornerRibbon.png") no-repeat scroll center center; z-index: 1; }
.pt-checkout-refresh .upsellrecommendation .medOrngBtn { background-position: left -172px; }
.pt-checkout-refresh .upsellrecommendation .medOrngBtn:hover { background-position: left -215px; }

/* Global css for common elements*/
.stepBlock { float: left; height: 8px; }

/* global css for bottom swath description */
.orderSummaryBottom { float: left; width: 75%; }
.orderSummaryBottom .ordersummarycontainer { float: left; padding-left: 41%; width: 69%; }
.orderSummaryBottom .ordersummarycontainer .swatchImg { float: left; min-width: 20%; height: 78px; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc { float: left; width: 67%; padding-left: 10px; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc h4 { text-transform: uppercase; font-size: 15px; color: #2b2a2a; margin-top: 3px; line-height: 17px; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitName { font-size: 15px; color: #2b2a2a; font-weight: 400; line-height: 17px; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitName strong { font-weight: 400; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .freeLink { color: #ce1fa3; text-transform: uppercase; font-size: 16px; font-weight: bold; line-height: normal; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitTab { color: #ce1fa3; font-size: 16px; font-weight: bold; line-height: normal; }
.orderSummaryBottom .ordersummarycontainer .swatchDesc .kitPrice { color: #2b2a2a; font-size: 16px; line-height: normal; }

.freeGiftSelector.PanelB .selectKit { float: left; width: 100%; }
.freeGiftSelector.PanelB .selectKit .giftBlockSAS { padding: 5px 0 0; float: left; background-color: white; width: 100%; }
.freeGiftSelector.PanelB .selectKit .giftBlockSAS .selectKit_Img { width: 100%; text-align: center; position: relative; min-height: 234px; padding-top: 20px; }
.freeGiftSelector.PanelB .selectKit .giftBlockSAS .selectKit_Img .favorite-product { background: url("../images/inline/favoriteproduct.png") no-repeat scroll center top; height: 25px; width: 197px; position: absolute; right: -2px; top: 3px; text-indent: -9999px; }
.freeGiftSelector.PanelB .selectKit .giftBlockSAS .selectKit_Img .new-product { background: url("../images/inline/new-ribbon.png") no-repeat scroll center top; height: 85px; width: 85px; position: absolute; right: 13px; top: -5px; text-indent: -9999px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription { width: 100%; float: left; color: #333; font-family: "Arial", sans-serif; min-height: 220px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNew { float: left; font-size: 20px; font-family: "Arial", sans-serif; font-weight: normal; height: 36px; line-height: 36px; padding: 0 14px; width: 90%; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNew span { text-transform: uppercase; font-size: 14px; font-weight: 400; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNew .price-text { color: #6f2894; font-size: 17px; font-weight: bold; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .allNewPrice { width: auto; float: left; font-size: 18px; line-height: 25px; height: 25px; padding-left: 5px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .fightsStubborn { padding: 0 166px 0 9px; width: auto; float: left; background: url(../images/inline/fightsAcne.png) no-repeat right top; font-size: 18px; line-height: 20px; height: 20px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .prSystem { font-size: 18px; padding-left: 9px; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .productDetailsBox { background-color: #ecf1ff; float: left; min-height: 36px; width: 100%; }
.freeGiftSelector.PanelB .selectKit .sasLongDescription .productDetailsBox sup { top: -5px; }
.freeGiftSelector.PanelB .selectKit ul.productList { float: left; height: auto; margin: 5px 0; display: inline-block; padding: 0; }
.freeGiftSelector.PanelB .selectKit ul.productList li { background: url("../images/inline/pinkBullet.png") no-repeat scroll left 6px; font-size: 14px; line-height: normal; margin: 0; padding: 0 0 3px 14px; width: auto; }
.freeGiftSelector.PanelB .selectKit ul.productList li a { color: #322F31; font-size: 12px; text-decoration: underline; }
.freeGiftSelector.PanelB .selectKit ul.productList li a:hover { text-decoration: none; }
.freeGiftSelector.PanelB .selectKit ul.productList li.blue { background: url("../images/inline/blue.png") no-repeat scroll left 6px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes { float: left; margin: 14px 0px 0px 0px; padding: 0 0 5px 20px; width: 93%; }
.freeGiftSelector.PanelB .selectKit .kitIncludes h5 { float: left; color: #999999; font-size: 11px; font-weight: 700; margin-bottom: 1px; text-transform: uppercase; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items { background-color: #dae1f4; color: #6E2791 !important; padding-left: 9px; padding-top: 9px; margin-left: -11px; border: solid 1px #bcbcbc; width: 281px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items > h5 { border-bottom: 1px dotted; color: #6f2691; font-size: 12px; line-height: 9px; padding-bottom: 4px; text-transform: upparcase; font-weight: bold; padding-top: 2px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList { width: auto; margin: 1px auto 2px 17px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li { background: none; float: left; list-style: disc; margin-right: 36px; padding-left: 0; line-height: 18px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li a { color: #6E2791; font-size: 12px; }
.freeGiftSelector.PanelB .selectKit .kitIncludes .additional-items ul.productList li:nth-child(2n) { margin-right: 0px; }
.freeGiftSelector.PanelB .selectKit .giftDesc { float: left; font-size: 16px; line-height: 22px; padding-bottom: 0; width: 100%; position: relative; }
.freeGiftSelector.PanelB .selectKit .giftDesc .selected span { padding-left: 0px; float: left; margin-left: -65px; }
.freeGiftSelector.PanelB .selectKit .leftCol { float: left; min-height: 244px; padding: 80px 0 0 0px; width: 105px; max-height: 345px; }
.freeGiftSelector.PanelB .selectKit .leftCol .giftImage { float: left; text-align: center; width: 250px; }
.freeGiftSelector.PanelB .selectKit .leftCol .giftImage.productDriven { padding-top: 0px; }
.freeGiftSelector.PanelB .selectKit .giftSection { float: right; padding: 20px 20px 15px 0px; width: 220px; position: relative; }
.freeGiftSelector.PanelB .selectKit .giftSection ul { list-style: none; }
.freeGiftSelector.PanelB .selectKit .giftSection ul li { width: 100%; float: left; margin-left: 2%; cursor: pointer; padding-bottom: 0px; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent { overflow: hidden; padding: 5px 0px 5px 0px; font-family: "Arial", sans-serif; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent h3 { text-align: left; line-height: 15px; padding-top: 4px; color: #322f31; font-size: 20px; font-weight: 400; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent .content { font-size: 16px; color: #333; line-height: 19px; padding: 15px 0 0px 0px; }
.freeGiftSelector.PanelB .selectKit .giftSection .rightContent .content p { font-size: 13px; margin-bottom: 5px !important; width: 100%; line-height: 20px !important; }
.freeGiftSelector.PanelB .selectKit .giftSection span.paidStatus { font-size: 20px; color: #6f2894; font-weight: 700; }
.freeGiftSelector.PanelB .selectKit .giftSection .favoriteContainer { background: url("../images/inline/chazFavoriteBg.png") no-repeat center center; width: 195px; height: 28px; margin-top: -20px; margin-bottom: 5px; }
.freeGiftSelector.PanelB .productDesc { display: none; }

.bottomPanel.panelB { padding: 4px 9px 0px 11px; min-height: 56px; margin-bottom: 10px; width: 938px; margin-left: 0; background-color: #ededed; float: left; position: relative; }

.pdata { display: none; }

.selectakitpanel ul li .selected > span { padding-left: 54px; }

.pt-checkout-refresh .placeholder { color: #999 !important; font-style: italic; }
.pt-checkout-refresh form.checkoutform { width: 100%; float: left; }
.pt-checkout-refresh form.checkoutform div.errorform { float: left; margin: 5px 2%; width: 95%; color: #FF0000; border: 1px solid #FF0000; padding: 5px; }
.pt-checkout-refresh #main a.moreInfo { background: url("../images/inline/blue-arrow-small.png") no-repeat right 7px; padding-right: 15px; color: #6f2894; font-size: 13px; display: inline-block; line-height: 20px; font-weight: 700; text-decoration: underline; }
.pt-checkout-refresh #main a:hover { text-decoration: none; }
.pt-checkout-refresh #main strong { font-weight: normal; }
.pt-checkout-refresh a.freeLink { color: #2d2b62; }
.pt-checkout-refresh .stepBlock { float: left; }
.pt-checkout-refresh input[type="button"], .pt-checkout-refresh input[type="submit"], .pt-checkout-refresh a, .pt-checkout-refresh button { outline: medium none !important; }
.pt-checkout-refresh .formfield .label .errorlabel { color: inherit !important; }
.pt-checkout-refresh .checkoutPanelB { float: left; position: relative; width: 100%; }
.pt-checkout-refresh .checkoutPanelB .checkoutPanelB-Title { float: left; width: 100%; margin-bottom: 8px; }
.pt-checkout-refresh .checkoutPanelB .compBtn .medOrngBtn { cursor: pointer; width: 230px; height: 43px; line-height: 52px; color: #fff; text-transform: uppercase; padding: 0px 0px 0px 20px; background-position: 0 -256px; right: 26px; }
.pt-checkout-refresh .checkoutPanelB .compBtn .medOrngBtn:hover { background-position: 0 -300px; }
.pt-checkout-refresh .checkoutPanelB .mbProduct { top: 7px; right: 10px; width: auto; position: absolute; }
.pt-checkout-refresh .leftSection { float: left; height: auto; position: relative; width: 626px; }
.pt-checkout-refresh .leftSection .ch_selected_products { border: 1px solid #cccccc; float: left; padding: 30px 10px 0; position: relative; width: 603px; }
.pt-checkout-refresh .leftSection .ch_selected_products .detailscolumn.herosection { float: left; font-size: 11px; width: 335px; padding: 34px 0 15px 0px; }
.pt-checkout-refresh .leftSection .ch_selected_products .detailscolumn h4 { color: #999; font-size: 11px; font-weight: 700; text-transform: uppercase; margin-bottom: 14px; }
.pt-checkout-refresh .leftSection .ch_selected_products .detailscolumn .name { font-size: 24px; color: black; line-height: 21px; }
.pt-checkout-refresh .leftSection .ch_selected_products .detailscolumn .name strong { font-weight: bold !important; }
.pt-checkout-refresh .leftSection .ch_selected_products .tablerow { float: left; width: 613px; padding-bottom: 10px; }
.pt-checkout-refresh .leftSection .ch_selected_products .imagecolumn { text-align: center; width: 275px; vertical-align: bottom; }
.pt-checkout-refresh .leftSection .ch_selected_products .imagecolumn img { max-width: 215px; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription { color: #333; font-size: 14px; padding: 3px 0; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription ul { list-style: disc inside; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription ul li { color: #3F838D; margin-left: 10px; margin-top: 2px; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription h5 { font-size: 18px; font-weight: normal !important; margin-bottom: 19px; }
.pt-checkout-refresh .leftSection .ch_selected_products .shortDescription p { font-size: 15px; line-height: 18px; }
.pt-checkout-refresh .leftSection .ch_selected_products .otherDescription { width: 100%; float: left; font-size: 14px; min-height: 68px; color: #333; margin-top: 2px; }
.pt-checkout-refresh .leftSection .ch_selected_products td { padding: 0px; font-family: inherit; }
.pt-checkout-refresh .leftSection .vitaminProduct { background: url("../images/inline/vitamin-bg-gradient.png") repeat-x left top; border: 1px solid #9091c0; border-radius: 0; width: 575px; float: left; padding: 15px 35px 11px 15px; }
.pt-checkout-refresh .leftSection .vitaminProduct .productimage { width: auto; float: left; margin-right: 15px; max-height: 80px; margin-top: -10px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent { width: 485px !important; height: auto; float: left; padding: 0px; margin: 0px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent h4 { margin-right: 0px; font-weight: 200; font-size: 22px; color: black; min-height: 44px; margin-right: 0px; line-height: 21px; font-family: "Arial", sans-serif; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent h4 strong { font-weight: bold !important; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .moreInfo { color: #333; font-size: 15px; margin: 1px 9px 1px 0px; font-weight: 400; float: left; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .moreInfo a { font-size: 13px; text-transform: uppercase; text-decoration: underline; border: 0px solid #cccccc; font-weight: 700; background: url("../images/inline/arrow-right-orange.png") no-repeat right center; padding-right: 16px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .moreInfo strong { font-weight: bold !important; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .addtocart_btn { float: left; position: absolute; right: 10px; top: 10px; width: 128px; height: 35px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .addtocartbtn { width: 100%; height: 36px; float: left; background: url("../images/inline/addtocartVitamin.png") no-repeat left top; border: 0px solid #cccccc; margin: 0px; text-indent: -9999px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .addtocartbtn:hover { background-position: left bottom; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent a { color: #ff8100 !important; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .upsell_details_content { border-top: 1px solid white; float: left; margin: 6px 0 0 -70px; padding: 4px; width: 590px; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .upsell_details_content p { line-height: 15px; font-size: 12px; font-family: "Arial", sans-serif; }
.pt-checkout-refresh .leftSection .vitaminProduct .upsellcontent .upsell_details_content.upsell_details_inactive { display: none; }
.pt-checkout-refresh .actionPanel.fullBar .rightSection { width: 100%; }
.pt-checkout-refresh .actionPanel .rightSection { overflow: hidden; min-height: 84px; padding: 10px 0; border: 1px solid #cccccc; width: 310px; }
.pt-checkout-refresh .rightSection { width: 322px; height: auto; font-family: "Arial", sans-serif; float: right; position: relative; background: url("../images/inline/gray-grad-bg.jpg") repeat 0 0; padding: 0px; overflow: hidden; min-height: 84px; border: 1px solid #cccccc; }
.pt-checkout-refresh .rightSection .complete-order-text { margin-right: 52px; font-size: 15px; font-weight: 400; padding-bottom: 0px; padding-top: 8px; margin-bottom: 0; float: right; }
.pt-checkout-refresh .order-summary-right { width: 322px; height: auto; float: left; background: #fff; }
.pt-checkout-refresh .order-summary-right h4 { color: #fff; background-color: #999999; font-size: 18px; font-weight: 500; text-transform: none; padding: 10px; }
.pt-checkout-refresh .order-summary-right .detailscolumn { display: table-cell; float: left; margin-bottom: 0px; }
.pt-checkout-refresh .order-summary-right .name { font-size: 18px; color: #333; padding-left: 22px; background: url(../images/inline/nameArrow.png) no-repeat left 8px; margin: 0px; line-height: 25px; font-weight: 400; }
.pt-checkout-refresh .order-summary-right .name strong { font-weight: normal !important; }
.pt-checkout-refresh .order-summary-right select { border: 1px solid #cccccc; color: #333; font-size: 12px; height: 28px; width: 111px; padding: 3px; margin-right: 5px; }
.pt-checkout-refresh .order-summary-right select.quantityselector { width: 82px; }
.pt-checkout-refresh .order-summary-right .shortDescription p { color: #8a8a8a; font-size: 12px; line-height: 17px; padding: 0px; font-weight: normal; }
.pt-checkout-refresh .order-summary-right .shortDescription p strong { font-weight: bold !important; }
.pt-checkout-refresh .order-summary-right .shortDescription.vitamin { padding: 0 15px; }
.pt-checkout-refresh .order-summary-right .shortDescription.vitamin p { padding-bottom: 10px; border-bottom: 1px solid #cccccc; }
.pt-checkout-refresh .order-summary-right .order-totals { border-bottom: 1px solid #cccccc; color: #333; float: left; font-size: 14px; height: auto; margin: 0px 15px 12px 16px; padding: 0px 5px 5px; width: 278px; background: none; }
.pt-checkout-refresh .order-summary-right .order-totals .sub_total { float: left; padding-left: 0px; width: 99%; border: 0px; }
.pt-checkout-refresh .order-summary-right .order-totals .sub_total .cocart-price { width: auto; float: right; font-weight: 400; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total { float: left; padding-left: 0px; width: 100%; position: relative; margin: 12px 0 18px 0px; background: none; border: 0px; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total #totalshippingprice { width: 100%; float: left; padding-left: 0px; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total #totalshippingprice span { width: auto; float: left; font-weight: 400; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total #totalshippingprice #shipTotal { width: auto; float: right; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total .shippingmethodslist { position: absolute; right: 0px; top: 0px; margin-left: 0px; }
.pt-checkout-refresh .order-summary-right .order-totals .shipping_total .shippingmethodslist select { margin-right: 0px; width: 170px; font-size: 12px; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote { color: #777777; font-weight: 400; float: left; font-size: 10px; line-height: 15px; margin-bottom: 5px; width: 100%; font-family: "Arial", sans-serif; position: relative; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote span { text-decoration: underline; color: #337aa9; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote span:hover { text-decoration: none; }
.pt-checkout-refresh .order-summary-right .order-totals .shippingNote .statesList { position: absolute; background: #eee; padding: 10px; top: -13px; right: 34px; font-size: 13px; }
.pt-checkout-refresh .order-summary-right .order-totals .order_total { float: left; padding: 2px 9px 0 0px; width: 100%; font-weight: 700; border-top: 1px solid #cccccc; margin-top: 5px; margin-left: -5px; background-color: #FFF; }
.pt-checkout-refresh .order-summary-right .order-totals .order_total .cocart-container { float: left; padding-top: 4px; width: 100%; font-size: 14px; padding-left: 5px; }
.pt-checkout-refresh .order-summary-right .order-totals .cocart-label { width: auto; float: left; font-weight: 400; }
.pt-checkout-refresh .order-summary-right #crossSell { background-position: left 14px; border-top: 1px solid #cccccc; font-size: 18px; margin: 10px 15px 6px; width: 270px; padding: 7px 0 0 22px; }
.pt-checkout-refresh .order-summary-right #crossSell a { color: #2d2b62; float: right; font-size: 12px; text-decoration: underline; }
.pt-checkout-refresh .order-summary-right #crossSell a:hover { text-decoration: none; }
.pt-checkout-refresh .order-summary-right .prodWrapper { padding: 10px; }
.pt-checkout-refresh .order-summary-right .prodWrapper .special-offer-with-coupon-code { margin-bottom: 7px; }
.pt-checkout-refresh .imagecolumn { float: left; width: 243px; }
.pt-checkout-refresh .personinfform { float: left; width: 100%; }
.pt-checkout-refresh .checkout_box.access_info { float: left; margin-top: 15px; width: 100%; }
.pt-checkout-refresh .checkout_box { border: 0px solid #cccccc; margin: 0 0 5px; }
.pt-checkout-refresh .checkout_box.contact_info { margin: 0 0 10px; float: left; width: 100%; }
.pt-checkout-refresh .checkout_box h4 { background-color: #2d2b62; color: white; border-radius: 2px; font-size: 12px; font-weight: 700; height: 26px; line-height: 26px; padding: 3px 4px 1px 10px; text-transform: uppercase; }
.pt-checkout-refresh .checkout_box h4 #paywithpaypal { background: url("../images/inline/payPalImg.png") no-repeat scroll right top; float: right; height: 24px; margin-right: -2px; width: 113px; border: 0; cursor: pointer; }
.pt-checkout-refresh .access_info .checkout_box_inner { padding: 16px 10px 10px 10px; }
.pt-checkout-refresh .access_info .formfield { height: 26px; }
.pt-checkout-refresh .access_info .password { float: left; position: relative; width: 225px; height: 64px; }
.pt-checkout-refresh .access_info .passwordconfirm { float: left; padding-left: 10px; width: 240px; height: 64px; }
.pt-checkout-refresh .checkout_box_inner { padding: 8px 10px 0; width: 97%; }
.pt-checkout-refresh .checkout_box_inner .card_details { padding-top: 0px; }
.pt-checkout-refresh .checkout_box_inner .card_details h5 { margin: 0; padding: 0; display: none; }
.pt-checkout-refresh .personinfform .first.address, .pt-checkout-refresh .personinfform .second.address { border: 0px solid #cccccc; clear: both; font-size: 14px; margin-top: 0; margin-bottom: 10px; padding: 0; width: auto; }
.pt-checkout-refresh .personinfform .first.address .textinput, .pt-checkout-refresh .personinfform .second.address .textinput { width: 458px; }
.pt-checkout-refresh .personinfform .card_number { background: url("../images/inline/cardtypes.gif") no-repeat scroll right 19px; float: left; margin: 5px 0; padding-right: 205px; position: relative; width: 231px; }
.pt-checkout-refresh .personinfform .card_number.Visa { background-position: right -43px; }
.pt-checkout-refresh .personinfform .card_number.MasterCard { background-position: right -105px; }
.pt-checkout-refresh .personinfform .card_number.Discover { background-position: right -167px; }
.pt-checkout-refresh .personinfform .card_number.Amex { background-position: right -227px; }
.pt-checkout-refresh .personinfform .checkoutimgs .label { color: #4E4D4B; font-size: 14px; padding-bottom: 4px; }
.pt-checkout-refresh .personinfform .selectbox { border: 1px solid #cccccc; border-radius: 2px; box-shadow: 0 0 5px #F0F0F0 inset; color: #999999; font-size: 14px; height: 32px; line-height: 30px; margin: 0 10px 0 0; padding: 6px; }
.pt-checkout-refresh .personinfform .city { float: left; margin-right: 10px; width: 183px; }
.pt-checkout-refresh .personinfform .city input { width: 183px; }
.pt-checkout-refresh .personinfform .city .state { float: left; margin-right: 10px; width: 132px; margin-bottom: 5px; }
.pt-checkout-refresh .personinfform label { color: #333333; font-size: 14px; font-weight: normal; padding-bottom: 3px; float: left; width: 100%; }
.pt-checkout-refresh .personinfform label span { float: left; }
.pt-checkout-refresh .personinfform .first_name, .pt-checkout-refresh .personinfform .email { float: left; position: relative; width: 223px; }
.pt-checkout-refresh .personinfform .email { width: 91%; height: 49px; }
.pt-checkout-refresh .personinfform .email span.success { background: url("../images/inline/validation-icons.png") no-repeat scroll left 1px; display: none; font-family: "Arial", sans-serif; font-weight: 700; height: 30px; left: 44%; line-height: normal; padding-left: 32px; position: absolute; top: 20px; width: auto; }
.pt-checkout-refresh .personinfform .email span.errormessage { position: absolute; top: 20px; left: 44%; padding-left: 32px; height: 30px; line-height: normal; width: 210px; background: url("../images/inline/validation-icons.png") left -50px no-repeat !important; font-family: "Arial", sans-serif; font-weight: 700; z-index: 999; }
.pt-checkout-refresh .personinfform .email span.errorclient { position: absolute; top: 20px; left: 44%; padding-left: 32px; line-height: normal; width: 305px; background: url("../images/inline/validation-icons.png") left -50px no-repeat !important; font-family: "Arial", sans-serif; font-weight: 700; z-index: 999; }
.pt-checkout-refresh .personinfform .last_name, .pt-checkout-refresh .personinfform .email_confirm { float: left; padding-left: 10px; width: 240px; }
.pt-checkout-refresh .age_and_gender { border: 0px solid #cccccc; clear: both; font-size: 14px; margin-top: 0; padding: 0; width: auto; }
.pt-checkout-refresh .age_and_gender label { margin-right: 10px; margin-top: 4px; }
.pt-checkout-refresh .age_and_gender .gender { float: left; width: 190px; margin-top: 6px; }
.pt-checkout-refresh .age_and_gender .gender label { display: inline-block; float: left; width: 85px; }
.pt-checkout-refresh .age_and_gender .formfield.age { float: left; width: 275px; }
.pt-checkout-refresh .age_and_gender .formfield.age label { float: left; margin-top: 10px; width: 24px; }
.pt-checkout-refresh .age_and_gender .formfield.age .textinput { float: left; width: 40px; }
.pt-checkout-refresh .age_and_gender .formfield.age span.errormessage { float: left; padding: 8px; }
.pt-checkout-refresh .age_and_gender .label { display: none; }
.pt-checkout-refresh .formfield { margin-bottom: 5px; padding-bottom: 3px; padding-top: 0px; height: 58px; }
.pt-checkout-refresh .formfield.statezip .state { float: left; width: 140px; }
.pt-checkout-refresh .formfield.statezip .zip { float: left; width: 200px; }
.pt-checkout-refresh .formfield.statezip .zip input { width: 117px; }
.pt-checkout-refresh label { font-size: 14px; font-family: "Arial", sans-serif; }
.pt-checkout-refresh input.errormessage, .pt-checkout-refresh select.errormessage { border-color: #FF0000 !important; }
.pt-checkout-refresh .checkout_box_inner .gender input { position: relative; top: -3px; }
.pt-checkout-refresh .checkout_box_inner .gender div.label { font-size: 14px; }
.pt-checkout-refresh .checkout_box_inner label span { font-size: 14px; }
.pt-checkout-refresh .checkout_box_inner .formfield.state { width: 140px; }
.pt-checkout-refresh .checkout_box_inner .formfield.zip { width: 200px; }
.pt-checkout-refresh .checkout_box_inner .formfield.zip #billZip { width: 117px; }
.pt-checkout-refresh .checkout_box_inner .formfield.zip .zip { float: left; width: 200px; }
.pt-checkout-refresh input[type="radio"] { vertical-align: middle; }
.pt-checkout-refresh .pt_checkout .requiredindicator { color: red; }
.pt-checkout-refresh .pt_checkout .textinput, .pt-checkout-refresh .pt_checkout .textinputpw { border: 1px solid #cccccc; border-radius: 2px; box-shadow: 0 0 5px #F0F0F0 inset; color: black; font-size: 14px; font-weight: normal; height: 24px; line-height: 24px; padding: 3px; width: 220px; }
.pt-checkout-refresh .pt_checkout .phone { position: relative; height: 56px; }
.pt-checkout-refresh .pt_checkout .phone span.errormessage, .pt-checkout-refresh .pt_checkout .phone div.errormessage { position: absolute; top: 53px; }
.pt-checkout-refresh .pt_checkout #phone1, .pt-checkout-refresh .pt_checkout #phone2 { float: left; margin-right: 10px; text-align: center; width: 44px; }
.pt-checkout-refresh .pt_checkout #phone3 { float: left; text-align: center; width: 96px; }
.pt-checkout-refresh div.errormessage, .pt-checkout-refresh span.errormessage { font-family: "Arial", sans-serif; font-weight: 700; float: left; font-size: 11px; float: left; width: 100%; }
.pt-checkout-refresh .contact_fieldset { width: 100%; }
.pt-checkout-refresh .contact_fieldset .formfield.phone.daytime .label { font-size: 14px; padding-bottom: 3px; font-weight: 400; }
.pt-checkout-refresh .cb_billing, .pt-checkout-refresh .cb_shipping, .pt-checkout-refresh .billing_shipping { clear: both; display: inline-block; margin: 3px 0px 0px 0px; width: 100%; float: left; }
.pt-checkout-refresh .cb_billing .formfield { margin-bottom: 5px; }
.pt-checkout-refresh .billing_shipping #shipping_message_block { display: block; font-size: 14px; margin-bottom: 26px; font-weight: 400; }
.pt-checkout-refresh .billing_shipping .selectbox { width: 130px; }
.pt-checkout-refresh .billing_shipping .checkbox { clear: both; float: left; margin-left: 10px; margin-bottom: 15px; width: 220px; }
.pt-checkout-refresh .billing_shipping .checkbox .checkinput { float: left; position: relative; vertical-align: middle; margin: 0; }
.pt-checkout-refresh .billing_shipping .checkbox label { margin-left: 4px; float: right; margin-top: -1px; width: 200px; }
.pt-checkout-refresh .paymentInformation { border: 0px solid #cccccc; margin: 0px; width: 100%; float: left; }
.pt-checkout-refresh .paymentInformation h5 { color: #333; font-size: 14px; font-weight: bold; padding: 12px 0 10px; text-transform: uppercase; font-family: "Arial", sans-serif; }
.pt-checkout-refresh .paymentInformation .checkout_box { margin-bottom: 0px; overflow: hidden; }
.pt-checkout-refresh .paymentInformation .requiredindicator { color: #FF0000; font-size: 11px; font-weight: bold; position: relative; top: -3px; }
.pt-checkout-refresh .paymentInformation .agree_box { float: left; text-align: left; width: 90%; position: relative; font-size: 12px; padding: 10px 10px 0px 0px; }
.pt-checkout-refresh .paymentInformation .agree_box .checkbox { float: left; width: 20px; margin-right: 3px; }
.pt-checkout-refresh .paymentInformation .agree_box .checkbox label { display: none; }
.pt-checkout-refresh .paymentInformation .agree_box .checkbox span.errormessage { left: 11px; position: absolute; top: -10px; width: 249px; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard { float: left; width: 525px; font-size: 13px; font-weight: 400; font-family: "Arial", sans-serif; margin-top: 1px; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard .terms-condition-overlay { color: #2d2b62; text-decoration: underline; border: none; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard .terms-condition-overlay:hover { text-decoration: none; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard .terms-condition-overlay:active, .pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard .terms-condition-overlay:visited, .pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard .terms-condition-overlay:selected, .pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard .terms-condition-overlay:focus { outline: none; border: none; }
.pt-checkout-refresh .paymentInformation .agree_box #termsAndConditionCreditCard .termscontent { margin-left: -22px; padding-top: 3px; }
.pt-checkout-refresh .paymentInformation .indicatesRequiredField { float: left; margin: 10px 0 0 10px; }
.pt-checkout-refresh .paymentInformation .checkout_box_inner { margin-bottom: 0px; }
.pt-checkout-refresh .formfield.payment_method, .pt-checkout-refresh .formfield.payLater_number { height: auto; }
.pt-checkout-refresh .expiration_date { clear: both; margin: 0 0 10px 0px; }
.pt-checkout-refresh .expiration_date .month { margin-right: 0px; width: 138px; float: left; }
.pt-checkout-refresh .expiration_date .year { margin-right: 0px; float: left; width: 138px; }
.pt-checkout-refresh .expiration_date .year select { width: 120px; }
.pt-checkout-refresh .expiration_date #paymentinfoerrors { width: 100%; }
.pt-checkout-refresh .expiration_date #paymentinfoerrors .errormessage { float: left; width: 100%; }

.cartFooter { float: left; padding-top: 6px; width: 100%; }
.cartFooter .moneyBack { float: left; margin-top: 17px; width: 86px; }
.cartFooter .cartcopywright { margin: 33px 0; font-weight: 400; width: 77%; font-size: 10px; line-height: 18px; }
.cartFooter .cartcopywright img { margin-right: 5px; margin-top: -1px; }

sup { position: relative; top: -0.7em; font-size: 60%; }

b { font-weight: bold; }

.dropdown { color: black !important; }

.loading { height: 1px; min-height: 1px; padding-top: 0px; background: url("../images/ajax-loader-small.gif") 90px center no-repeat; }

ul { float: left; width: 100%; position: relative; }
ul.sasKits > li { width: 470px; }
ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 470px; text-align: center; left: 0px; text-transform: none; }
ul.sasKits > li .selected > span { font-family: "Arial", sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
ul.sasKits > li .selected > span strong { font-weight: 400; }
ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
ul.sasKits > li.updatecartbtn.active, ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
ul.sasKits > li.updatecartbtn.active .selected, ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
ul.sasKits > li .selected { width: 470px; }

/* flexible column for gifts and kits */
.column2 ul { float: left; width: 100%; }
.column2 ul.sasKits > li { width: 470px; }
.column2 ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 470px; text-align: center; left: 0px; text-transform: none; }
.column2 ul.sasKits > li .selected > span { font-family: "Arial", sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
.column2 ul.sasKits > li .selected > span strong { font-weight: 400; }
.column2 ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column2 ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column2 ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
.column2 ul.sasKits > li.updatecartbtn.active, .column2 ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
.column2 ul.sasKits > li.updatecartbtn.active .selected, .column2 ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
.column2 ul.sasKits > li .selected { width: 470px; }

.column3 ul { float: left; width: 100%; }
.column3 ul.sasKits > li { width: 310px; }
.column3 ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 310px; text-align: center; left: 0px; text-transform: none; }
.column3 ul.sasKits > li .selected > span { font-family: "Arial", sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
.column3 ul.sasKits > li .selected > span strong { font-weight: 400; }
.column3 ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column3 ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column3 ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
.column3 ul.sasKits > li.updatecartbtn.active, .column3 ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
.column3 ul.sasKits > li.updatecartbtn.active .selected, .column3 ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
.column3 ul.sasKits > li .selected { width: 310px; }

.column4 ul { float: left; width: 100%; }
.column4 ul.sasKits > li { width: 230px; }
.column4 ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 230px; text-align: center; left: 0px; text-transform: none; }
.column4 ul.sasKits > li .selected > span { font-family: "Arial", sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
.column4 ul.sasKits > li .selected > span strong { font-weight: 400; }
.column4 ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column4 ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column4 ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
.column4 ul.sasKits > li.updatecartbtn.active, .column4 ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
.column4 ul.sasKits > li.updatecartbtn.active .selected, .column4 ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
.column4 ul.sasKits > li .selected { width: 230px; }

.column5 ul { float: left; width: 100%; }
.column5 ul.sasKits > li { width: 182px; }
.column5 ul.sasKits > li .selected { height: 39px; background: url("../images/inline/you-selected-bg.png") no-repeat 0px 1px #337aa9; font-size: 1.4em; color: #fff; display: block; width: 182px; text-align: center; left: 0px; text-transform: none; }
.column5 ul.sasKits > li .selected > span { font-family: "Arial", sans-serif; font-size: 17px; font-weight: 400; height: 39px; line-height: 39px; padding-left: 43px; float: left; text-align: left; }
.column5 ul.sasKits > li .selected > span strong { font-weight: 400; }
.column5 ul.sasKits > li.active:hover .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column5 ul.sasKits > li.active .selected { background: url("../images/inline/you-selected-bg.png") no-repeat 0px -36px #8c149d; }
.column5 ul.sasKits > li.updatecartbtn { float: left; height: auto; position: relative; cursor: pointer; margin: 3px 4px; padding-bottom: 2px; border: 1px solid #cccccc; }
.column5 ul.sasKits > li.updatecartbtn.active, .column5 ul.sasKits > li.updatecartbtn:hover { border: 3px solid #8c149d; margin: 4px 2px; padding-bottom: 0px; border-top: 0px solid #8c149d; }
.column5 ul.sasKits > li.updatecartbtn.active .selected, .column5 ul.sasKits > li.updatecartbtn:hover .selected { background-color: #8c149d; }
.column5 ul.sasKits > li .selected { width: 182px; }

.column3 .giftImage { width: auto !important; }
.column3 .giftSection { width: 48% !important; padding: 30px 10px 0px 0px !important; }
.column3 .giftSection .favoriteContainer { background-size: 100% !important; width: 95% !important; }

.column4 .selectKit .sasLongDescription { min-height: 376px !important; }
.column4 .selectKit .sasLongDescription .allNew { font-size: 14px !important; }
.column4 .selectKit .sasLongDescription .allNew span { font-size: 12px !important; }
.column4 .selectKit .sasLongDescription .allNew .price-text { font-size: 14px !important; }
.column4 .selectKit .bestValue { width: 54px !important; background-size: 100% !important; }
.column4 .giftImage { width: auto !important; }
.column4 .giftSection { width: 39% !important; padding: 30px 10px 0px 0px !important; }
.column4 .giftSection .favoriteContainer { background-size: 100% !important; width: 95% !important; }
.column4 .giftSection .rightContent h3 { font-size: 15px !important; }
.column4 .giftSection span.paidStatus { font-size: 14px !important; }
.column4 .giftSection .content p { font-size: 12px !important; }

/* feeds pop up css */
#moreInfo, #overlayOpenSas { font-family: "Arial", sans-serif; padding: 10px 25px; background: #FFF; }

#moreInfo { font-family: "Arial", sans-serif; padding: 0px 10px 10px; background: #FFF; }

.popupOverlay-outer #moreInfo { height: 600px !important; min-height: 500px !important; padding: 25px 10px 10px; }

.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 0; top: 14px; }

.ui-dialog .ui-dialog-titlebar-close .ui-icon { background: url("../images/inline/popup-close.jpg") no-repeat !important; height: 15px; position: absolute; right: -4px; top: 0px; width: 15px; }

#moreInfo #tabs .float-left { float: left; }

#moreInfo #tabs .float-right { float: right; }
