/* adjustments needed for celebrity spotlight */
	.successNav {
		margin-left: -5px;
	}

/* =Section Titles
-----------------------------------------------------*/
#main #primaryContent .contain {
	padding:0px;
}

#celebrityProfile{
	padding:0px 10px 20px;
	margin-top:-20px;
}

#main #primaryContent #celebrityProfile h3 {
	border-bottom:none;
	margin: 0 0 0 120px;
	width: 143px;

}

#main #primaryContent #celebrityProfile h3 a {
	height: 10px;
	margin-top:30px;
	padding: 25px 0 5px 0;
	color:#A18D53;
	font-weight:normal;
	font-size:14px;
	border-bottom:1px dotted #A18D53;
	position:relative;
	top:25px;
}
#main #primaryContent #celebrityProfile h3 a:hover{
	border-bottom:1px dotted #4e4d4b;
	color:#4e4d4b;
}
#main #primaryContent #celebrityProfile h3.cp_13{
	margin:0;
}
#main #primaryContent #celebrityProfile h3.cp_13 a {
	position:relative;
	top:0px;
}
#main #primaryContent #celebrityProfile h3.cp_13 a:hover {
	color:#A18D53;
}
.jhtext{
	width:266px;
	float:left;
	margin-left:10px;
}
#main #primaryContent #celebrityProfile li .jhtext p{
	line-height:18px;
}
.kptext img{
	margin:20px 0;
}
.kptext{
	float:left;
	width:270px;
}
#main #primaryContent #celebrityProfile li{
	border-top:1px solid #4e4d4b;
	padding: 10px 0;
	width: 630px;
}
#main #primaryContent #celebrityProfile li div.img {
	float: left;
	width: 288px;
}

#main #primaryContent #celebrityProfile li img {
	border:1px solid #999999;
	float:left;
}
#main #primaryContent #celebrityProfile li div.text{
	margin-left: 289px;
}
#main #primaryContent #celebrityProfile li p {
	margin-bottom: 5px;
}
/*bottom bits (same styles as customer care)*/
#orderProactiv {
	margin:0pt 228px 0pt 0pt;
	width: 440px;
	float:left;
	margin:0;
}
#orderProactiv .blockContent {
	padding:0px;
	width:440px;
}

#page_celebrity .blockContent .orderContent {
	background:transparent url(../images/customer-care/care-ordernow-img.jpg) no-repeat scroll left top;
	height:154px;
	margin:0pt 0pt 0pt 1px;
	overflow:hidden;
}

#page_celebrity .blockContent .orderContent h4 {
	background:transparent url(../images/celebrity-75.png) no-repeat scroll 0pt -974px;
	margin:32px 0pt 0pt 192px;
	padding:0px 0pt 0pt;
	text-indent:-99999px;
	width:217px;
}

#page_celebrity .blockContent .orderContent h5 {
	background:transparent url(../images/celebrity-75.png) no-repeat scroll 0pt -1042px;
	height:36px;
	margin:0pt 0pt 0pt 192px;
	padding:10px 0pt 0pt;
	text-indent:-99999px;
	width:217px;
}

#page_celebrity .blockContent .orderContent a.buttonOrderNow {
	background:transparent url(../images/interface/btn-w-6.0-7.0.png) no-repeat scroll left top;
	display:block;
	height:21px;
	margin:15px 0pt 20px 192px;
	text-indent:-99999px;
	width:159px;
}

#page_celebrity .blockContent .orderContent a.buttonOrderNow:hover {
	background-position:-300px 0pt;
}

/*bonus*/
.contain #orderBonus {
	float:right;
	width:223px;
	overflow:hidden;
}

#orderBonus .blockContent {
	height:151px;
}

#orderBonus .blockContent .bonusContent {
	position:relative;
}

#orderBonus .blockContent .bonusContent h4 {
	background:transparent url(../images/customer-care/order-now-bonus-h4.png) no-repeat scroll left top;
	height:51px;
	margin:0pt 0pt 0pt 60px;
	text-indent:-99999px;
	width:139px;
}

#orderBonus .blockContent .bonusContent img {
	left:1px;
	position:absolute;
	top:1px;
}

#orderBonus .blockContent .bonusContent ul {
	margin:10px 0pt 0pt;
}

#orderBonus .blockContent .bonusContent ul li {
	border-bottom:1px solid #D6D6D6;
	padding:8px 10px 8px 40px;
	line-height: 1.2em;
}

#orderBonus .blockContent .bonusContent ul li.l1 {
	background:transparent url(../images/customer-care/bonus_1.png) no-repeat scroll 12px 5px;
	border-top:1px solid #D6D6D6;
}

#orderBonus .blockContent .bonusContent ul li.l2 {
	background:transparent url(../images/customer-care/bonus_2.png) no-repeat scroll 12px 5px;
}

/* Celebrity stories*/
#main #primaryContent.celebrity-spotlight{
	width: 675px;
	overflow: hidden;
	float: right;
}

#main #primaryContent.celebrity-spotlight .pageHead {
	margin:35px 0 0 14px;
	padding:0px;
	float:left;
	width: 174px;
	display: inline;
}
#page_avril-lavigne #main #primaryContent.celebrity-spotlight .pageHead,
#page_caroline-wozniacki #main #primaryContent.celebrity-spotlight .pageHead{
	margin:0px 0 0 14px;
	padding:0px;
	float:left;
	width: 600px;
	display: block;
}
#page_avril-lavigne #main #primaryContent.celebrity-spotlight .pageHead p.intro,
#page_avril-lavigne #main #primaryContent.celebrity-spotlight .pageHead h1,
#page_avril-lavigne #main #primaryContent.celebrity-spotlight .pageHead .blurb{
	width:178px;
}
#page_caroline-wozniacki #main #primaryContent.celebrity-spotlight .pageHead p.intro,
#page_caroline-wozniacki #main #primaryContent.celebrity-spotlight .pageHead h1,
#page_caroline-wozniacki #main #primaryContent.celebrity-spotlight .pageHead .blurb{
	float:left;
	margin-left:100px;
	width:256px;
}
#page_avril-lavigne #main #primaryContent.celebrity-spotlight .pageHead h1,
#page_caroline-wozniacki #main #primaryContent.celebrity-spotlight .pageHead h1{
	width:120px;
	line-height:24px;
	margin-top: 100px;
}
#page_avril-lavigne #main #primaryContent.celebrity-spotlight .pageHead img{
	float:right;
	margin-top:-290px;
}
#page_caroline-wozniacki #main #primaryContent.celebrity-spotlight .pageHead img{
	float:left;
	margin-top:20px;
}
#page_julianne-hough #main #primaryContent.celebrity-spotlight .pageHead {
	padding:55px 40px 0 340px;
	width:300px;
	background:url(../images/celebrity/jh-banner.jpg) no-repeat;
	float:left;
	height:312px;
	margin:-5px 0 0 -2px;
	display:block;
}
#page_mandy-moore #main #primaryContent.celebrity-spotlight .pageHead {
	background:url("../images/celebrity/mandy-header-bg.jpg") no-repeat scroll 0 0 transparent;
	display:block;
	float:left;
	height:362px;
	margin:-5px 0 40px -2px;
	padding:20px 10px 0 217px;
	width:451px;
}
#main #primaryContent.celebrity-spotlight h1,
#main #primaryContent.celebrity-spotlight .pageHead h1{
	margin-bottom: 7px;
	font-size:26px;
	line-height:30px;
}
#main #primaryContent.celebrity-spotlight .contain{
	float:right;
	margin-right:33px;
	position:relative;
	width:417px;
	display: inline;
}
#page_julianne-hough #main #primaryContent.celebrity-spotlight .contain{
	float:left;
	margin-right:40px;
	position:relative;
	width:305px;
	display: block;
}
#page_mandy-moore #main #primaryContent.celebrity-spotlight .contain{
	float:left;
	margin-right:40px;
	position:relative;
	width:296px;
	display: block;
}
#page_avril-lavigne #main #primaryContent.celebrity-spotlight .contain{
	float:left;
	margin-right:40px;
	position:relative;
	width:240px;
	margin-left:18px;
	display: block;
	padding-top:30px;
}
#page_caroline-wozniacki #main #primaryContent.celebrity-spotlight .contain{
	float:left;
	margin-right:40px;
	position:relative;
	width:240px;
	margin-left:18px;
	display: block;
	padding-top:30px;
}
#page_caroline-wozniacki div.rightContent{
	width:240px;
	float:left;
	margin-left:60px;
	padding-top:30px;
}
#page_avril-lavigne div.rightContent{
	width:240px;
	float:left;
	margin-left:60px;
	padding-top:30px;
}
#page_julianne-hough #main p,
#page_mandy-moore #main p,
#page_avril-lavigne #main p {
	line-height:20px;
}
#main #primaryContent.celebrity-spotlight .pageHead .blurb{
	line-height: 1.285em;
	color:#757777;
	margin-bottom: 28px;
	font-size:11px;
}
#main #primaryContent.celebrity-spotlight .pageHead .intro{
	line-height: 1.285em;
}
.multimedia{
	margin-bottom: 30px;
	overflow:auto;
	width: 417px;
	
}
div.disclaimer{
	font-size:10px;
	text-align:center;
}
.multimedia img,
.multimedia .video{
	float:left;
}
.multimedia .video{
	margin-left: 10px;
}
	#main .block.nav .blockContent ul li a, #main .block.nav .blockContent ul li ul li a, #main .block.nav .blockContent ul li a, #main .block.nav .blockContent ul li ul li a {
		border:0;
		color:white;
		font-weight:normal;
	}
#main .block.nav .blockContent ul li.l1 a, #main .block.nav .blockContent ul li.l1 a
	{
		color:#e3d8b6;
		font-weight:bold;
	}
#page_jessica-simpson .block.nav .blockContent ul li.l2 a,
#page_avril-lavigne .block.nav .blockContent ul li.l2 a,
#page_jenna-fischer .block.nav .blockContent ul li.l4 a,
#page_mandy-moore .block.nav .blockContent ul li.l3 a,
#page_melissa-claire-egan .block.nav .blockContent ul li.l5 a,
#page_justin-bieber .block.nav .blockContent ul li.l6 a,
#page_kevin-kasper .block.nav .blockContent ul li.l7 a,
#page_serena-williams .block.nav .blockContent ul li.l8 a,
#page_jennifer-berry .block.nav .blockContent ul li.l9 a,
#page_chrishell-stause .block.nav .blockContent ul li.l10 a,
#page_julianne-hough .block.nav .blockContent ul li.l11 a,
#page_alyssa-milano .block.nav .blockContent ul li.l12 a,
#page_caroline-wozniacki .block.nav .blockContent ul li.l8 a,
#page_katy-perry .block.nav .blockContent ul li.l13 a
{
			color:#e3d8b6;

}
.body_celebrity .block.nav .blockContent ul{
	background:#4e4d4b;
}
#page_katy-perry #main #primaryContent.celebrity-spotlight .contain{
	float:none;
	margin-right:20px;
	position:relative;
	width:100%;
	display: inline;
}
#page_katy-perry #main #primaryContent.celebrity-spotlight .contain .left{
	float:left;
	width:320px;
	margin-right:30px;
}
#page_katy-perry #main #primaryContent.celebrity-spotlight .contain .right{
	float:right;
	width:320px;
	margin-top:40px;
}
#page_katy-perry #main #primaryContent.celebrity-spotlight .contain .left h1{
	font-weight:normal;
	font-size:14px;
	text-transform:uppercase;
	margin-top:0;
}
#page_katy-perry #main #primaryContent.celebrity-spotlight .contain p.quote{
	background:url(../images/celebrity/quotebg.jpg) no-repeat;
	width:227px;
	height:128px;
	padding:20px;
	font-size:13px;
	margin:23px;
}
#page_mandy-moore #main #primaryContent.celebrity-spotlight .contain p.quote{
	background:url(../images/celebrity/quotebg.jpg) no-repeat;
	width:227px;
	height:128px;
	padding:20px;
	font-size:13px;
	margin:23px;
}
#page_katy-perry #main #primaryContent.celebrity-spotlight .contain p.quote span.sig{
	display:block;
	float:right;
	margin-top:10px;
}
#page_katy-perry #main #primaryContent.celebrity-spotlight .contain p.quote span.quote{
	color:#c1d9cd;
	font-size:14px;
	font-weight:bold;
}
#page_mandy-moore #main #primaryContent.celebrity-spotlight .contain p.quote span.sig{
	display:block;
	float:right;
	margin-top:10px;
}
#page_mandy-moore #main #primaryContent.celebrity-spotlight .contain p.quote span.quote{
	color:#c1d9cd;
	font-size:14px;
	font-weight:bold;
}
#page_mandy-moore #main #primaryContent div.rightSide{
	float:right;
	width:335px;
}
#page_mandy-moore #main #primaryContent div.rightSide p {
	padding:0 20px 0 35px;	
}
h1 sup {
	font-size:50%;
	font-weight:100;
	position:relative;
	top:-12px;
}
.jh3 {
	margin-top:3px;
	padding-bottom:20px;
}
/* Justin bieber Celebrity Page CSS*/
#page_justin-bieber #main #primaryContent.celebrity-spotlight .pageHead{
	margin:0px 0 0 px;
	padding:0px;
	float:left;
	width: 600px;
	display: block;
	position:relative;
	top:-30px;
}
#page_justin-bieber #main #primaryContent.celebrity-spotlight .pageHead p.intro,																			 
#page_justin-bieber #main #primaryContent.celebrity-spotlight .pageHead h1,
#page_justin-bieber #main #primaryContent.celebrity-spotlight .pageHead .blurb{
	width:178px;
}
#page_justin-bieber #main #primaryContent.celebrity-spotlight .pageHead h1{
	width:120px;
	line-height:24px;
}
#page_justin-bieber #main #primaryContent.celebrity-spotlight .pageHead img{
	left:325px;
	position:absolute;
	top:-40px;
}
#sweepstakes{
	position:relative;
	top:-5px;
	left:-0px;
}
#page_justin-bieber #main #primaryContent.celebrity-spotlight .contain{
	float:left;
	margin-right:40px;
	position:relative;
	width:240px;
	margin-left:18px;
	display: block;
	padding-top:30px;
	top:-30px;
}
#page_justin-bieber div.rightContent{
	width:240px;
	float:left;
	margin-left:60px;
	padding-top:0px;
	position:relative;
	top:50px;
}
#page_justin-bieber #main p{
	line-height:20px;
}
#results {
	font-size:10px;
}
#biggreenlink{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
/* End Justin bieber */
/* Justin bieber sweepstakes */
#page_justin-bieber-sweepstakes #container{
	background:url(../images/celebrity/justin/sweepstakes/jb_ss_background.jpg) top left no-repeat;
	height:1320px;
	width:700px;
	margin-left:-15px;
}
#page_justin-bieber-sweepstakes #container .fb_like{
	position:relative;
	width:250px;
	height:30px;
	top:155px;
	left:310px;
}
#page_justin-bieber-sweepstakes #container .omg_justin{
	position:relative;
	width:320px;
	height:100px;
	top:210px;
	left:310px;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:18px;
	color:#007662;
}
#page_justin-bieber-sweepstakes #container .hollywood{
	position:relative;
	width:320px;
	height:100px;
	top:340px;
	left:60px;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:18px;
	color:#007662;
}
#page_justin-bieber-sweepstakes #container .thankful{
	position:relative;
	width:395px;
	height:170px;
	top:510px;
	left:275px;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:17px;
	font-style:italic;
	line-height:normal;
	color:#007662;
}
#page_justin-bieber-sweepstakes #container .concert{
	position:relative;
	width:320px;
	height:80px;
	top:730px;
	left:320px;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:18px;
	color:#007662;
}
/* End Justin bieber sweepstakes*/

/* Jenna fischer Celebrity Page CSS*/
#page_jenna-fischer #main #primaryContent.celebrity-spotlight .pageHead {
	margin:0px 0 0 px;
	padding:0px;
	float:left;
	width: 600px;
	display: block;
	position:relative;
}
#page_jenna-fischer #main #primaryContent.celebrity-spotlight .pageHead p.intro,																			 
#page_jenna-fischer #main #primaryContent.celebrity-spotlight .pageHead h1,
#page_jenna-fischer #main #primaryContent.celebrity-spotlight .pageHead .blurb{
	width:178px;
}
#page_jenna-fischer #main #primaryContent.celebrity-spotlight .pageHead img{
	left:275px;
	position:absolute;
	top:-40px;
}
#page_jenna-fischer #main #primaryContent.celebrity-spotlight .contain{
	float:left;
	margin-right:40px;
	position:relative;
	width:240px;
	margin-left:18px;
	display: block;
	padding-top:30px;
}
#page_jenna-fischer div.rightContent{
	width:240px;
	float:left;
	margin-left:60px;
	padding-top:0px;
	position:relative;
	top:100px;
}
#page_jenna-fischer div.rightContent{
	top:270px;
	margin-left:65px;
}
#page_jenna-fischer div.rightContent{
	top:270px;
	margin-left:65px;
}
/* End Jenna fischer */
#main a.ordersystem{
	background:url(../images/aboutpa/ordersystem.png) no-repeat bottom;
	width:188px;
	height:22px;
	text-indent:-99999px;
	display:block;
	margin:0 auto;
	margin-top:0px;
	margin-bottom:60px;
}
#main a.ordersystem:hover{
	background-position:top;
}
#jbSell{
	color:#015c73;
	width:610px;
	background: url(../images/celebrity/jb-banner.jpg) no-repeat;
	height:176px;
	margin:30px 20px;
	width:390px;
	position:relative;
	padding-left:220px;
	padding-top:25px;
}
#jbSell h5{
	color:#1b748a;
	font-size:22px;
	text-transform:uppercase;
	letter-spacing:-1px;
	line-height:26px;
}
#jbSell h5 .orange{
	color:#ff9c00;
}
#jbCta{
	background:url(../images/celebrity/jb-order-button.png) no-repeat top;
	height:45px;
	width:140px;
	display:block;
	position:absolute;
	right:16px;
	top:30px;
}
#jbCta:hover{
	background:url(../images/celebrity/jb-order-button.png) no-repeat bottom;
}
#page_justin-bieber #main p.description,#page_justin-bieber-sweepstakes #main p.description{
	font-size:12px;
	width:190px;
	line-height:15px;
	margin-top:12px;
}
#page_justin-bieber #main p.promo,#page_justin-bieber-sweepstakes #main p.promo{
	color:#1B748A;
	font-size:13px;
	font-weight:bold;
	position:absolute;
	right:22px;
	text-align:right;
	top:85px;
	width:150px;
	letter-spacing:-0.01em;
}
#page_justin-bieber #main p.promo .orange,#page_justin-bieber-sweepstakes #main p.promo .orange{
	color:#ff9c00;
}
#page_justin-bieber #main p.promo .bigger,#page_justin-bieber-sweepstakes #main p.promo .bigger{
	font-size:20px;
}
#blockLink{
	height:100%;
	width:100%;
	display:block;
	position:absolute;
	left:0px;
	top:0px;
}

/* Landing page */
.celebritytext{width: 220px; position: absolute; left: 230px; top: 0; color: white;}
.celebritytext .titleline1{font: 58px Arial, Helvetica, sans-serif; font-weight: bold;}
.celebritytext .titleline2{font: 59px Arial, Helvetica, sans-serif; margin-top: -10px;}
.celebritytext .blurb{margin-bottom: 1em;}
.c-video{margin-bottom: 1em;}
.celebrityvideo{display: none;}
.resultsvary{font-size: x-small; color: #8E8E8E;}

.fb iframe{overflow: hidden; width: 100%; padding: 5px 5px 0 5px; height: 30px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: white; text-align: center;}

.toggler{}
.toggler .body{margin-bottom: 10px; line-height: 1.335em;}
.toggler .short{}
.toggler .short .body{font-size: large;}
.toggler .full{display: none;}
.toggler .link a{color: #CD0000; text-decoration: underline; border-bottom: 0px;}