

/* =Main 
-----------------------------------------------------*/
/*7.0 titles*/

.customercare #main #primaryContent h1 {

}
.customercare.productquestions #main #primaryContent h1 {
}
.customercare.medicalquestions #main #primaryContent h1 {
}
.customercare.usage #main #primaryContent h1 {
}
.customercare.clearskinclub #main #primaryContent h1 {
}
.customercare.purchasing-and-returns #main #primaryContent h1 {
}
.customercare.myaccount #main #primaryContent h1 {
}
.customercare.security-privacy #main #primaryContent h1 {
}
.customercare.technicalquestions #main #primaryContent h1 {
}
.customercare.glossary #main #primaryContent h1 {

}
.customercare.aboutus #main #primaryContent h1 {
}
.customercare.contact #main #primaryContent h1 {
}

.customercare #main #primaryContent h2,
.customercare.productquestions #main #primaryContent h2 ,
.customercare.medicalquestions #main #primaryContent h2,
.customercare.usage #main #primaryContent h2,
.customercare.clearskinclub #main #primaryContent h2,
.customercare.purchasing-and-returns #main #primaryContent h2,
.customercare.myaccount #main #primaryContent h2,
.customercare.security-privacy #main #primaryContent h2,
.customercare.technicalquestions #main #primaryContent h2,
.customercare.glossary #main #primaryContent h2,
.customercare.aboutus #main #primaryContent h2,
.customercare.contact #main #primaryContent h2
{
	display:none;
}

/*.body_customercare #main #primaryContent .pageHead {
	margin: 30px 20px 0px;
	padding: 0pt 0pt 4px;
}*/
.body_customercare #main #primaryContent h1 {
}
	
/*Landing page*/

#questionlist { 
	width: 98.5%; 
}
	
* html #questionlist .blockContent { 
	margin-top:-3px; 
}
#questionlist .blockContent dt{ 
	float: left; 
	width:170px; 
	text-align:left; 
	font-weight:bold; 
	padding:3px 0; 
	margin:0px; 
}
#questionlist .blockContent dd{ 
	margin:0 0 0 180px; 
	padding:3px 0; 
	font-size:0.95em; 
}

#orderBlock{ 
	width: 98.5%; 
}
#orderBonus{ 
	width:225px; 
	float:right; 
}
#orderBonus .blockContent{ 
	height:151px; 
	overflow:hidden; 
}
	
#orderBonus .blockContent .bonusContent { 
	position:relative;
}

#orderBonus .blockContent .bonusContent h4 { 
	text-indent: -99999px; 
	background: url(../../../img/customer-care/order-now-bonus-h4.png) top left no-repeat; 
	width:139px; 
	height:51px;
	margin:0 0 0 60px; 
}

#orderBonus .blockContent .bonusContent img { 
	position:absolute; 
	top:1px; 
	left:1px;
}
* html #orderBonus .blockContent .bonusContent img { 
	left:-60px;
}
* html .body_customercare #orderBonus .blockContent .bonusContent img { 
	left:1px;
}
#orderBonus .blockContent .bonusContent ul {
	 margin:10px 0 0;
}

#orderBonus .blockContent .bonusContent ul li { 
	border-bottom:1px solid #d6d6d6; 
	padding:8px 10px 8px 40px; 
	line-height: 1.2em;
}

#orderBonus .blockContent .bonusContent ul li.l1 { 
	border-top:1px solid #d6d6d6; 
	background: url(../../../img/customer-care/bonus_1.png) no-repeat 12px 5px; 
}

#orderBonus .blockContent .bonusContent ul li.l2 { 
	background: url(../../../img/customer-care/bonus_2.png) no-repeat 12px 5px; 
}

#orderWen {
	width:431px; 
	margin:0 228px 0 0; 
}

#orderWen .blockContent { 
	padding:0px;
}

#orderWen .blockContent .orderContent { 
	background:url(../../../img/customer-care/care-ordernow-img.jpg) top left no-repeat;
	margin:0 0 0 1px;
}

#orderWen .blockContent .orderContent h4 { 
	text-indent: -99999px; 
	background: url(../../../img/customer-care/order-wen-solution-h4.png) bottom left no-repeat; 
	padding:21px 0 0 0; 
	margin: 0 0 0 192px; 
	width:217px; 
}

#orderWen .blockContent .orderContent h5 { 
	text-indent: -99999px; 
	background: url(../../../img/customer-care/order-wen-solution-h5.png) bottom left no-repeat; 
	padding:10px 0 0 0; 
	margin: 0 0 0 192px; 
	width:217px; 
	height:48px; 
}

#orderWen .blockContent .orderContent a.buttonOrderNow { 
	display: block;
	background: url(../../../img/interface/btn-w-6.0-7.0.png) 0 0 no-repeat;
	width: 159px;
	height: 21px;
	text-indent: -99999px;
	margin: 15px 0 22px 192px;
}

#orderWen .blockContent .orderContent a.buttonOrderNow:hover { 
	background-position: -300px 0;
}


/*Subpages*/

#faqHeader{ 
	margin:0 auto 40px auto; 
	border-top:1px solid #CCC; 
	border-bottom:1px solid #CCC; 
	position:relative; 
	min-height:105px; 
	height:auto !important; 
	height:105px; 
}

#faqList { 
	width:320px;
}
	
#faqList ul { 
	margin:20px 0; 
	list-style:disc; 
}

#faqList ul li{ 
	margin:0 0 0 15px; 
	color: #4e6780; 
	font-weight:bold; 
}
#faqList ul li a { 
	background: url(../../../img/interface/link-dottedline.gif) left bottom repeat-x; 
}

#additionalHelp { 
	width:300px; 
	position:absolute; 
	top:16px; 
	right:10px; 
}

#additionalHelp .block h4{ 
	color:#6c9874; 
}

#additionalHelp .block p{ 
	font-size:0.95em; 
	line-height:1.3em; 
	margin: 0; 
	padding-bottom: 5px;
}

#additionalHelp .block a {
	font-weight: bold;
}

#faqBody{ 

}

#faqBody .faqItem {
	padding-bottom: 5px;
}

#faqBody .faqItem h6, 
#faqBodyCol2 .faqItem h6{ 
	font-weight:bold; 
}


#faqBody .faqItem ul.bulletList {
	margin-left: 20px;
}

#faqBody .faqItem p.note, 
#faqBodyCol2 .faqItem p.note { 
	font-size:0.95em; 
	line-height: 1.3em; 
}

#faqBody .faqItem blockquote, 
#faqBodyCol2 .faqItem blockquote,
#faqBody .faqItem address,
#faqBodyCol2 .faqItem address  { 
	margin:0 0 10px 30px; 
}

#faqBody .faqItem img, 
#faqBodyCol2 .faqItem img { 
	margin:10px 0; 
}

#faqBody .header { 
	background:#adc9af; 
	padding:3px 0; 
}

#faqBody .header h6{ 
	margin:0 10px; 
	color:#FFF; 
	font-weight:bold; 
}

#faqBody .faqItem .blockContent {
	padding: 0 5px;
	overflow: visible;
}

#faqBody .faqItem table#shipping{ 
	margin:2px 0 0 0; 
	width: 625px;
}

#faqBody .faqItem table#shipping, 
#faqBody .faqItem table#shipping td {
	border-collapse: collapse;
}

#faqBody .faqItem table#shipping thead tr td { 
	color:#6c9973; 
	font-weight:bold; 
}

#faqBody .faqItem table#shipping tr td { 
	text-align:left; 
	padding:5px; 
	font-size: 0.95em; 
	line-height: 1.2em;
}

#faqBody .faqItem table#shipping tbody tr td { 
	border-top:1px solid #ccc; 
}

#faqBody .toplink { 
	background: url(../../../img/customer-care/top-link-bg.gif) left center no-repeat; 
	margin-bottom:40px; 
}

#faqBody .toplink.last {
	margin-bottom: 0;
}

#faqBody .toplink a { 
	background: url(../../../img/interface/link-dottedline.gif) left bottom repeat-x; 
	margin:0 0 0 10px; 
	font-size:0.95em; 
	font-weight:bold; 
}

#faqBodyCol1 { 
	width:145px; 
	float:left; 
}

#faqBodyCol2 { 
	margin-left: 160px;
}

.aboutQuote {
	margin: 0 0 50px 0;
}

.aboutQuote blockquote {
	font-style: italic;
	color: #6C9973;
	margin: 10px 0 0 0;
}

.aboutQuote blockquote div {
	text-align: right;
	font-style: normal;
	font-size: 0.95em;
	color: #598560;
}

.contentFooter{
	border: 1px solid #ccc;
	padding: 5px;
	float:left;
	line-height:1.2em;
	margin-top: 5px;
	width: 665px;
}