#header_new .content-nav li#about-acne  div.subnav{width:512px;background:#fff url(../images/topnav/topnav-content-2.gif) right top no-repeat;}
#header_new .content-nav li#about-acne  div.subnav .category{float: left;width: 255px;}
#header_new .content-nav  li:hover div.subnav{display:block;}
#header_new .content-nav li#about-acne  div.subnav .heading {width: 162px;}
#header_new .content-nav li#about-acne  div.subnav .subnav-content {float: right;font-size: 11px;line-height: 16px;width: 162px;}
#header_new .content-nav li#about-acne  div.subnav li a, #header_new li#about-acne div.subnav li {width: 151px;}
#header_new .content-nav li#about-acne  div.subnav .seemore{margin: 20px 0 0; width: 510px;}
#header-category .category-nav li:hover div.subnav{ display:block;z-index: 999999;}
#header_new .content-nav li#success-stories  div.subnav{right:0px;background:#fff url(../images/topnav/topnav-content-3.gif) left top no-repeat;}
#header_new .content-nav li#get-advice  div.subnav{right:0px;background:#fff url(../images/topnav/topnav-content-4.gif) left top no-repeat;}
