body{font: 12px Univers, Arial, Helvetica, sans-serif; color: #999;}

#mainWrapper{margin: 0 auto; width: 1085px;}

#header{background: url(../images/singleproductlandingpage/orange_hr.gif) left bottom no-repeat; padding: 0 0 15px; margin: 10px 0; width: 100%; height: auto;}
#wenlogo{background: url(../images/singleproductlandingpage/pa_logo.gif) left top no-repeat; width: 216px; height: 59px; display: block;}
#wenlogo span{display: none;}
#login{text-align: right; margin-top: -19px; font-size: 12px;}
#login a, #login a:hover{color: #F93; text-decoration: none; font-weight: bold;}
#mainCtn{margin-bottom: 30px;}

#contentheader{background: url(../images/singleproductlandingpage/headline.gif) 445px center no-repeat; height: 66px; margin-top: 10px;}
#content{background: url(../images/singleproductlandingpage/landing_bg_refmask.jpg) left top no-repeat; height: 381px; width: 100%; margin-top: 15px; position: relative;}
#productdesc{position: relative; left: 10px; top: 30px; width: 750px; height: 300px; color: #C4EEEE;}
#productimage{position: absolute; left: 235px; top: -150px; z-index: 10;}
#bv{}

.productdescription{position: relative; width: 240px; text-align: right; font-size: 15px; font-weight: bold;}
.productdescription .small{font-size: 9px; font-weight: bold; margin-bottom: 1em;}
.productimage{position: absolute; left: 235px; top: -150px; z-index: 10;}

#order{position: absolute; top: 25px; right: 40px; width: 250px; font-family: Helvetica, arial; color: white; letter-spacing: .025em;}
#productname{font-size: 23px; line-height: 1.05em; letter-spacing: .025em;}
#productprice{font-size: 33px; font-weight: bold; margin-bottom: 10px;}
#ordernow{}
#ordernow a{display: block; background: url(../images/singleproductlandingpage/orderNowBtn.png) left top no-repeat; width: 219px; height: 56px;}
a.imgbtn{margin-left: -10px;}
a.imgbtn span{display: none;}
#productupsellinfo{margin-bottom: 10px;}
#orderupsell{}
#orderupsell a{display: block; background: url(../images/singleproductlandingpage/getItFreeBtn.png) left top no-repeat; width: 188px; height: 52px;}
.line4{background: url(../images/singleproductlandingpage/line.png) left bottom no-repeat; opacity: .5; margin: 7px 0; height: 1px;}

#footer{text-align: center; margin-top: 100px;}
#links{color: #999;}
#links a{color: #999; text-decoration: none; font-size: 12px;}
#copyright{font-size: 12px; margin-bottom: 5px; clear: both;}
#copyright img{position: relative; top: 5px;}
.splfineprint{width: 40%; margin: 0 auto; text-align: center; font-size: 9px;}