
#page_types #main #primaryContent h3 {
	margin:27px 0 10px;
}

#page_types #main #primaryContent .contain {
	margin-top:-12px;
}
/*Flash Carousel*/

div#flashCarousel {
	width: 655px;
	margin: 0 5px 10px;
}

/*Tertiary Content*/

.primarySidebar .blockGrey{
	padding:3px;
	margin-bottom: 10px;
}

.primarySidebar .blockContent h5 {
	background-repeat: no-repeat;
}

#main #primaryContent .primarySidebar .blockContent p{
	line-height:1.2em;
	font-size:0.95em;
	margin: 5px 0 0 0;
}

.tabBlock {
	margin-bottom: 30px;
}

#page_aboutacne #main #primaryContent h3,
#page_howwenworks #main #primaryContent h3{
	margin: 27px 0px 10px;
}
#page_aboutacne #main #primaryContent .contain {
	margin-top: -27px;
}
#page_anyage #main #primaryContent .contain .primaryBody,
#page_myths #main #primaryContent .contain .primaryBody,
#page_facefitness #main #primaryContent .contain .primaryBody {
	margin-top: -12px;
}
#page_howacnehappens #main #primaryContent .contain .primaryBody h3,
#page_anyage #main #primaryContent .contain .primaryBody h3,
#page_myths #main #primaryContent .contain .primaryBody h3,
#page_facefitness #main #primaryContent .contain .primaryBody h3{
margin:27px 0pt 5px;
}
#page_howacnehappens #main #primaryContent .contain .primaryBody {
margin:-15px 230px 0px 0px;
}
#page_howacnehappens .block.nav .blockContent ul li.l2 li a{
background-position:10px 7px;
}

#page_howacnehappens .block.nav .blockContent ul li.l2 li a:hover{
background-position:10px -93px;
}
#page_howwenworks #main #primaryContent .contain .primaryBody {
margin:-12px 230px 0pt 0pt;
}

#main a.ordersystem{
	background:url(../images/aboutpa/ordersystem.png) no-repeat bottom;
	width:188px;
	height:22px;
	text-indent:-99999px;
	display:block;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:60px;
}
#main a.ordersystem:hover{
	background-position:top;
}
#largePlayer{
height:240px;
width:320px;
margin:0 auto;
margin-bottom:30px;
/*background: url(/swf/flv/img/320x240/pa12_howto_072810_1.jpg) no-repeat;*/
cursor:pointer;
} 