#overlay_howto {font-size: 13px; font-family: Arial,sans-serif; color: #666; max-width: 450px; margin: 0 auto}
#overlay_howto h2{background:transparent url(../images/testimonials/title-howto-overlay.png) no-repeat scroll 0;height:14px;padding-bottom:10px;text-indent:-99999em;margin:0 15px 10px 25px;border-bottom: 1px solid #CCCCCC;}
#overlay_howto .scroller{overflow:auto;max-height:400px;}
#overlay_howto p{margin-bottom:8px;line-height:1.32em;}
#overlay_howto div.tip{color:#6c9973;}
#overlay_howto div.tip p{width:145px;}
#overlay_howto div.tip h4{background:url(../images/testimonials/title_tip.png) 0 20px no-repeat;width:61px;height:18px;text-indent:-99999em;padding-top:20px;margin-bottom:5px}
#overlay_howto div.tip img{float:right;}
#overlay_howto ul li{margin-bottom:10px;}
#overlay_howto ul h3{margin:0;}
#overlay_howto ul p{margin:0 0 8px 0;	